[2022-09-15 19:04] mdelapenya commented on #326
Hi @kishaningithub I'm trying to understand why so many dependencies are used, and why there are 5 vulnerabilities at this moment.

Will add anything I find for my investigation here will.

Thanks!!

### Steps to install the dependencies on Mac:
[code]

Run with:
[code]

Generated file: [graph.svg.zip](https://github.com/testcontainers/testcontainers-go/files/9578151/graph.svg.zip)

[2022-09-16 07:29] Eun commented on #321
I cannot reproduce either! Could be related to new versions of goleak or go or whatever.

However I can remember the case:

In `docker.go` a new `docker.Client` instance gets created in `func NewDockerProvider() (*DockerProvider, error)`.

However, this instance will never be closed.
It should be closed calling [`client.Close`](https://pkg.go.dev/github.com/docker/docker/client#Client.Close)
I thi

[2022-09-16 08:11] mdelapenya commented on #326
@kishaningithub I submitted a partial fix, but I think we seem coupled to containerd, which is the one bringing those three vulnerabilities 🤷

[2022-09-16 08:33] mdelapenya opened #529 "[Enhancement]: retire Go 1.17 from CI"
Go 1.17 is not supported since finished in 02 Aug 2022. See https://endoflife.date/go at 2022-09-16:

<img width="757" alt="Screenshot 2022-09-16 at 10 27 01" src="https://user-images.githubusercontent.com/951580/190593139-fcf0d8d1-2eb2-496c-b035-c3b92f2c442d.png">

### Proposal

My folks @v1v and @kuisathaverat already created an automated manner to bump the Go version. We may do the same as they

[2022-09-16 08:40] kuisathaverat commented on #529
take a look at https://www.updatecli.io/docs/plugins/resource/github_release/ we are testing it for the test clusters and works fine. This is an example to bump the kind version from a GitHub release

[code]

[2022-09-16 09:23] mdelapenya commented on #336
After the release of v0.14.0, tc-go experimentally supports Podman, including some docs (https://golang.testcontainers.org/features/using_podman/). So I'd like to send big kudos to @baez90 for this massive contribution.

OTOH, I'd like to stand with what @rnorth mentioned in https://github.com/testcontainers/testcontainers-go/issues/336#issuecomment-891667819 too: if Podman supports Docker APIs, t

[2022-09-16 09:23] #336 closed

[2022-09-16 09:42] mdelapenya commented on #343
I think we can close this one, as https://github.com/testcontainers/testcontainers-go/pull/468 was merged and released in v0.14.0, but please let us know if you need anything else here and feel free to reopen it.

Thanks for your time!

[2022-09-16 09:42] #343 closed

[2022-09-16 10:41] mdelapenya commented on #379
Indeed. @abayer would you mind explain it a little more what is the use case you described? Could it be that you are lacking container logs when running your own tests?

[2022-09-16 10:55] mdelapenya commented on #399
I moved the settings configuration to a discussion (https://github.com/testcontainers/testcontainers-go/discussions/531)

I'm closing this issue, as the docker sock path it's now configurable, thanks!

[2022-09-16 10:55] #399 closed

[2022-09-16 13:13] franklinlindemberg commented on #246
@mdelapenya thanks for inviting me to the discussion, I'll be happy to contribute.

I'll close this one

[2022-09-16 13:13] #246 closed

[2022-09-16 15:07] #529 closed

[2022-09-16 16:16] szaher opened #532 "[Feature]: RegistryCred multiple private registry credentials support"
### Problem

At the moment testcontainers supports providing registry credentials via `RegistryCred` in `ContainerRequest` but this is problematic when using multiple private docker registries specially with multi-stage docker files.

[code]
### Solution

RegistryCred parameter's type in the container request can be map[string]map[string]string

[code]
or

[code]
### Benefit

It enables support fo

[2022-09-16 16:24] szaher commented on #389
@mehulgohil nice work around, however, I am using multi-stage docker file with multiple private  repositories so another problem is which credential to use at build time...

I added this issue #532 to hopefully support multiple registry creds

[2022-09-18 11:26] Eun commented on #321
I am kinda busy at this moment, so wont make it happen.

[2022-09-21 01:54] robertzhangwenjie opened #533 "[Bug]: Error response from daemon: Container xxx is not running: failed to start container"
### Testcontainers version

v0.14.0

### Using the latest Testcontainers version?

Yes

### Host OS

mac os

### Host Arch

arm64

### Go Version

1.18

### Docker version

[code]

### Docker info

[code]

### What happened?

[code]

### Relevant log output

[code]

### Additional Information

_No response_

[2022-09-26 16:28] mdelapenya commented on #533
Hi @robertzhangwenjie I've identified what's going on here.

I think the issue you are experiencing comes from the base image itself: because an entrypoint is not defined, then the container starts and stops immediately.

You need to pass an entrypoint to the ContainerRequest that keeps the container up and running for ever, so that your wait.ForExec strategy hits the container. Using your own exa

[2022-09-28 09:11] mdelapenya commented on #325
Closing as not reproducible any more. Please let us know if you need anything else from this issue

Thanks!

[2022-09-28 09:11] #325 closed

[2022-09-28 10:52] mdelapenya opened #537 "Rename the `wait/multi.go` file to `wait/all.go`:"
As discussed, we are going to rename the `multi.go` file to `all.go`:
- consistency with Java
- the exposed API is not changed (wait.ForAll)

_Originally posted by @mdelapenya in https://github.com/testcontainers/testcontainers-go/pull/536#discussion_r982250714_

[2022-09-28 13:29] #314 closed

[2022-09-29 10:56] fpozzobon opened #538 "[Bug]: Podman - Reaper creation fails"
### Testcontainers version

0.14.0

### Using the latest Testcontainers version?

Yes

### Host OS

MacOs

### Host Arch

amd64

### Go Version

1.18

### Docker version

[code]

### Docker info

[code]

### What happened?

When Skipping reaper, Podman works correctly, but when trying to create reaper getting error:
`Error response from daemon: container create: statfs /var/run/docker.sock: permis

[2022-09-29 15:01] mdelapenya commented on #488
Hi @nikneroz could you please share your ZIP files so that we can test this with the same inputs?

Thanks!

[2022-09-29 15:03] mdelapenya commented on #488
Apart from that, I've used the build-from-dockerfile feature with sucess very recently, using a similar use case that the one you present here. Please take a look at this: https://github.com/gAmUssA/testcontainers-go-kong/pull/5, more specifically here: https://github.com/gAmUssA/testcontainers-go-kong/pull/5/files#diff-f91d8da8d2500d961843fd0de981ab582130f718af01d224d582a7c8baa9ffc3R22

[2022-09-30 05:55] doubleknd26 opened #540 "[Bug]: NPE when call DockerContainer.State()"
### Testcontainers version

0.13.0

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Go Version

1.18

### Docker version

[code]

### Docker info

[code]

### What happened?

When we call DockerContainer.State() in our test code, the NPE happened. IMHO, It seems because member variable [raw](https://github.com/testcontainers/testcontainers-go/blob/mai

[2022-09-30 18:24] skofli commented on #537
Hey! I would like to work on this issue

[2022-10-01 17:02] #537 closed

[2022-10-03 10:55] fpozzobon commented on #538
@baez90 could it be due to https://github.com/testcontainers/testcontainers-go/blob/6ba6e7a0e4b0046507c28e24946d595a65a96dbf/reaper.go#L64 in which NetworkMode Bridge is hard coded?

[2022-10-03 11:19] mdelapenya commented on #540
@doubleknd26 I'm not able to reproduce this with the current tests. In #543 I'm directly calling the State func of the container, and I double checked that this new code, but applied on top of `v0.13.0` behaves exactly the same.

But looking at the code, the first call to `inspectRawContainer` should error, and consequently raw would be `nil`. And right after that, a call to the State func must pa

[2022-10-03 15:23] doubleknd26 commented on #540
@mdelapenya Hi. It happened intermittently on our Github Action server managed by our company and unfortunately I cannot access the server. But, I'm sure the server doesn't have enough resource like cpu, mem. So I think It is because the container or docker agent itself has been stopped by something.

I tested on my local to check the second case 'docker agent itself has been stopped'. here is a [

[2022-10-03 15:40] mdelapenya commented on #540
Thanks for such detailed report!

That seems correct: at the moment the container exits for any reasons (resource limits?) **before** the inspectRaw func is called, then any call to State should fail.

I'm still in here:

It seems that returning `nil` on error would make sense, although I want to check all possible the implications from that issue.

[2022-10-03 16:23] baez90 commented on #538
@fpozzobon I'd be surprised if the network mode would be a problem regarding recognizing the correct Docker socket for the reaper.

Can you probably provide some more environment information regarding how you configure the Docker socket path in your setup?

It's a bit difficult for me to reproduce as I don't have a Mac 😅

[2022-10-04 09:41] kiview commented on #538
I don't understand the original issue description. It is using Podman on MacOS, but `docker info` suggests Fedora as host. What is the actual setup?

Also Podman is running on `/run/user/1000/podman/podman.sock`, not `/var/run/docker.sock`.

[2022-10-04 13:34] mdelapenya commented on #489
Hi @rohithm-angelone I've been investigating about this issue and I'd like to start telling you I'm not a Redis expert.

I've been checking Redis docs about how to use the cluster in Docker, and found that they recommend special configurations for it, such as using the `host` network for that:

- Go Redis Cluster docs: https://redis.uptrace.dev/guide/go-redis-cluster.html

[code]

- Redis Cluster

[2022-10-04 14:11] mdelapenya opened #545 "[Enhancement]: Add banner when Ryuk is disabled"
### Proposal

This banner will warn the user about unexpected behavior if Ryuk is disabled. See https://github.com/testcontainers/testcontainers-java/pull/5929

The banner should be displayed only once per test execution, so we probably need to change how the reaper is called from the container request: instead of having a field at the request level, it should be a global config:
- a properties at

[2022-10-04 14:53] fpozzobon commented on #538
@kiview thanks for your feedback, it is indeed confusing as Podman is actually running via Qemu on Macos ([here](https://www.redhat.com/sysadmin/podman-mac-machine-architecture) a description of the architecture).
That might be why it is a bit more complex to achieve compared to directly on linux distribution.
So takeaway is that the issue is only on MacOS, reaper works fine with Linux?

[2022-10-04 21:27] eddumelendez opened #546 "[Enhancement]: Log docker server info"
### Proposal

It should be helpful to log something like lines below when running tests using testcontainers-go

[code]

[2022-10-05 03:19] gauravgahlot commented on #546
@mdelapenya I would like to work on it.

[2022-10-05 08:29] mdelapenya opened #549 "[Enhancement]: initialize resources just once"
### Proposal

There is currently much code regarding initialization of the library that is executed per container request:
- get the docker provider
- read the properties file
- define reaper capabilities (image, skip...)
- initialise the container SessionID just once

We should define at least a better abstraction or at least define a singleton to do it just once.

[2022-10-05 12:00] mdonkers opened #551 "[Bug]: MappedPort potentially does not return correct value for IPv6 enabled systems"
### Testcontainers version

0.14.0

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Go Version

1.19

### Docker version

[code]

### Docker info

[code]

### What happened?

Trying to run integration tests for the project https://github.com/ClickHouse/clickhouse-go, it times out as container fails to start up.
Analysing, the startup checks fail becau

[2022-10-05 13:55] baez90 commented on #538
I think I figured out (by chance) what might be a/the problem and now I also understand what @fpozzobon meant with the fixed bridge network :smile: although I'm really surprised that the current test suite doesn't cover that :smile:

I'm not 100% sure if this is the only issue.

@fpozzobon did you see something like this:

when you tried running your tests?

I originally was confused by the

messa

[2022-10-06 04:53] gauravgahlot commented on #513
@mdelapenya Based my interpretation of the comment I have created a PR. Please take a look.

[2022-10-06 05:36] mdelapenya opened #554 "Create system requirements parent docs page for podman and colima"
I'd work in placing both Podman and Colima docs under a System Requirements parent page, like in the Java site: https://www.testcontainers.org/supported_docker_environment/#using-colima

_Originally posted by @mdelapenya in https://github.com/testcontainers/testcontainers-go/pull/547#pullrequestreview-1130907444_

[2022-10-06 05:42] mdelapenya commented on #551
@mdonkers thanks for such detailed report. We appreciate your time

Would you be willing to contribute the enhancement?

[2022-10-06 09:00] mdonkers commented on #551
Hi,

I can give that a shot. But not sure if you have any proposals on your end how the API should look like?

The `wait.ForSQL` method e.g. could take an interface / IP parameter next to the port. But since Golang doesn't allow for method overloading, that either means a backwards incompatible change, or different method name. Same for the `MappedPort` method.

What actually might be easiest, is

[2022-10-06 15:25] hwwwi opened #557 "[Bug]: Wrong container selected when reuse option enabled"
### Testcontainers version

0.14.0

### Using the latest Testcontainers version?

Yes

### Host OS

MAC OS

### Host Arch

ARM

### Go Version

1.18.5

### Docker version

[code]

### Docker info

[code]

### What happened?

# Background
I was running a test with the `reuse` option enabled.
Multiple containers are used at the same time during the test.

# Issue
The problem happened when I use mult

[2022-10-07 10:31] mdelapenya commented on #551
Regarding the SQL host missing, we merged https://github.com/testcontainers/testcontainers-go/pull/524 very recently, although not released yet. Would it resolve that part?

On this, the MappedPort accepts a `nat.Port` parameter, so you could specify a `tcp4/tcp6` port as part of the string representation of the port.

I'm sorry but I'm not following you on this, my bad. Could you please add links

[2022-10-07 14:36] mdonkers commented on #551
I don't think so, as this appears to be the hostname as given by Docker. I think that would still be ambiguous and does not map the interface for which the port is retrieved. See https://github.com/testcontainers/testcontainers-go/blob/4c7956931402514bb2dea5e63c62487480b76e81/docker.go#L153, which just fetches the first port mapping found and does not care for whether the interface is IPv4 or IPv6

[2022-10-10 11:36] mdelapenya commented on #554
Resolved in #562

[2022-10-10 11:36] #554 closed

[2022-10-14 08:32] #513 closed

[2022-10-14 16:02] mdelapenya opened #568 "Use a lookup key based on the container request to find containers to be reused"
@kiview what do you think if we proceed with the merge, and create a discussion/issue to refactor how the reuse container feature works: if I understood correctly, a container should be reused if and only if the _container request_ (Go abstraction) is exactly the same, identified by a unique hash of the struct representing the request.

_Originally posted by @mdelapenya in https://github.com/testc

[2022-10-15 06:31] #557 closed

[2022-10-18 15:38] #489 closed

[2022-10-19 16:29] mdelapenya commented on #210
I think that, since [these docs](https://golang.testcontainers.org/features/wait/introduction/) for wait strategies exist, this question can be closed, or moved to the Slack.

Please reopen if needed, thanks!

[2022-10-19 16:29] #210 closed

[2022-10-19 18:22] jrfeenst opened #572 "[Enhancement]: Add support for capabilties"
### Proposal

Currently I need to use privileged mode to add extra capabilities to my containers. It would be nice to be able to use the docker API CapAdd/CapDrop options.

[2022-10-19 18:51] mdelapenya commented on #572
@jrfeenst I think it was added in #555, although not released yet

[2022-10-19 23:52] #572 closed

[2022-10-20 05:28] mdelapenya commented on #136
BTW, I noticed this was already added in #137. I'm closing this issue as resolved.

Thanks!!

[2022-10-20 05:28] #136 closed

[2022-10-20 05:30] mdelapenya commented on #228
Closing, as `shmSize` can be added since the already released [v0.14.0](https://github.com/testcontainers/testcontainers-go/releases/tag/v0.14.0).

About https://github.com/testcontainers/testcontainers-go/issues/228#issuecomment-1248337770, we can open a new issue for that if needed.

Thanks!

[2022-10-20 05:30] #228 closed

[2022-10-21 23:24] mdelapenya commented on #545
Implemented in #566

[2022-10-21 23:24] #545 closed

[2022-10-22 07:38] mdelapenya opened #578 "Automate the bump of the language at any place"
There are many places that needs to be updated when we bump the Go version, more likely:

- Dockerfiles
- go mod files

Let's create a helper script to basically bump the versions to the desired Go one

_Originally posted by @mdelapenya in https://github.com/testcontainers/testcontainers-go/pull/569#discussion_r1002392526_

[2022-10-22 17:49] mdelapenya opened #579 "Remove codecov"
### Proposal

There a lot of PRs failing that GH check even though the modified files are i.e. only docs

Examples:
- updating Ryuk version, fails codecov https://github.com/testcontainers/testcontainers-go/pull/564
- adding colima docs, fails codecov https://github.com/testcontainers/testcontainers-go/pull/547
- adding contributing guides, fails codecov https://github.com/testcontainers/testconta

[2022-10-23 05:52] misantron commented on #579
Can I take this issue?

[2022-10-23 06:04] misantron commented on #579
Is it enough to comment the job inside CI pipeline or you want completely remove it?

[2022-10-24 10:04] mdelapenya opened #582 "Bump test-summary action to use Node16"
Node12 will be deprecated soon under GHA, and the authors of test-summary have released a new version of the action: https://github.com/test-summary/action/releases/tag/v2.0 (commit: 4ee9ece4bca777a38f05c8fc578ac2007fe266f7)

It will remove the warnings in the GH actions:
https://github.com/testcontainers/testcontainers-go/actions/runs/3311729119
![Image](https://user-images.githubusercontent.com/

[2022-10-24 13:17] kiview commented on #579
@misantron It should be removed, no need to leave it in commented out (it can always be looked up from Git history when necessary).

[2022-10-25 10:03] mdelapenya commented on #425
Given #476 has been merged, I'm closing this issue.

Thanks all for participating in the discussion! 👏

[2022-10-25 10:03] #425 closed

[2022-10-25 10:06] mdelapenya commented on #329
Given #476 has been merged, I'm closing this issue. In there, it's possible to do what is requested in this issue:

[code]

[2022-10-25 10:06] #329 closed

[2022-10-27 17:02] mhatch-nxcr opened #592 "[Bug]: Container reuse fails with "The container name X is already in use by container""
### Testcontainers version

0.15.0

### Using the latest Testcontainers version?

Yes

### Host OS

macOS

### Host Arch

arm64

### Go Version

1.18

### Docker version

[code]

### Docker info

[code]

### What happened?

[code]

Attempting to reuse a postgres container between 2 concurrent tests results in an error that the container is already in use.

### Relevant log output

[code]

### Addi

[2022-10-27 18:12] mdelapenya commented on #592
I was able to reproduce this with:

[code]

[2022-10-27 18:29] mhatch-nxcr commented on #592
Without having inspected the actual code, it seems to me like the testcontainer instance must have some sort of internal state that keeps track of created containers by name. When the tests immediately try to create multiple containers in parallel of the same name, the testcontainer instance's state has not been fully initialized, so it talks directly to docker, and docker returns the error. Conta

[2022-10-27 21:03] mdelapenya commented on #592
This is what I'm currently checking, thanks for pointing out

[2022-10-27 22:33] mdelapenya commented on #592
I have a fix: submitting the PR in 3, 2, 1...

[2022-10-28 18:09] #582 closed

[2022-10-30 07:42] averageflow commented on #592
Is there a new tag coming with this fix? I am having quite some trouble running with t.Parallel(). Why does it give problems even when I don't reuse containers?

[2022-10-31 12:57] paulozenida opened #601 "[Feature]: Allow build image from registries requiring authentication"
### Problem

Currently, it is not possible to build a local Docker image that is built from another one that is fetching from a Docker registry that requires authentication

### Solution

Expose AuthConfig when creating docker requests so that clients may configure the necessary credentials.

### Benefit

It will allow to build Docker images that rely on other Docker images located in registries t

[2022-11-02 13:04] awagner-iq opened #604 "[Bug]: GenericContainer fails when used with podman, unless SkipReaper is true"
### Testcontainers version

0.15.0

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86_64

### Go Version

1.19

### Docker version

[code]

### Docker info

[code]

### What happened?

Using the sample below works when running in Docker, but fails if I use podman via `DOCKER_HOST="unix:///run/user/1000/podman/podman.sock"` (as [recommended here](https://gola

[2022-11-02 14:03] awagner-iq opened #605 "[Bug]: Endpoint() returns "port not found" error, even though wait.ForListeningPort is used"
### Testcontainers version

0.15.0

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86_64

### Go Version

1.19

### Docker version

[code]

### Docker info

[code]

### What happened?

We are seeing test flakes with the error message `mysql.Endpoint() = port not found`. The code we use to create the container is attached below. In particular, we use both `wa

[2022-11-02 17:05] bgranvea opened #606 "[Bug]: can not get logs from container which is dead or marked for removal"
### Testcontainers version

0.15.0

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

amd64

### Go Version

1.19

### Docker version

[code]

### Docker info

[code]

### What happened?

I'm starting a container and waiting for the end of its execution (it is the expected behavior). I also have a log consumer to display what is going on.

[code]

Sometimes the

[2022-11-03 08:43] mdelapenya opened #607 "[Docs]: document networks"
### Proposal

Include docs on how to operate with networks

[2022-11-03 12:38] mdelapenya commented on #604
Hi @awagner-iq as far as I see in the code snippet, the Podman provider is not being set. At this moment, the library is not auto-detecting the docker provider (podman, colima, docker) and for that reason you must pass the PodmanProvider to the container request. You can get more info about using Podman here: https://golang.testcontainers.org/system_requirements/using_podman/

Just to let you know

[2022-11-03 12:52] awagner-iq commented on #604
@mdelapenya I tried that, it does not solve the issue either.

I'd also say this: The site you linked says

(and then gives some details what that means). So I don't think my example should need to specify the `PodmanProvider` explicitly in any case. It doesn't do complex network things.

And having to specify the provider would kind of defeat the purpose of `GenericContainer` to me. We have peopl

[2022-11-03 12:53] awagner-iq commented on #604
From looking at that, you are using podman as root though. That does work for me as well, but it's what I would like to avoid - which is why I want to use podman in the first place :)

[2022-11-03 15:58] mdelapenya opened #609 "Support for authentication when pulling Docker images everywhere"
The project is missing the same mechanism as the one added in #602 for pulling images from private registries in other places.

I wonder if anybody could be interested in contributing the others, such as the Docker Compose code. I can be of any help assisting you identifying where to add it.

[2022-11-03 16:29] mdelapenya commented on #604
and

There is a legacy design in how the library bootstrap certain resources, such as the container provider, and at this moment it requires each container to define the provider. There is an issue to work on that improvement: to initialise those resources just once: i.e. defining the reaper at the config level, same for the container provider. In the meantime we need to explicitly pass the provid

[2022-11-03 17:27] mdelapenya opened #611 "Migrate all code examples in the docs to "codeinclude" plugin"
We have it documented in https://golang.testcontainers.org/contributing_docs/, but it's probably not clear enough.

Because code examples should be connected to the real code/tests, I suggest we should always use this when adding snippets to the docs.

[2022-11-04 09:41] #607 closed

[2022-11-04 14:13] awagner-iq commented on #604
@mdelapenya What about the fact that it doesn't work even if I *do* set the provider?

I'm not sure how to read your response - are you saying this is (not) working as intended and I just have to live with lack of rootless podman support? Or should I leave the issue open in case anyone ever gets around to it?

[2022-11-08 15:24] yanghua-ola commented on #538
I had the same issue with OP; and I recall seeing the error messages you quoted. Did you find a fix?

[2022-11-09 01:58] phumberdroz opened #614 "[Enhancement]: Support Docker over SSH"
### Proposal

Docker can be used via SSH (DOCKER_HOST=ssh://user@host)

Being able to run testcontainers on a remote host has a lot of benefits for example avoiding running heavy containers on the local machine or not having docker installed at all locally.

I worked on some initial support for this here: https://github.com/testcontainers/testcontainers-go/compare/main...phumberdroz:testcontainers

[2022-11-09 06:07] villevaltonen commented on #604
I have similar issue with Docker. I have to set `SkipReaper` to true in order to proceed in my test suite. If it's false, the reaper container gets created but the test suite will hang on waiting. This only happens when running Docker in Docker though, but it used to work for months before this suddenly started.

[2022-11-09 12:05] mdelapenya commented on #614
Hi @phumberdroz , thanks for opening this issue, which it's very similar to what the Java folks already answered here: https://github.com/testcontainers/testcontainers-java/pull/5039.

I recommend you reading it for more context on why we did not allow it for the Java project, which makes us not consider it doable for Go.

Please let us know what you think about it before eventually closing it.

[2022-11-10 09:19] mdelapenya commented on #601
Closed as already implemented, thanks!

[2022-11-10 09:19] #601 closed

[2022-11-13 13:53] andyautida14 opened #619 "[Bug]: testcontainers.NewDockerCompose() is not included in the latest release"
### Testcontainers version

0.15.0

### Using the latest Testcontainers version?

Yes

### Host OS

MacOS

### Host arch

x86

### Go version

1.19

### Docker version

[code]

### Docker info

[code]

### What happened?

I tried using `testcontainers.NewDockerCompose()` as documented from https://golang.testcontainers.org/features/docker_compose/, but it's failing because it cannot find the funct

[2022-11-13 16:51] mdelapenya commented on #619
Indeed, the docs apply to the latest version of the code in the main branch. Maybe worth it to add it explicitly in the docs.

We are rethinking the release/publication process to avoid this mismatched expectation (cc/ @kiview)

Thanks for opening the issue, we'll use it to improve the library.

[2022-11-14 07:04] kiview commented on #619
This situation currently holds true for all Testcontainers documentation variants that are published through our `mkdocs` system (and hosted at *.testcontainers.org).

[2022-11-14 19:58] cyberbeast opened #620 "[Bug]: Random characters in the output of `io.Reader` returned in `Exec(ctx context.Context, cmd []string)`"
### Testcontainers version

0.15.0

### Using the latest Testcontainers version?

Yes

### Host OS

Macos

### Host arch

x86

### Go version

1.19

### Docker version

[code]

### Docker info

[code]

### What happened?

The `io.Reader` returned by Exec() contains random characters. For my setup I am running a `rabbitmq:management` container and I am running `rabbitmqctl` command to list some con

[2022-11-16 08:49] mdelapenya commented on #620
Hi @cyberbeast I'm able to reproduce it and would start working on a fix, unless you would like to do it yourself. Thoughts?

[2022-11-16 10:00] mdelapenya commented on #620
@cyberbeast I prioritised this bug and submitted a fix in #624. I'd appreciate your review

[2022-11-16 11:07] mdelapenya opened #626 "Bring back podman pipeline"
### Proposal

In #625 we retired the podman pipeline, but we want to keep its value once the installation process gets fixed.

The pipeline is adding value in the sense of offering us a way to detect changes in Podman that could break testcontainers-go.

[2022-11-16 14:07] cyberbeast commented on #620
Thank you for the fix. I'll review.

[2022-11-16 18:42] #620 closed

[2022-11-21 10:13] kulyklev opened #629 "[Bug]: Can not import testcontainers-go"
### Testcontainers version

0.16.0

### Using the latest Testcontainers version?

Yes

### Host OS

Ubuntu 22.04.1 LTS

### Host arch

x86

### Go version

go1.19.2 linux/amd64

### Docker version

[code]

### Docker info

[code]

### What happened?

I took some sample code and wanted to import dependencies with `go mod tidy` to run it, but receive error. I tried to clean modules cache with `go cl

[2022-11-21 10:47] mdelapenya commented on #629
Hi @kulyklev thanks for reporting this issue. I'm going to do a repro right now and will update it as soon I found anything clear.

[2022-11-21 10:54] kulyklev commented on #629
Thank you @mdelapenya!
Small update on my issue. I switched to testcontainers to v0.15.0 and now it works

[2022-11-21 11:04] mdelapenya commented on #629
I think it could be caused by the replace directive that we introduced here: https://github.com/testcontainers/testcontainers-go/pull/476/files#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6R28

@baez90 do you think it could be affecting downstream consumers?

[2022-11-21 11:21] mdelapenya commented on #629
I was able to reproduce the error, and it seems connected to the dependency with Docker, as I suspected in my previous comment.

I fixed adding this replace instruction to the go.mod:

[code]

which directly comes from testcontainer-go. I'm currently checking out how to mitigate this, if it's possible

[2022-11-21 11:57] mdelapenya commented on #629
More on this: given the latest version `v0.16.0` comes including the Compose dependency, and the Docker folks added a replace directive until the upcoming Docker 22.06 release is out, we were forced to add it too, causing consumer to add the replace directive too.

Please see https://github.com/docker/compose/issues/9946#issuecomment-1288923912

@kiview I'm going to update the release notes, in th

[2022-11-21 12:07] mdelapenya commented on #629
@kulyklev I've updated the release notes: https://github.com/testcontainers/testcontainers-go/releases/tag/v0.16.0

Do you think it's descriptive enough on how to proceed ? I moved the Docker Compose feature from the "Features" section to the "Breaking Changes" one, moving the BC section to the top

[2022-11-21 15:12] kulyklev commented on #629
Yes, now it's better. Now I can run v0.16.0. Thanks a lot.
But still, you need to think about your documentation. Your project is really cool, but when you can't start it out of the box it's a bad promotion.

[2022-11-21 15:12] #629 closed

[2022-11-21 15:23] mdelapenya commented on #629
Thanks for this feedback. We are aware of the issue you mention and we are working on fixing it. Since I joined the team as a full-time maintainer past summer, we are working more and more on improving the docs , which is definitively important for us as an OSS project.

[2022-11-22 14:44] cyberbeast opened #634 "[Bug]: Cannot import testcontainers-go without locking to specific versions of indirect dependencies"
### Testcontainers version

0.16.0

### Using the latest Testcontainers version?

Yes

### Host OS

Macos

### Host arch

x86

### Go version

1.19

### Docker version

[code]

### Docker info

[code]

### What happened?

Cannot import testcontainers-go without a bunch of indirect dependencies failing.

I have to add the following the replace directives to make it work.

[code]

If I don't lock th

[2022-11-22 14:50] mdelapenya commented on #634
Hi @cyberbeast is this related to https://github.com/testcontainers/testcontainers-go/issues/629?

We discussed there how to bypass it, sending PRs to update the docs and explaining why the replace directives.

[2022-11-22 15:25] cyberbeast commented on #634
@mdelapenya I reviewed #629, yes looks like it is related but the solution proposed there isn't sufficient for the errors I am seeing. I tried the suggested `replace` directive you mentioned. While the single replace directive, ```
replace github.com/docker/docker => github.com/docker/docker v20.10.3-0.20221013203545-33ab36d6b304+incompatible // 22.06 branch
[code]
# github.com/moby/buildkit/sessi

[2022-11-22 15:42] mdelapenya commented on #634
Indeed, you are right. I did a test in a sample Go repo and because one single test passed (debugged it with VSCode) I thought it was enough.

Will immediately update the release notes, and the docs site.

Would you mind reviewing the upcoming PR for that?

[2022-11-22 15:43] cyberbeast commented on #634
Absolutely @mdelapenya :)
Thanks for looking into this.

[2022-11-22 15:46] mdelapenya commented on #634
Changelog and PR updated: https://github.com/testcontainers/testcontainers-go/pull/632

[2022-11-22 16:39] mdelapenya commented on #619
@andyautida14 I'm closing this issue, as we explained the reasons why DockerCompose was not in the latest release at the time of this posting (v0.15.0).

Now that 0.16.0 is out, I think we can close it, but feel free to reopen or comment if needed, thanks!

[2022-11-22 16:39] #619 closed

[2022-11-23 06:19] mdelapenya commented on #101
We started this PR, which could be the seed for modules: https://github.com/testcontainers/testcontainers-go/pull/618

It creates examples to be consumed by the website, but turning them into modules would be a matter of adjusting the templates.

[2022-11-23 06:20] mdelapenya commented on #19
We started this PR, which could be the seed for modules: https://github.com/testcontainers/testcontainers-go/pull/618

It creates examples to be consumed by the website, but turning them into modules would be a matter of adjusting the templates.

[2022-11-23 11:36] kiview commented on #551
We observed this behavior in other language implementations as well (see https://github.com/dotnet/Docker.DotNet/issues/565) and it seems the root cause is this upstream bug in Docker/Moby:
https://github.com/moby/moby/issues/42442

[2022-11-23 12:15] mdelapenya commented on #540
@doubleknd26 I'm able to reproduce it with this simple test:

[code]

The error comes because the State func is called _after_ the container is terminated (probably something the user should know), but the library should be resilient enough to not panic and return a nil JSON state.

I'm elaborating a fix at this moment. Thanks again for the report!

[2022-11-23 16:17] mdelapenya opened #636 "[Modules]: add examples/modules on the most uses services/images"
### Proposal

Given there is a tool to generate the scaffolding for new examples as Go modules (https://golang.testcontainers.org/examples), let's use it to start adding examples.

We have elaborated the list below from Testcontainers for Java. If you're interested in adding any example, please comment here the module you want to work on (we'll add your username to next to it in the list), use the

[2022-11-23 16:26] mdelapenya commented on #19
Given #618 has been merged, we created https://github.com/testcontainers/testcontainers-go/issues/636, where you can find how to contribute new modules :)

[2022-11-24 06:13] #540 closed

[2022-11-25 10:12] mdelapenya commented on #533
Hi @robertzhangwenjie I'm going to close this issue as stale.

Feel free to reopen it if you consider it's not completed. Thanks in advance for using the library!

[2022-11-25 10:12] #533 closed

[2022-11-26 06:29] andyautida14 opened #644 "[Enhancement]: Remove created volumes on "down""
### Proposal

When calling the `Down()` method of the `LocalDockerCompose` created through `NewLocalDockerCompose()`, volumes created when "upping" the instance are deleted through the `--volumes` option:

https://github.com/testcontainers/testcontainers-go/blob/20df64ea3d8b80668604487e8aff3bfb0e6da2ea/compose_local.go#L84

It would be nice to have that behavior on `ComposeStack.Down()` created th

[2022-11-26 10:19] mdelapenya commented on #644
Would you mind contributing it? I think it would be simple to review indeed

[2022-11-29 08:46] mdelapenya commented on #551
Thanks for your time here @mdonkers, please let us know about your findings 🙏

[2022-11-29 14:18] ouamer-dahmani commented on #634
Hello,
I had to go through similar hoops before importing testcontainers-go passed the `go mod download` and `go mod tidy -v -e` steps.

But now when I try to run a test attempting to use `testcontainers.NewDockerCompose` and I get the following errors:

# github.com/aws/aws-sdk-go-v2/ec2imds
/home/user/go/pkg/mod/github.com/aws/aws-sdk-go-v2/ec2imds@v0.1.4/api_client.go:55:3: cannot use awsmiddle

[2022-11-29 14:30] mdelapenya commented on #634
@ouamer-dahmani can you share a repo or snippet with the failure, and what version of Go are you using?

[2022-11-29 15:50] ouamer-dahmani commented on #634
Hello,

I do not have simplified reproduction and the code I am working on cannot be shared.

I believe I am hitting a problem caused by another dependency needing a different version of the aws-sdk-go-v2 package. My question now would be why does testcontainers need the aws sdk? Or does it come from a transitive dependency?

[2022-11-29 16:39] cyberbeast opened #645 "[Bug]: `ReaperImage` pull doesn't use `RegistryCred` for `ContainerRequest`"
### Testcontainers version

0.16.0

### Using the latest Testcontainers version?

Yes

### Host OS

Macos

### Host arch

x86

### Go version

1.19

### Docker version

[code]

### Docker info

[code]

### What happened?

I am using a private repository hosted on AWS ECR. I have the reaper image available in this private repository. I use the `aws-sdk-go-v2` to obtain the `RegistryCred` which I pa

[2022-11-29 20:39] mdelapenya commented on #634
We are not using AWS deps directly, probably an indirect one

[2022-11-30 16:07] mdelapenya opened #646 "[Enhancement]: Move compose code to a separate Go module"
### Proposal

I think moving compose files to their own module would simplify the dependency tree for testcontainer-go.

Users of compose will have to deal with the transitive dependencies hack that we currently have at the main module, caused by Compose for Go, removing them from the main.

@baez90 wdyt?

[2022-11-30 19:48] cyberbeast commented on #645
Invalid! Bug was happening due to an incorrectly configured environment.

[2022-11-30 21:28] cyberbeast commented on #645
Reopening this issue.

Looks like the `reaper` image pull process doesn't return an error if it can't pull the image from a container registry.

Disabling it, and attempting to pulling a valid docker image with invalid credentials results in an error

[code]

There is no panic/error returned on an unsuccessful `ReaperImage` pull.

[2022-11-30 21:29] cyberbeast commented on #645
@mdelapenya
Reopening this issue.

Looks like the reaper image pull process doesn't return an error if it can't pull the image from a container registry.

Disabling it, and attempting to pulling a valid docker image with invalid credentials results in an error

panic: failed to start container: Error response from daemon: pull access denied for <OMITTED>/rabbitmq, repository does not exist or may