[2018-07-20 21:10] sirlatrom opened #2 "Enhancement: Option to pull image if it does not exist on Docker host"
Currently, the first example will fail if your Docker host does not have the `nginx` image pulled. Maybe a way to indicate the image should be pulled if it doesn't exist in the host could be useful?

[2018-07-24 14:53] gianarb commented on #2
I think it is! And we can make it the default behavior for sure.

[2018-07-25 09:26] bsideup opened #6 "Testcontainers project"
Hi!

I'm a member of the Testcontainers project and happy to see that you're working on a Golang version.

We already have some ports in works (like .NET or Python). Do you maybe want to join the organization and continue the development as a part of it?
It will also save you a lot of time answering questions like "is your Golang implementation the official one" :D

From our side we have a lot of

[2018-07-25 10:09] #2 closed

[2018-07-25 11:49] gianarb commented on #6
:tada:

[2018-07-25 11:49] #6 closed

[2018-08-01 09:41] MeneDev opened #7 "Add WaitStrategy"
WaitStrategy is essential for reliable tests. For example an integration test against a HTTP Server would fail if the container/the application in the container isn't ready to accept connections.

I'm willing to contribute on this matter. My suggestion is to closely mimic the Java API as it is proven and a similar API simplifies porting. I'm not too familiar with Go, so I don't know how idiomatic

[2018-08-05 20:55] gianarb commented on #7
Hello! Thanks for your feedback. Can you paste a code example in Java in order to understand how it handles this feature?

[2018-08-08 16:49] MeneDev commented on #7
I experimented a bit and pushed my results here: https://github.com/MeneDev/testcontainer-go/tree/wait_strategy_proposal

As an overview:

There are 2 interfaces: `WaitStrategy` and `WaitStrategyTarget`.
`WaitStrategy` has 1 method: `WaitUntilReady` which blocks until the wait condition (defined in the implementations) is satisfied.

`WaitStrategyTarget` exposes what is needed to evaluate the wait

[2018-08-28 21:36] sbilello opened #9 "maybe wrong copy and paste?"
https://github.com/testcontainers/testcontainer-go/blob/c7b0367cc69c22d550eb3324db899ea674f12014/docker_test.go#L37

Should not it be `ipB, err := nginxB.GetIPAddress(ctx)` ?

[2018-10-01 14:49] #9 closed

[2018-10-01 16:37] gianarb commented on #7
Closed by https://github.com/testcontainers/testcontainer-go/pull/11

[2018-10-01 16:37] #7 closed

[2018-11-14 09:01] gianarb opened #16 "Godoc love and example"
We need to put some love on documentation and examples!

[2018-11-22 22:25] mraerino opened #18 "Migrate to Go modules"
Since Go 1.11 we have an official way of supplying dependencies and their versions to the go tooling: Via `go.mod` and `go.sum`.

It should be easy to migrate from Gopkg to Go mod.

Do you want to go forward with that? I could probably submit a PR.

[2018-11-22 22:28] mraerino opened #19 "Implement database containers"
The java implementation of testcontainers provides useful preconfigured setups for certain databases.
They usually predefine an image and setup the special waiting strategy for that database.

This should be straight-forward for Go as well since there are many database clients around to do this.

I think I'll get started with a `postgres` setup.

[2018-11-22 22:29] mraerino opened #20 "Allow manual start of container"
The java implementation actually requires users of the library to start the container on their own or use a test framework integration.

The go lib should probably also provide a way to start the container on request rather than on creation of the testcontainer setup.

[2018-11-22 22:36] mraerino opened #21 "Spec 2.0 domain language with java implementation folks"
The folks doing the java implementation are currently working on a 2.0 that will include several refactors and breaking API changes.

Since they are in a process of planning the updated API for their 2.0 this would be a great opportunity to work together with them to get a consistent domain language for all testcontainer implementations.

Also, ideas about waiting strategies and general docker han

[2018-11-22 22:40] mraerino opened #22 "Integrate with Kubernetes"
Someone at a meetup lately suggested it would be cool to be able to start containers on Kubernetes so blackbox tests of containers can be done using standard test libraries.

Since this library is in an early state, it would be a great opportunity to abstract the container layer in such a way that it does not matter whether the Docker or Kubernetes APIs are used.

[2018-11-22 22:47] mraerino opened #23 "Test library via TravisCI"
I've seen that there is a PR (#12) by @gianarb on integrating a CircleCI config.

I'd like to propose integrating TravisCI since they are able to run docker inside the VM the test runs in.
Also, most open-source projects currently use Travis.

What CI would you rather like to support?

[2018-11-22 23:04] mraerino opened #24 "Integrate with ryuk to guarantee container termination"
The java implementation is using a sidecar container to cleanup containers after the test run, even if the test suite is suddenly interrupted. The implementation of that sidecar is available here: https://github.com/testcontainers/moby-ryuk

The things that have to be done to support this:
- Start a goroutine when the container is started and inside that:
- Connect to the sidecar via TCP
- Send fi

[2018-11-22 23:05] mraerino opened #25 "Docker compose support"
The java implementation supports spinning up docker compose setups to test larger setups as a black box.

This is interesting for this library especially since many DevOps people are using Golang for their services anyways.

[2018-11-23 07:59] gianarb commented on #23
Just one is fine, I picked circleci because I think it is what the other projects like the java implementation uses. But I don't have a blocking one :) The best we can get in place is good

[2018-11-23 08:04] gianarb commented on #22
Yep, this is a good idea, I think we should create a Container interface with the current functions we implemented in the container like:

[code]
And we can have a new file `kubernetes.go` that implements that interface with a function `RunPod` (it should return a container just like [`RunContainer`](https://github.com/testcontainers/testcontainer-go/blob/master/docker.go#L109) but via kubernetes

[2018-11-23 08:07] gianarb commented on #19
Yep, this looks like a great idea. Can you write down some code here to help me understand how you imagine interacting with the postgres utils? probably just  a fake test is enough

[2018-11-23 08:09] gianarb commented on #20
We can build a function similar to `RunContrainer` https://github.com/testcontainers/testcontainer-go/blob/master/docker.go#L109` but called `CreateContainer` adding a function `Run()` to the container. The function is executable only one time I suppose. You can not run a Container twice.

[2018-11-23 08:16] gianarb commented on #18
Hello! I don't really have a strict opinion, I think you can just run `go mod init` and push the result, we can keep both `Gopkg` and `go.mod` for now.

[2018-11-23 09:42] mraerino commented on #22
That sounds great!

[2018-11-23 11:54] MeneDev opened #26 "Don't pull if image is available locally"
As per #4 testcontainers-go will always pull an image from registry. The java version will only pull if the image isn't already pulled. I think the java behavior is better as it allows to work offline once the image has been pulled.

[2018-11-23 15:41] gianarb commented on #18
Looking around I think is better to just keep only vgo.

[2018-11-23 16:34] #18 closed

[2018-11-23 20:16] #26 closed

[2018-11-23 20:21] #20 closed

[2018-11-23 21:42] gianarb opened #31 "Re-work exposed ip and mapped port"
@rnorth I think I need to understand what's the easier approach to re-implement the "most-compatible" `GetContainerAddress`  and `GetMappedPort` function. Right now I think I did it in a wrong way.

The get address returns the ip of the container and we have a function that returns the binding port in the host for a port. But as you can see this doesn't work.

Do you have some feedback about the e

[2018-11-23 22:07] gianarb opened #33 "Current wait strategy are weird."
Hello @MeneDev I looked again at the WaitStrategy we have right now, but I don't think they have a lot of sense. I think we should rewrite them to wait on a single port, and probably the waitingFor parameter should be an array of waiting strategies. What do you think?

[2018-11-23 22:53] gianarb commented on #33
This is what I think should be for now:
https://github.com/testcontainers/testcontainer-go/pull/34

[2018-11-23 22:54] gianarb commented on #31
This is how I think it should be: https://github.com/testcontainers/testcontainer-go/pull/34

[2018-11-24 16:01] mraerino opened #35 "Proposal for the public API"
*This has been implemented in PR #36*

In the past days I have been thinking about the API of this library. It is important becuase it determines the developer/user experience of this library. It is the first thing people see when using the library.

## Basics

I propose to follow these principles
- Follow Golang conventions for structure and naming
- Hide implementation detail
- Follow learnings

[2018-11-25 14:34] mraerino commented on #33
This is addressed in my PR: #36

[2018-11-25 14:41] mraerino opened #37 "Provide way to use multiple wait strategies"
Sometimes (when the container does more than one thing) multiple wait-strategies need to be used.

I propose solving this by having a `MultipleStrategy` that might be used like this:

[code]

[2018-11-25 14:42] mraerino commented on #31
Addressed in #35 and implemented in #36

[2018-11-25 14:44] mraerino commented on #22
The foundation for this has been laid in #36

[2018-11-26 10:58] #35 closed

[2018-11-26 10:58] #24 closed

[2018-11-26 10:58] #33 closed

[2018-11-26 11:08] gianarb commented on #31
https://github.com/testcontainers/testcontainer-go/pull/36

[2018-11-26 11:08] #31 closed

[2018-11-26 11:08] gianarb commented on #31
Thanks a lot @mraerino !

[2018-11-26 11:09] gianarb commented on #21
I think this can be closed, the new API should be in line right?

[2018-11-26 11:09] #16 closed

[2018-11-26 11:09] gianarb commented on #23
I think we can keep trying to make circleci to work @mraerino I don't think we need travis for now

[2018-11-26 21:03] rnorth commented on #22
This is probably something we should do with the Java implementation and other forks, at the right time. Please could we discuss the general approach to tackling this?

I can't think of anything specific, but it would be good for all the implementations to be gradually moving towards convergence on feature sets rather than divergence 😄 .

[2018-11-26 23:04] gianarb commented on #22
We have a lot to fix before this. So yes! Let's work on this together when
everyone will be ready.

On Mon, Nov 26, 2018, 22:03 Richard North <notifications@github.com wrote:

[2018-11-26 23:20] #23 closed

[2019-01-11 19:57] pmalekn opened #43 "Failures on go get github.com/testcontainers/testcontainers-go"
When using `go1.11.4` and issuing `go get github.com/testcontainers/testcontainers-go` I get the following:

[code]

[2019-01-12 20:44] pmalekn commented on #43
So actually one of those errors is coming from API change from uuid package. It's easy to fix by adding a second variable in return value in [`docker.go` line 197](https://github.com/testcontainers/testcontainers-go/blob/master/docker.go#L197) and even better using https://github.com/gofrs/uuid instead of github.com/satori/go.uuid because it seems it's maintained anymore

[code]

[2019-01-14 10:18] guenhter commented on #43
@pmalekn added your suggested fix to https://github.com/testcontainers/testcontainers-go/pull/44

The remaining problems seems to have their cause in docker's vendored dependencies (https://stackoverflow.com/questions/38091816/packages-type-cannot-be-used-as-the-vendored-packages-type) ...

[2019-01-14 10:43] guenhter commented on #43
Have a look at
https://github.com/golang/go/wiki/Modules

It seems that modules are used in this project and when I activate that in my project too, everything works out.

[2019-01-17 08:41] MeneDev opened #45 "Allow insecure TLS in wait.HTTPStrategy"
In Java insecure TLS connections can be allowed via JVM-Parameter. Other than that there seems to be no way to allow an insecure TLS connection. For go this is not an option. My current implementation adds `AllowInsecure` and `WithAllowInsecure` builder. However, I've asked @kiview if he knows more.

[2019-01-17 08:45] MeneDev opened #46 "Rework wait.HostPortStrategy"
The current version of HostPortStrategy doesn't work anymore. I'm not sure if I made a mistake when I initially implemented it or if the behavior of docker has changed.

Currently we're only looking for an opened exposed port, however docker opens the port right away even if the port is not opend inside the container. The java version runs various executions inside the container (like `docker exec

[2019-01-17 18:20] gianarb commented on #46
Please feel free to remove it! Thanks @MeneDev !

[2019-01-22 22:34] vangent opened #47 ""go get" failure parsing go.mod file"
I have an implicit dependency on this project and when I run `go get -u`, I get this error:

[code]

[2019-01-22 23:02] MeneDev commented on #47
@vangent it was renamed from testcontainer to testcontainers (Plural)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-23 00:06] vangent commented on #47
I don't know which of my dependencies depend on you. I couldn't tell because "go mod why" failed with the same error. Regardless, I don't own any of them so I couldn't have updated it anyway.

I'm using Go Modules, not a specific dependency manager.

This may just be a side effect of your making a non-backward compatible change, and Go Modules not handling it well.

[2019-01-23 10:02] VoyTechnology commented on #47
As a temporary workaround you can do this:

in `go.mod` file:
[code]

It looks like go modules only like tag names with `v` prefix, so the current `0.0.1` tag does not work. The authors need to re-tag it with `v0.0.1`.

Thanks to @F21: https://github.com/golang/go/issues/26904#issuecomment-455077691

[2019-01-23 10:09] gianarb commented on #47
Thanks @VoyTechnology I was just looking for that trick!
@vangent sorry about this bad bc break, but changing the name to keep it consistent was kind of a requirement. I hope you will find the library good and you will give it a try!

[2019-01-23 13:46] VoyTechnology opened #48 "Please retag 0.0.1 as v0.0.1"
Go mod is having problems parsing the current latest tag `0.0.1`, can this please be updated to use `v0.0.1` (`v` prefix)?

[2019-01-23 14:39] VoyTechnology commented on #48
Oh, sorry, it is `0.0.1`. But the issue still holds. Will update the title.

[2019-01-23 14:42] VoyTechnology commented on #48
Actually sorry. Bad day. It appears to work with `0.0.1` properly. Will close the issue.

[2019-01-23 14:42] #48 closed

[2019-01-23 14:46] gianarb commented on #48
:+1: `go mod` scares me every time :I am glad it worked. Thanks!

[2019-01-23 15:02] VoyTechnology commented on #48
It is possible that it is still failing, but I have a few more problems with the state of the packages in general. Basically every single time I change the dependency version to `0.0.1` `go get` reverts it back to `v0.0.0-20190108154635-47c0da630f72`. It might be an issue with some other dependency. I've seen something similar happen with https://github.com/SermoDigital/jose/releases, where it als

[2019-01-23 16:33] vangent commented on #47
Thanks for the tips. It sounds like the only action item for the library author is to retag the release with v0.0.1 instead of 0.0.1, to work well with Go Modules.

[2019-01-23 16:51] VoyTechnology commented on #47
I think it would be part of the solution, but also finding any libraries which depend on the old version before rename and filing PRs to update them.

[2019-01-23 22:33] vangent commented on #47
It looks like my problem came from hashicorp -> influxdb:
https://github.com/influxdata/influxdb/issues/11199

[2019-01-30 16:13] nelz9999 opened #49 "Blog announcement nit"
Hello! I just read about your project via https://blog.gopheracademy.com/testcontainers-go/ ... I'm quite impressed and looking forward to possibly using it in the future.

I just wanted to point out a little nit in the example code in the blog post. In the AppA/AppB (or more specifically (Redis/AppB) example, when you spin up the `appB`, you seem to be re-using the `req` variable, which specifies

[2019-02-26 05:43] prologic commented on #47
I'm running into this as well from micro/go-plugins#290 :

[code]

[2019-02-27 05:55] guiguan commented on #47
can you fix this? so annoying

[2019-02-27 09:25] gianarb commented on #47
Hello! Yes! I will work on that asap!
Thanks

On Wed, Feb 27, 2019 at 6:55 AM Guan Gui <notifications@github.com> wrote:

--
Gianluca Arbezzano
www.gianarb.it

[2019-02-27 10:26] guiguan commented on #47
@gianarb it looks like a dependency is expecting `github.com/testcontainers/testcontainer-go` instead of `github.com/testcontainers/testcontainers-go` when building `gocloud.dev`. Probably because you renamed the repo. Strange enough, I couldn't use `go mod why` to figure which sub-module is expecting that. The `replace` workaround works. Thanks!

[2019-02-28 10:14] m4x-h4xx opened #52 "Please expose ContainerID via Container interface"
Hello,

I have a use case in which I want to use the **container-ID** in order to interact with the created container from another process.
Therefore, would it be possible to also expose the **container-ID** via the Container interface, as returned by e.g. the `testcontainers.GenericContainer()` function?

Thank you very much.

[2019-03-05 01:08] prologic commented on #47
What's the hold-up of getting this fixed for this repo? Can we just re-tag this repo appropriately and move on?

[2019-03-05 03:11] guiguan commented on #47
@prologic I think the real problem is not about the tag, but other packages are still using this repo’s old name, the one without `s`

[2019-03-05 03:39] prologic commented on #47
Oh I see let me. Erich yny did micro/go-plugins

On Tue, 5 Mar 2019 at 13:11, Guan Gui <notifications@github.com> wrote:

--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2019-03-07 20:42] gianarb commented on #47
There is not a lot that I can do about this issue btw.
Or is somebody has idea just let me know
atm I tagged 0.0.2 and we need to figure out who is using the old name

[2019-03-07 20:45] gianarb commented on #49
Hello! Thanks a lot for your heads up I will have a look at the example.
I don't really understand what you mean with locally built executable. Usually, testcontainers is used to sping up dependencies used to test your codebase, so you should not compile the app you are testing. You can just call the function in the test case itself

[2019-03-07 21:20] VoyTechnology commented on #47
Please please please re-tag with `v` prefix. `v0.0.2`

[2019-03-08 00:06] nelz9999 commented on #49
By "locally-built" I mean something that *I* produced... Rather than from a public package pulled down from Docker Hub.

From your example, I want "Application B" to be the API server that I made, so I can run API tests against it.

[2019-03-08 07:03] gianarb commented on #47
Done

On Thu, Mar 7, 2019 at 11:20 PM Wojtek Bednarzak <notifications@github.com>
wrote:

--
Gianluca Arbezzano
www.gianarb.it

[2019-03-09 08:21] gianarb commented on #47
I think we are good for now, And I am gonna keep tagging with the `v` in front. Sorry about this mess. Closing for now

[2019-03-09 08:21] #47 closed

[2019-03-13 06:45] gianarb commented on #43
Yes, we use go modules, I have also released `v0.0.2` that should be the one that puts everything in order from our side.
If there are projects hat are using the old name we should fix them for atm this issue can be closed.
Thanks a lot and sorry for the BC break caused by the rename!

[2019-03-13 06:45] #43 closed

[2019-03-13 07:20] #52 closed

[2019-03-24 19:39] alde opened #54 "Wait for specific console output"
It'd be great if it was possible to wait for specific log output, such as

`MySQL init process done. Ready for start up.`

The port is available far in advance of this, causing me to have to add a `time.Sleep(30*time.Second)` in my test only to make sure it will have started.

[2019-03-25 10:11] gianarb commented on #54
Thanks @alde good issue. This is in some way related to #19 .

This issue will be nice to have and it will involve a pre-feature that exposes an API to get/follow logs.

[2019-03-25 10:29] gianarb commented on #54
As suggested via Slack https://github.com/testcontainers/testcontainers-java/blob/master/core/src/main/java/org/testcontainers/containers/wait/strategy/LogMessageWaitStrategy.java

[2019-04-08 17:01] #54 closed

[2019-04-10 08:18] gianarb opened #56 "Serve Kind (kubernetes)"
[kind](https://github.com/kubernetes-sigs/kind) is a Docker in Docker testing solution for Kubernetes. I think having a way to serve an "as a service" testing Kubernetes instance will be very helpful for who is writing Kubernetes integrations such as operator, CRD, SharedInformer.

[2019-04-10 08:20] gianarb opened #57 "BuildKit to build from Dockerfile/oci"
Writing testcontainers in Go is fascinating because we have a lot of opportunities to reuse and embed codes to write robust new features.

testcontainers-java supports an `ImageFromDockerfile` features that help you to build an image from a Dockerfile in this way you can test your application already containerized.

I think we can do something even better designing a test-friendly API using [build

[2019-04-10 08:21] gianarb commented on #19
Should we start packaging this kind of solutions in a subpackage? Maybe a directory called `canned`?

[2019-05-03 13:46] 030 opened #60 "error handling nginx sample"
The example was copied and a null pointer is returned.

[code]

[2019-05-06 13:35] nikolaykuz opened #61 "Error response from daemon: client version 1.40 is too new"
I am using latest Docker for Mac 2.0.0.3, Engine: 18.09.2.

[code]

[2019-05-07 08:11] gianarb commented on #61
Hello! I was able to reproduce this issue, thank you! A possible workaround is to force the docker api version with the env var `DOCKER_API_VERSION`.
[code]

[2019-05-07 08:48] #61 closed

[2019-05-07 09:46] gianarb commented on #45
is this not enough?

https://github.com/testcontainers/testcontainers-go/blob/master/wait/http.go#L66

[2019-05-07 16:58] MeneDev commented on #45
No, this just enables tls, but the tls connection has to be secure, i.e. the certificates must validate (against the system certificate chain, as far as I know)

[2019-05-07 16:59] MeneDev commented on #45
Something like this should be ok: https://github.com/MeneDev/testcontainers-go/blob/fd94801fb2b234a0092e555e89459b9e83be64ba/wait/http.go#L118

[2019-05-08 09:43] #60 closed

[2019-05-08 10:09] MeneDev commented on #45
I've been quite busy the first quarter of this year but I hope I can soonish continue to contribute ;)

[2019-05-24 15:22] #45 closed

[2019-06-08 06:40] vinchauhan opened #71 "go get failed"
[code]

[2019-06-10 06:45] vinchauhan commented on #71
figured out later that I had to use module for the project

[2019-06-10 06:45] #71 closed

[2019-06-28 14:57] nikolayk812 commented on #46
For me it looks that not only `LogStrategy` is affected as well.
I try to run Postgres

`func RunPostgres(database string) (string, error) {
	cport := "5432"
	user := "postgres"
	password := "password"

	ctx := context.Background()
	req := testcontainers.ContainerRequest{
		Image:        "postgres:9.6.14",
		ExposedPorts: []string{cport + "/tcp"},
		WaitingFor:   wait.ForLog("database system is re

[2019-07-17 14:54] mdelapenya opened #73 "Is it possible to attach created containers to a specific docker network?"
The use case would be creating a dedicated network for testing/local dev, so it's possible to attach created containers to it.

At this moment, the NetworkingConfig is passed as `nil`.

If you consider implementing it, I'd be glad to contribute it :)

[2019-07-18 15:28] mdelapenya commented on #73
Meanwhile I get feedback from this, I continued attaching containers to the default `bridge` Docker network.

While it could be enough, I consider it be very convenient if the API exposed the `inspectContainer` method, so any client code could use whatever information they need, instead of using just the existing`Host(), Name(), Ports()`, etc.

Wdyt?

[2019-07-25 07:43] pavolloffay opened #74 "Bump docker version"
The current pinned docker version is 0.7.3 it would be great to update it. The latest upstream version is 17.03 https://github.com/moby/moby/releases

https://github.com/testcontainers/testcontainers-go/blob/b130c69aad6475d8decc2794ba45b6c98a316e79/go.mod#L8

Because of the old docker version I am probably getting
[code]

[2019-07-25 09:00] gianarb commented on #74
That' weird! I will work on it now

[2019-07-25 11:44] gianarb commented on #73
I think we can do that, it doesn't need to be part of the Container interface because I would like to keep that interface easy to implement eventually with containerd or some other provider.

[2019-07-31 14:18] xtreding commented on #74
@gianarb Hi!
I have the same problem. I've added testcontainers-go v.0.0.4 to my project and it uses methods (
vendor/github.com/testcontainers/testcontainers-go/docker.go:190:8: client.NegotiateAPIVersion undefined (type *client.Client has no field or method NegotiateAPIVersion)
vendor/github.com/testcontainers/testcontainers-go/docker.go:327:32: p.client.DaemonHost undefined (type *client.Client

[2019-08-01 12:58] ClaytonNorthey92 commented on #57
@gianarb would this be the Go port of the functionality in [testcontainers-node that allows to build from a Dockerfile](https://github.com/testcontainers/testcontainers-node/blob/master/src/generic-container.ts#L17)?

[2019-08-02 07:12] gianarb commented on #74
Are you using `go mod` @xtreding ? Why you can not set your docker/client version to master?

[2019-08-02 08:43] gianarb commented on #57
That's the idea yes. I like the fact to hack something together with buildkit other than going with the simplest direction to interact with the dockerd.

[2019-08-02 13:11] ClaytonNorthey92 commented on #57
@gianarb okay that makes sense.  Do you mind if I work on this over the weekend and get a pull request in?  Or is someone else working on it?

[2019-08-02 13:38] gianarb commented on #57
Please feel free to take it! Thanks a lot!

On Fri, Aug 2, 2019 at 3:11 PM ClaytonNorthey92 <notifications@github.com>
wrote:

--
Gianluca Arbezzano
www.gianarb.it

[2019-08-02 13:52] ClaytonNorthey92 opened #78 "On the latest, container started in test does not terminate"
When running the following test with the latest commit on master, the container started in the test does not terminate at the end of the test.   However, when running the latest stable tag `v0.0.4` the container terminates at the end of the test.

go.mod
[code]

testcontainersbug_test.go
[code]

![testcontainersbug](https://user-images.githubusercontent.com/8801919/62374960-23b76500-b50b-11e9-9169

[2019-08-02 13:53] ClaytonNorthey92 commented on #57
Will do! Thank you!

[2019-08-04 22:54] ClaytonNorthey92 commented on #57
Hey @gianarb I have been doing some reading about buildkit over the weekend.

From what I understand, buildkit requires a [buildkit daemon](https://github.com/moby/buildkit#starting-the-buildkitd-daemon) to interact with to build images.

The daemon itself has dependencies: [runc](https://github.com/opencontainers/runc) or [containerd](https://github.com/containerd/containerd)

So in order to use

[2019-08-05 08:02] gianarb commented on #74
Unfortunately this is a known limitation with `go mod` and repositories that do not tag following semver.

I tried this solution @xtreding @pavolloffay but you need to play with your go mod:

https://github.com/testcontainers/testcontainers-go/pull/79

Can you give it a try? You can use `go get github.com/testcontainers/testcontainers-go@33d1f3b`

[2019-08-05 18:01] gianarb commented on #57
Hello @ClaytonNorthey92 ! Thanks for your investigation.

I thought about buildkit because @jessfraz uses it as a library to develop https://github.com/genuinetools/img . A daemon less way to build images.

I am not sure how easy it is to code something similar here embedding buildkit as a library exposing a nice API to build from a dockerfile without a daemon running.

[2019-08-05 18:45] ClaytonNorthey92 commented on #57
@gianarb cool, thanks for the help!  I was wondering if something like that existed...I will take a look!

[2019-08-05 20:43] ClaytonNorthey92 commented on #57
hey @gianarb I was doing some reading on [img](https://github.com/genuinetools/img), and I was reading the [Installation Instructions](https://github.com/genuinetools/img#installation)

They mention that for installation, the steps only work for Linux:

I believe this is because img installs (and depends on) runc, [which only supports Linux](https://github.com/opencontainers/runc#building)

so thi

[2019-08-07 03:41] bgabbasov-aurea commented on #61
I face same issue on windows using PowerShell. Setting DOCKER_API_VERSION variable does not help :(

[2019-08-07 06:18] gianarb commented on #57
Hello @ClaytonNorthey92 ! this sounds nice but a bit complicated for the status of the library where we are now. Do you mind to start to work on a simpler function like `FromDockerfile(...)` that uses `dockerd` to build an image? It is important to use the reaper as well if possible to remove it at the end of the test.

Thanks a lot!

[2019-08-07 06:23] gianarb commented on #61
@bgabbasov-aurea what version of testcontainers are you using? This got fixed during the last release `v0.0.4` commit `0416f14` thanks

[2019-08-07 10:37] #78 closed

[2019-08-07 11:21] gianarb commented on #74
Fixed here

https://github.com/testcontainers/testcontainers-go/releases/tag/v0.0.5

I a not using docker/engine over moby/moby because it "kind of" use semver

[2019-08-07 11:21] #74 closed

[2019-08-07 11:36] gianarb commented on #78
Fixed and release v0.0.5

[2019-08-07 13:56] ClaytonNorthey92 commented on #57
that sounds like a good idea @gianarb I will work towards that solution, thanks for working with me on the investigation! I will get a pull request in in the upcoming days

[2019-08-10 14:45] GaruGaru commented on #37
should be solved by #83

[2019-08-19 07:00] yunsubaek commented on #74
@gianarb
Even though upgrade with released version(v0.0.5), same issue is comes out.
Could you please help me to solve this problem?
vendor/github.com/testcontainers/testcontainers-go/docker.go:202:8: client.NegotiateAPIVersion undefined (type *client.Client has no field or method NegotiateAPIVersion)
vendor/github.com/testcontainers/testcontainers-go/docker.go:346:32: p.client.DaemonHost undefine

[2019-08-20 02:00] ClaytonNorthey92 opened #86 "Define Cmd as Slice of Strings"
**Describe the bug**
Not a bug, a suggestion.
When creating a `ContainerRequest`, we give the `Cmd` attribute a `string` type.  Then we [parse it to make it a slice of strings](https://github.com/testcontainers/testcontainers-go/blob/master/docker.go#L252)

Would it be a better idea to define the [Cmd attribute in the ContainerRequest struct](https://github.com/testcontainers/testcontainers-go/blo

[2019-09-02 10:34] jlordiales commented on #56
@gianarb I thought Kind could be used as a regular lib, is that not the case? Haven't tried it myself so maybe it's not straightforward but I'm sure that was mentioned by it's authors as one of it's pros.

[2019-09-02 11:53] gianarb commented on #56
You are right @jlordiales the idea here is to create a `canned` or `module` as called in testcontainers-java to make kind to work with the API we have in testcontainers.

https://github.com/testcontainers/testcontainers-go/pull/67

I have started here but I had to close it because I confused myself :D

if you have time and energy to try a different implementation let me kwno!

[2019-09-02 12:05] gianarb commented on #86
Yes! I like it! I think we can do a bc-break here and to change it as slice of string. @ClaytonNorthey92 do you mind to open a PR?!

Thanks

[2019-09-02 16:49] ClaytonNorthey92 commented on #86
@gianarb awesome!  Yes I can open a PR for this ASAP!

[2019-09-02 17:06] jlordiales commented on #56
ah gotcha, haven't used the Java version so I was lacking that context. This is great btw! 👍

[2019-09-03 06:53] gianarb opened #88 "Set up a GitHub action to create a changelog after a release"
Hello
My plan was to use goreleaser to add a changelog automatically after every new tag.
The problem is that it doesn't work without anything to build (as a library we just need to changelog and we do not produce any binary).

https://stackoverflow.com/questions/57756096/goreleaser-to-only-generate-the-changelog-on-github/57760234#57760234

So, this is the command I would like to get running afte

[2019-09-03 09:42] mdelapenya commented on #73
Merged, thanks!

![image](https://media.giphy.com/media/D0WOL0ogZIoG4/giphy.gif)

[2019-09-03 09:42] #73 closed

[2019-09-04 17:48] dependabot-preview[bot] opened #89 "Dependabot couldn't parse the config file at .dependabot/config.yaml"
Dependabot couldn't parse the config file at `.dependabot/config.yaml`. The error raised was:

[code]

Please ensure the config file is a valid YAML file. An online YAML linter is available [here](https://jsonformatter.org/yaml-validator).

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-04 17:59] #86 closed

[2019-09-04 19:23] #89 closed

[2019-09-04 19:23] dependabot-preview[bot] opened #90 "Your .dependabot/config.yaml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yaml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-04 19:24] gianarb commented on #88
Fixed using https://github.com/apps/release-drafter as testcontainers-java does

[2019-09-04 19:24] #88 closed

[2019-09-04 19:24] #90 closed

[2019-09-05 07:25] mdelapenya opened #93 "Internal state of the DockerContainer is not reset after container.Terminate(ctx)"
**Describe the bug**
I'm working on exposing the inspectContainer method, and I realised that the Terminate method does not reset the internal state of the DockerContainer instance: raw and uuid

**To Reproduce**
I'm sending a PR for this. First commit will be a unit test

**Expected behavior**
After a container is terminated, its internal state (uuid and raw) is reset

**docker info**
output of t

[2019-09-07 12:35] #57 closed

[2019-09-09 09:39] mdelapenya commented on #93
Merged, thanks!

![image](https://media.giphy.com/media/D0WOL0ogZIoG4/giphy.gif)

[2019-09-09 09:39] #93 closed

[2019-09-09 09:41] mdelapenya opened #96 "Add ability to tearDown/cleanUp resources created by the container"
In my project, the container I start up with TestContainers creates data on an external storage, and I'm providing a cleanUp function which is run after the container is terminated.

Do you think it is something valuable to be added at library level?

Thanks

[2019-09-09 09:43] gianarb commented on #96
It sounds nice, you can't do whatever you need to do in the defer function
where you terminate the container? Do you need to be 100% sure that the
container is terminated in order to run your code? Can you elaborate on
your use case?
Thanks!

On Mon, Sep 9, 2019 at 11:41 AM Manuel de la Peña <notifications@github.com>
wrote:

--
Gianluca Arbezzano
www.gianarb.it

[2019-09-09 15:09] mdelapenya commented on #96
Something like this: https://github.com/elastic/metricbeat-tests-poc/pull/38/files#diff-364b46eeefd2f6734cd2f89ce39338eeR226

[2019-09-10 11:05] mdelapenya commented on #25
Is there a plan to work on this? I'd be willing to help in this efforts if possible

[2019-09-10 12:11] gianarb commented on #25
I didn't start to think about it yet, but if you like we can start looking
at the java lib to see how they did it

On Tue, Sep 10, 2019 at 1:05 PM Manuel de la Peña <notifications@github.com>
wrote:

--
Gianluca Arbezzano
www.gianarb.it

[2019-09-10 12:13] mdelapenya commented on #25
Yeah, I'm currently playing around with the local docker implementation (no socat)

[2019-10-04 16:27] gianarb opened #101 "canned etcd"
Lisa from Influx wrote this etcd container request for one of our tests. Probably we can make it to be a canned container as well.
[code]

[2019-10-04 16:31] achew22 commented on #101
Has there been any consideration of creating a text format that could be shared among the various testcontainers projects rather than having a disparate set for each library?

[2019-10-30 15:15] ClaytonNorthey92 opened #110 "Allow Passing in Context as io.ReadCloser"
**Description**
As of now, when we allow a user to build and image from a Dockerfile, we only allow them to pass in the build context as a string, which is meant to be the path to the build context on their filesystem.  Then [we archive that directory before we send it to the Docker API, so it becomes a type that implements ReadCloser](https://github.com/testcontainers/testcontainers-go/blob/maste

[2019-10-31 14:16] ClaytonNorthey92 commented on #110
@gianarb @mdelapenya what do you guys think of this one?

[2019-11-12 10:35] gianarb commented on #110
I like the idea @ClaytonNorthey92 and I think it is a well-known interface in Go, let's do it as you suggested! Can you also write a set of examples for both scenarios?
Thanks

[2019-11-12 10:41] gianarb opened #112 "Canned container, let's kick the discussion"
Canned containers are a good way to have pre-built container that can be re-used and can support a deep implementation with the application they are running.

When I started to do them I thought it was a good idea but now I would like to avoid testcontainers to become full of third-party dependency to download. That's why at the moment I am not merging them.

Why I like canned containers:

1. It i

[2019-11-12 12:53] ClaytonNorthey92 commented on #110
Hey @gianarb thanks! Yes I will make sure I include both documentation and tests for both scenarios (by `Context` as a `string` and as an `io.ReadCloser`)

[2019-11-13 09:23] giorgioazzinnaro commented on #112
I guess the right way to do this would be to create a Git repo (and consequently Go module) for each canned product?

[2019-11-13 10:10] gianarb commented on #112
One repository for every canned dashboard is to expensive and it does not help with visibility. I don't think we can go with that solution. What I think is the way to go is using `go submodules`

https://github.com/go-modules-by-example/submodules

Where we can have a `canned/mysql` directory for example with its own files and its own `go.mod`.

[2019-11-14 12:54] nikolayk812 commented on #112
I agree with @gianarb, repo per canned container sounds like an overkill.
If submodules approach work then this is probably a way to go.

[2019-11-14 13:06] giorgioazzinnaro commented on #112
I had no idea this could be done! TIL
https://golang.org/cmd/go/#hdr-Module_code_layout confirms that this should work.. I guess we can give it a go?

[2019-11-14 14:45] gianarb commented on #112
Sure! I can try to move the already merged canned container to see if the
dependencies in the root `go.mod` will be moved to the new submodule

On Thu, Nov 14, 2019 at 2:06 PM Giorgio Azzinnaro <notifications@github.com>
wrote:

--
Gianluca Arbezzano
www.gianarb.it

[2019-11-14 16:05] ClaytonNorthey92 commented on #112
I am indifferent with where the code for canned containers lives, I think a submodule makes sense to try.

One concern I do have, it seems like these canned containers don't have a common interface?  Or am I missing it?  We have a name for "canned containers", but there is really nothing in code that defines what it takes to be a "canned container".

I think we should define some interface that ma

[2019-11-18 20:49] mdelapenya commented on #112
+1 on having a clean interface for canned containers, it would help in the development of new cans.

And related to packaging, I'd go with a package for cans, having a Go file per can. Anybody will be able to use `github.com/testcontainers/testcontainers-go/canned` as a dependency, exporting methods properly

[2019-11-19 10:11] gianarb commented on #112
@mdelapenya from your message I do not understand if you would like to have also a `go.mod` for every single canned container (I probably would like to to get there as well)

[2019-11-19 12:54] ClaytonNorthey92 commented on #112
I think that the `CannedContainer` interface should at least expose a way to get the `Version`, and maybe `SetVersion`?

so, if someone wanted to create an [Envoy container](https://hub.docker.com/r/envoyproxy/envoy/tags), their workflow might be something like...

[code]

I would like to ensure that the user has the ability to change the `CannedContainer`'s version, and (this is a bit harder I th

[2019-11-19 17:43] mdelapenya commented on #112
Well, in an ideal situation, that would be great: each canned container, a version, which would enforce strong contracts between client code and the canned containers. Another thing is how much manual work we need to do to maintain it. On the other hand, when doing development mode of the testcontainers-go library we can replace the dependencies to use the project itself, which would simplify that

[2019-11-19 20:43] ClaytonNorthey92 commented on #112
oh an sorry, @gianarb yes I agree the `CannedContainer` interface should implement the `Container` interface, so I think it would look something like:
[code]

just a rough draft ☝️

[2019-11-19 22:19] nikolayk812 commented on #112
@gianarb, good point. I think we should try to minimize dependencies a new canned container introduces. In order to start a Postgres container probably, we don't need to add dependency at Postgres client at all.

Many customizations could be done environment variables already, waiting via proper host port waiting strategy in combination with log waiting strategy.

Even we can SQL initialization sc

[2019-11-20 07:25] #110 closed

[2019-11-20 19:46] nikolayk812 commented on #112
Btw, testcontainer-go already depends on Redis and MySQL clients :(

[2019-11-20 21:10] rnorth commented on #112
Aha, I think this is where I should chime in with our experiences of this on the Java side! Please take from this what you want:

* We tried repo per module ('canned container') - it was a nightmare:
	* sometimes we'd make a change in core, then only later found out it broke one of the modules. A unified test suite is slow and heavy, but gives us way more confidence and has stopped us making so ma

[2019-11-21 09:27] nikolayk812 commented on #112
@rnorth thanks for your input about!

What is your opinion about the default version of canned containers/modules?
Java version comes with a Postgres module which has version 9.6.12 under the hood. These days it is not even the latest minor version on this branch. But now if you change it to version 12.x it would be good for new users, but for me, it would be unexpected.

[2019-11-21 12:41] gianarb commented on #46
Fixed #114

[2019-11-21 12:41] #46 closed

[2019-11-21 12:41] #37 closed

[2019-11-21 12:41] gianarb commented on #37
Thanks @GaruGaru

[2019-11-22 20:42] rnorth commented on #112
Yeah, that's a really good question. Changing the version would be unexpected, as you say, so we can't do that. We're probably locked in to these 'starter' versions at least until we release a new major version of the libraries.

It's obviously a good idea for users to specify the exact image they want; in the next major version I wonder if we might remove the default versions altogether.

I think

[2019-11-22 22:22] ClaytonNorthey92 commented on #112
@rnorth would the interface I mentioned above be a step in the correct direction to address the version problem?

[2019-11-26 11:24] ClaytonNorthey92 opened #118 "Feature: Allow Ability to View Logs from Failed-to-Start Container"
**Please Note**
~~I am not 100% sure that this is possible, but it would be useful for debugging.~~
based on this thread, this is possible https://testcontainers.slack.com/archives/CBWBNR76G/p1574767579003000

**Describe the bug**
When starting a container, you have the option to "wait" for something to occur to determine the container has "started".  For example you can [wait.ForLog](https://gith

[2019-11-26 11:49] ClaytonNorthey92 commented on #118
I would like to work on this one, if no one has an objection.

[2019-12-01 13:52] nikolayk812 commented on #112
@ClaytonNorthey92 I have checked your suggested interface. By the way, we have two types of entities in this lib: request and container. So we should set a version to request and from the container we can only get the effective version.

If you have time, I would appreciate some feedback on #117. I have reworked a bit PRs by @giorgioazzinnaro

[2019-12-03 08:53] gianarb commented on #112
I had this missing feeling already when I started this conversation but I think from what @rnorth says I see it getting stronger. Should we really go into the rabbit hole of `modules`, `canned` container?

They are good for onboard but a pain to code and maintain, as a plus it is very hard to find an interface that is flexible enough but not complex (otherwise you will just use to not canned one).

[2019-12-05 18:10] adampatterson commented on #61
I ran the same command three times with three different results.

`docker exec -it container_name bash`
Time Out

`docker exec -it container_name bash`
cannot connect to the Docker daemon. Is 'docker daemon' running on this host?: dial tcp 54.191.67.44:2376: connect: operation timed out

`docker exec -it container_name bash`
Worked as expected 🤷‍♂️

[2019-12-17 07:49] erdemtoraman opened #121 "Feature: waiting strategy for SQL based database containers"
This waiting strategy shouldn't depend on any specific driver but only the std library sql package. It should block until the database container is ready to serve.

[2019-12-19 13:23] nikolayk812 commented on #118
@ClaytonNorthey92 what about viewing logs not only from the stopped container? In Java version, it was possible to redirect logs from a container to your test log output.

Also, I think this lib is very quiet in general. Not many things in the log on what is going on and what is the progress.

[2019-12-19 13:36] ClaytonNorthey92 commented on #118
@nikolayk812
that is a good idea...do you think that should be part of this pull request or we should add another issue for that?

just to clarify: what you mentioned would be redirecting the containers' logs to stdout that is output from the `test` command?

[2019-12-26 16:59] mdelapenya opened #124 "Go fmt is not failing Travis build"
Running `go fmt ./...` with current master (https://github.com/testcontainers/testcontainers-go/tree/0c6fcb48ff1cfa4d82a45b587e76b3588a4dc192) discovers a formatting problem in the `docker_test.go` file.

[code]

[code]

I wonder if the Travis build should be failed in that case 🤔 I think so, as Go is very opinionated when talking about source code format.

To check that Travis is showing same inf

[2019-12-26 23:10] ClaytonNorthey92 commented on #124
I agree with this, the builds should fail if `go fmt` was not run on the files

[2019-12-30 10:15] mdelapenya commented on #124
Fixed!

![image](https://media.giphy.com/media/AvMJCeu1EMmhG/giphy.gif)

[2019-12-30 10:15] #124 closed

[2020-01-04 17:42] pawalt opened #126 "Add function to exec and get output"
It would be nice to have a function called `ExecOutput` that would let the user see the output of an exec command. I've got this fully written with testing; I just want to make sure that this is a welcome addition first :)

[2020-01-04 22:51] mdelapenya commented on #126
I have it already implemented here: #97

[2020-01-05 01:32] pawalt commented on #126
Where is it implemented? I don't see anything about execing in a specific container.

[2020-01-05 08:11] mdelapenya commented on #126
Sorry, typing on mobile... It is a function to retrieve the output of an exec in a container to get the environment variables.

[2020-01-05 23:15] MaitreDede opened #127 "go vet fail with dependent library"
**Describe the bug**
`go vet ./...`
[code]
https://github.com/sirupsen/logrus/issues/1041

**To Reproduce**
Referencing `github.com/testcontainers/testcontainers-go v0.0.10`

**Expected behavior**
A clear and concise description of what you expected to happen.
The error should not appear.

**Additional context**
It seams that the `https://github.com/docker/docker` repo redirects to `https://github

[2020-01-05 23:20] MaitreDede commented on #127
A possible workaround :

Add [https://github.com/testcontainers/testcontainers-go/blob/master/go.mod#L3](this line) to my project `go.mod`:

[code]

[2020-01-06 14:45] pawalt commented on #126
Ah I see. I still think that a command that did the exec with the Docker api like [the current exec command](https://github.com/testcontainers/testcontainers-go/blob/master/docker.go#L233) but also returned the output from the command would be useful as well. The method I have is of the signature:
[code]

[2020-01-06 18:12] mdelapenya commented on #126
I'd rather using your function, so I'd rebase my PR and use yours instead

[2020-01-07 11:03] mdelapenya opened #128 "WaitForHostPort for depends on `bash` being installed in the target service"
## Bug description
I noticed that the wait for host/port strategy depends on having `bash` installed in the target service:

https://github.com/testcontainers/testcontainers-go/blob/cb2a3aa5304fa2e6af5c693063176fdd2319e3ab/wait/host_port.go#L91

which could not be true in many scenarios (i.e. a very basic Alpine-based image)

## Steps To Reproduce
Create a ContainerRequest from an Image without ba

[2020-01-07 14:44] thaJeztah commented on #127
Adding a `replace` works if you want to use a version that matches a tagged release of docker (for which tags can be found in the `docker/engine` repository), but if that's the reason, it's probably most most logical to pick a tag (but pin by commit, because Go doesn't accept the YY.MM tags)

Unfortunately, the `replace` won't help for consumers of this project though (only for the project itself)

[2020-01-07 15:18] pawalt commented on #126
Awesome. Let me polish it off, and I'll PR.

[2020-01-08 12:14] gianarb commented on #128
Nice! Thanks for opening this issue. I am wondering about how they manage it in Java @rnorth maybe we can be even more flexible requiring all the exec input. Even `/bin/bash`. it will solve the issue I suppose

[2020-01-08 12:48] gianarb commented on #126
Should we use an io.Reader as return type?!

[2020-01-08 15:07] pawalt commented on #126
Yup I'm open to using an `io.Reader` as the return type. If we're using a reader, do we still want to wait to return until the exec is done, or do we want to allow the user to read off the reader while the command is executing?

[2020-01-08 15:37] gianarb commented on #126
I prefer to have the user reading the io.Reader, it looks more flexible to
me

On Wed, Jan 8, 2020 at 4:07 PM Peyton Walters <notifications@github.com>
wrote:

--
Gianluca Arbezzano
www.gianarb.it

[2020-01-08 15:42] #118 closed

[2020-01-13 14:29] ClaytonNorthey92 opened #133 "Allow Log Following/Consuming"
**Describe the bug**
Not a bug, a feature request.
When running containers via testcontainers-go, in order to view the `stdout` from a container you have to call `.Logs(...)` on that container.  I think it would be useful allow an option to forward the `stdout` output from the containers to some sort of log consumer.  For example, you could send this to one that would log `stdout` of the container

[2020-01-20 10:39] gianarb commented on #133
There is a followoutput method in the testcontainers library:

https://www.testcontainers.org/features/container_logs/

I think it will be good to have something like that. I am not sure if there are interfaces in the std library we can leverage, I am thinking about the `io.Reader` one for example https://golang.org/pkg/io/#Reader to stay a bit more generic and closer to what the community expects

[2020-01-21 02:15] ClaytonNorthey92 commented on #133
The [Java implementation](https://www.testcontainers.org/features/container_logs/) allows you to consume `stdout`, `stdin`, or both.

I think the best way to achieve this would be to use the Docker API, I don't think we need another library to handle this.

The Docker API itself allows [a "follow" option](https://docs.docker.com/engine/api/v1.30/#operation/ContainerLogs)

This maps to a ["follow"

[2020-01-23 06:17] ClaytonNorthey92 commented on #133
@gianarb

I was investigating this a bit, and if we pass `Follow: true` when we call `ContainerLogs`, the `io.ReadCloser` that is returned will behave like so:

when calling `.Read` for the first time, you will get a header in the form of `[8]byte`, this will ultimately give you the size of the line in the log
when you call `.Read` again, you should use a `[]byte` with size equal to that from the

[2020-01-23 06:36] ClaytonNorthey92 commented on #133
@gianarb I will get an example pull request in to show you what I am thinking

[2020-01-24 07:27] ClaytonNorthey92 commented on #133
hey @gianarb I opened up a draft pull request #135  to proof out how I think this could work, there are a few things I want to add before I no longer call it a "draft".  I have left comments in the pull request for those.  could you take a look?

[2020-01-27 08:26] nikolayk812 opened #136 "Log progress on containers being started/waited/etc"
Log progress on containers being started/waited/etc

[2020-01-27 10:53] Bablzz opened #138 "Network host option works not with expected behavior"
Hello everyone!

Thanks for excellent library!

I've got stack an one problem. Maybe you can help me. Maybe I don't understand something

Thanks in advance!

PS. Library v.0.0.10

**Describe the bug**
Network host option works not with expected behavior

**To Reproduce**
[code]
=> **golang.org/x/sys/unix.ECONNREFUSED (111)**

**Expected behavior**
When I use `Networks: []string{"host"}` I expect t

[2020-01-29 14:39] AlaaB2020 opened #139 "possible panic in wait/host_port.go"
In line 73 of file wait/host_port.go in function WaitUntilReady the connvariable is called before checking for err. So if conn is nil it will not continue normally.
Suggestion is to move the line to be after the err check.

[2020-01-30 18:47] gianarb commented on #139
Hello @AlaaB2020
I may be wrong here but looking at the documentation and the code, `Dial` does not return a pointer, it returns the actual Connection.
it means that it can not be `nil`.

https://golang.org/src/net/dial.go?s=9799:9847#L306

[2020-01-30 18:52] gianarb commented on #138
Can you print the result for:

[code]

Thanks a lot

[2020-01-30 21:07] gianarb commented on #138
Thank you for providing the test!
I will try to figure out what is going on next week

[2020-01-31 06:37] Bablzz commented on #138
@gianarb I've debugged a little bit and I've founded out something.
Example
[code]
I see
[code]
 **"NetworkMode": "host"**

When I use this library I see
[code]
 **"NetworkMode": "default"**

I can make PR if you don't mind.

[2020-01-31 18:41] gianarb commented on #138
Please do thanks!

Il Gio 30 Gen 2020, 23:37 Bablzz <notifications@github.com> ha scritto:

[2020-02-02 09:23] AlaaB2020 commented on #139
yes, but in DialContext function which is called at the end, it returns nil in some cases. So the conn at the end can be nil

[2020-02-03 09:07] gianarb opened #142 "Write an example for SQL wait strategy"
I would like to get an Example function for the wait for SQL strategy #122

[2020-02-03 09:23] #138 closed

[2020-02-03 09:29] Bablzz commented on #138
Fixed

![fix](https://user-images.githubusercontent.com/2978361/73641246-c8645c00-4680-11ea-8ee8-675b7ebfdd30.gif)

[2020-02-03 14:54] e-zhydzetski commented on #139
`go version go1.13.5 windows/amd64`

I got that panic today:
[code]

[2020-02-03 15:02] gianarb commented on #139
Let's fix it!

[2020-02-04 04:43] rajibmitra commented on #142
I will working on this @gianarb

[2020-02-04 04:43] rajibmitra commented on #142
/assign rajibmitra

[2020-02-04 11:00] gianarb commented on #142
Thanks a lot!

[2020-02-04 14:47] mrg0lden opened #143 "Fails to build on windows after 0.1.0"
**Describe the bug**
After last release, I started getting this error
[code]

**To Reproduce**
Just use last version `0.1.0` on windows

[code]

**Additional context**
Windows 10 1909

[2020-02-04 14:54] mrg0lden commented on #143
Managed to solve it by using master version
`go get github.com\docker\docker@master`

Feel free to close it if you don't think it's worth an investigation.

[2020-02-04 15:00] gianarb commented on #143
Hello @mrg0lden thank your for your issue because I am sure somebody will have the same issue.

Unfortunately `go mod` leaves to the developer who uses the library the ownership for the dependency it runs. So there is not much we can do about it and we have other similar issues in this repo.

I will close it, but please keep opening issues if you have dependency problem, we will make our best to f

[2020-02-04 15:00] #143 closed

[2020-02-05 10:21] #139 closed

[2020-02-06 12:56] Bablzz opened #145 "Update Default Reaper Image"
Hello everyone!

It's not a bug It's a suggestion

Latest version Reapearquay.io/testcontainers/ryuk:0.2.3
https://quay.io/repository/testcontainers/ryuk?tab=tags
Latest version fixed this https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14697

Maybe it will be good to update default image.

Thanks and have a nice day!

[2020-02-06 15:43] dmarkhas opened #146 "HostPortStrategy returns immediately without retrying"
PR #144 introduced a bug that effectively breaks the retry mechanism of the HostPostStrategy. Any error is returned immediately, and the rest of the code is skipped entirely.

[2020-02-07 14:11] #146 closed

[2020-02-07 14:21] #128 closed

[2020-02-07 14:57] #145 closed

[2020-02-10 21:06] nikolayk812 commented on #136
Well, looks like pulling of an image happens before logging that container is being started. Need to be fixed.

[2020-02-10 21:22] nikolayk812 opened #149 "Connecting to Ryuk failed"
**Describe the bug**
Sometimes I get this:
`failed to create container: connecting to reaper failed: Connecting to Ryuk on localhost:32787 failed: dial tcp [::1]:32787: connect: connection refused`

Then I restart the test and then it works.

**To Reproduce**
Not known to me

**Expected behavior**
No such error

** docker info **
output of the command:

[code]

[2020-02-11 10:38] Bablzz opened #150 "WaitingFor returns "port not found" if NetworkMode == host"
**Describe the bug**
WaitingFor returns "port not found" if NetworkMode == host

**To Reproduce**
[code]

**Expected behavior**
Port found

**docker info**
[code]

**Additional context**
In my mind problem in **docker.go**
[code]

[2020-02-11 15:04] gianarb commented on #133
Closed #135

[2020-02-11 15:04] #133 closed

[2020-02-12 08:57] itaischwartz commented on #149
Happened to me too

[2020-02-12 09:00] gianarb commented on #149
Hello! I don't remember if there is a retry logic around it, if it is
missed, we should add one.
Thanks for reporting this!

On Wed, Feb 12, 2020 at 9:57 AM Itai Schwartz <notifications@github.com>
wrote:

--
Gianluca Arbezzano
www.gianarb.it

[2020-02-13 16:33] Ya3Sh opened #152 "golang.org/x/sys/windows".SECURITY_DESCRIPTOR"
**Describe the bug**
Project fails to build on windows when I depend on testcontainers-go v0.2.0 with below error:
..\..\..\..\pkg\mod\github.com\docker\docker@v0.7.3-0.20190506211059-b20a14b54661\pkg\system\filesys_windows.go:111:24: cannot use uintptr(unsafe.Pointer(&sd[0])) (type uintptr) as type *"golang.org/x/sys/windows".SECURITY_DESCRIPTOR in assignment

**To Reproduce**
Can you write a uni

[2020-02-13 16:36] Ya3Sh commented on #152
Possibly dupe of https://github.com/testcontainers/testcontainers-go/issues/143

[2020-02-13 18:59] Ya3Sh commented on #143
I tried using `github.com\docker\docker@master` and started getting

`..\github.com\docker\docker@v1.4.2-0.20200213004705-3af8d484b132\pkg\system\init_windows.go:21:21: undefined: osversion.Build`.

Any ideas how to get around the issue?

[2020-02-14 09:16] nikolayk812 opened #153 "Non-existent container image put test into an infinite loop"
**Describe the bug**
Test does not fail but stuck in an infinite loop in case of starting a non-existent container

**To Reproduce**
Try to start a test with Postgres version 10.12-alpine started by TC lib. The test never fails but stuck.

**Expected behavior**
The test should wait after a specific timeout

[2020-02-14 09:17] nikolayk812 commented on #153
How to reproduce: use non-existing image version, put breakpoint to github.com/cenkalti/backoff/retry.go L37 and another one to github.com/testcontainers/testcontainers-go/docker.go L407. It looks like the for-loop never return and it just keeps trying over and over again.

[2020-02-14 10:36] mrg0lden commented on #143
@Ya3Sh It's probably because the latest commit of master has some errors.

I use this one and it works as it should:
`go get github.com/docker/docker@v1.4.2-0.20200203170920-46ec8731fbce`

[2020-02-14 11:49] #121 closed

[2020-02-14 14:52] Ya3Sh commented on #143
No luck with that either.
`
$ go build ./...

#github.com/docker/docker/pkg/system

..\..\go\pkg\mod\github.com\docker\docker@v1.4.2-0.20200203170920-46ec8731fbce\pkg\system\init_windows.go:21:21: undefined: osversion.Build
`

[2020-02-16 06:14] ClaytonNorthey92 commented on #153
hey @nikolayk812 could you put your test code here? I specifically would like to see the values in `ContainerRequest`

[2020-02-17 02:27] ClaytonNorthey92 opened #156 "Allow Mounting of Different Path to Reaper Image for Docker Daemon"
**Describe the bug**
As of now, when the Reaper container is started, it mounts `/var/run/docker.sock` so the container can communicate with the Docker daemon on the host.  However, if you are running Docker on a system that is not linux, this may not the be case (Windows, for example).

**To Reproduce**
We hardcode the directory here:
https://github.com/testcontainers/testcontainers-go/blob/1809d

[2020-02-17 09:08] gianarb commented on #153
@ClaytonNorthey92 @nikolayk812
This may be related https://github.com/testcontainers/testcontainers-go/pull/155#pullrequestreview-359577805

[2020-02-17 11:33] bsideup commented on #156
This path is not the host's path but where the daemon is running. It is the same `/var/run/docker.sock` on Windows & Mac, since there is a Linux VM.

[2020-02-17 13:57] Ya3Sh commented on #152
#143 resolution didn't work for me.

[2020-02-17 15:13] erdemtoraman commented on #153
The issue was that the retry logic for pulling the image didn't take the context cancellation into account as it didn't use the backoff with context and the backoff's max waiting duration defaults to 15 minutes which gave an impression of getting stuck forever. Additionally there is a way to terminate the retry mechanism by wrapping the error as permanent which should be done if the server return

[2020-02-18 17:31] fwilhe opened #157 "failed to start container: context deadline exceeded"
**Describe the bug**
Not sure if it is a bug. I'm trying to start a nexus container for integration testing of nexus upload functionality and it takes longer then one minute to start.

Running my test results in this output:

[code]

I am not sure what _context deadline exceeded_ refers to. Is it the context in my test code, or some docker internal thing?

**To Reproduce**
Can you write a unit tes

[2020-02-18 17:45] ClaytonNorthey92 commented on #157
Thanks for the detailed description!

It sounds like the container you are starting doesn't output the log "Started Sonatype Nexus"  within the default timeout, which is 1 minute.

If your container takes longer than that to log out the message, I would suggest increasing the timeout like so...
[code]

if you are still getting failures, I would inspect the container logs and see what it is logging

[2020-02-18 17:54] fwilhe commented on #157
Oh, that seems to resolve the issue. I misunderstood the API. I guess `context deadline exceeded` mislead me to think I need to change the `ctx`. Thanks for your quick help 👍

[2020-02-18 17:54] #157 closed

[2020-02-19 09:02] Bablzz commented on #150
#151

[2020-02-19 09:05] gianarb commented on #150
Fixed

[2020-02-19 09:05] #150 closed

[2020-02-19 13:47] gianarb opened #158 "Add final check in CI to double check that environment is clean"
In some way I would like to know if at the end of the test suite we still have some containers running, this is to be sure that the cleanup process works

[2020-02-19 21:41] ClaytonNorthey92 commented on #158
Would it be a good idea to use the Go Docker client to do so?  [Here is a good example](https://godoc.org/github.com/docker/docker/client#hdr-Usage) to list running containers.

Would we want to perform any action if there are still running containers? I assume we would want to stop them?

[2020-02-20 12:36] gianarb commented on #158
Yes, I think it sounds like a good idea, it can be a bah script that runs as the last check, it should fail if there are containers running yes.

[2020-02-20 20:25] e-zhydzetski commented on #143
Try `replace github.com/Microsoft/hcsshim v0.8.6 => github.com/Microsoft/hcsshim v0.8.7`

[2020-02-20 22:46] e-zhydzetski opened #159 "Wait ForListeningPort not works in windows"
**Describe the bug**
`ForListeningPort` waiting strategy not works **in windows**:  `WaitUntilReady` method make first iteration, got connection error on `dialer.DialContext` and return immediately.
[code]

**To Reproduce**
[code]

**Expected behavior**
`WaitUntilReady` method iterates until container start and return without error

**Additional context**
Debugging showed that in the line:
https:/

[2020-02-21 19:41] ClaytonNorthey92 commented on #158
@gianarb do we need a bash script? I think we can perform this check in Go with the Go Docker Client, we might be able to run the check as part of our tests, the check could run after a suite has finished

[2020-02-22 08:11] mdelapenya commented on #158
My two cents: if the only goal is to ensure that there are no running containers (or networks or volumes) after the test suite runs, I'd simply go with a shell script returning 1. Writing it in Go would mean to maintain it 🤔

[2020-02-24 15:36] gianarb commented on #158
@ClaytonNorthey92 I think @mdelapenya got what I am thinking about. Just a small hack to be sure that we get 0 containers running

[2020-02-24 15:43] ClaytonNorthey92 commented on #158
okay makes sense to me 👍

[2020-02-28 09:26] Bablzz commented on #159
Hi @e-zhydzetski !
Maybe add `runtime.GOOS == "windows"` then `if v2.Err == windows.WSAECONNREFUSED `
Can you?

[2020-03-03 08:21] #149 closed

[2020-03-03 08:39] #153 closed

[2020-03-26 17:56] a-urth opened #169 "Reusable containers"
Hi everyone. I've came across problem running multiple instances of the same container among couple of different tests. And in case its something resource heavy like elasticsearch it takes time to spawn, those so it kinda makes sense to reuse them if one of the containers is already running.

I found that such functionality was implemented into java version of the projects and quickly looking thro

[2020-03-27 07:38] gianarb commented on #169
Hello! Thank you for opening this issue. We do not have a feature like that. But it is for sure implementable and something that we can do!

[2020-03-27 19:16] cprepos commented on #169
@a-urth You can set up a container as a global var in the test, and use TestMain to start your containers before tests begin. They will be available to all tests.

`
var container testcontainers.Container

//TestMain controls main for the tests and allows for setup and shutdown of tests
func TestMain(m *testing.M) {
	//Catching all panics to once again make sure that shutDown is successfully run

[2020-03-31 04:15] gunturaf opened #172 "Change github.com/satori/go.uuid to github.com/gofrs/uuid"
@gianarb is there any planned go mod dependency change from `github.com/satori/go.uuid` to `github.com/gofrs/uuid` or the one that Google maintains `github.com/google/uuid` ?

If you haven't read the rationale why this should be took into consideration:

[ excerpt from github.com/gofrs/uuid [readme file](https://github.com/gofrs/uuid/#project-history) .]

[2020-04-05 17:50] ikolomiyets opened #173 "Network is not being removed by reaper"
**Describe the bug**
In the complex case, when test suite creates multiple containers attached to the a new network that is also created by the test, reaper intermittently fails to remove network upon completion of the test.
[code]

**To Reproduce**
[code]
Once the above test is executed I still see the `test-network` in the list:
[code]
**Expected behavior**
Upon completion of the test I expect t

[2020-04-09 14:31] gianarb commented on #172
Yep! Wil update it asap!

[2020-04-10 08:46] #172 closed

[2020-04-14 13:04] #173 closed

[2020-04-15 16:43] Krishan-Sharma commented on #56
Hi @gianarb,

I would like to help with the implementation to use Kind for starting Kubernetes in a docker. Can you give me some context as to where we are with the implementation, challenges, design consideration, constraints that you have thought about while implementing this canned resource?

Also, some pointers on where to start would be greatly appreciated.

Thanks!

[2020-04-16 20:08] ImVexed commented on #152
Fixed for me by pulling the latest version of docker `go get github.com/docker/docker@aa6a9891b09cce3d9004121294301a30d45d998d`
This seems to stem from the testcontainers using an old version of docker.

[2020-04-17 09:31] tomqwpl commented on #152
Also seeing this. Will try and work out how to use the PR

[2020-04-20 07:55] #25 closed

[2020-04-20 08:29] softshipper opened #183 "Why port not found?"
Hi all

I am trying to use https://github.com/testcontainers/testcontainers-go as follows:

    func TestGitAutoTag(t *testing.T) {

    	path, err := os.Getwd()
    	assert.NoError(t, err, err)

    	fmt.Println(path)
    	data := fmt.Sprintf("%s%s", path, "/gogs/data")

    	fmt.Println(data)

    	//Start gogs container
    	ctx := context.Background()
    	req := testcontainer.ContainerRequest

[2020-04-20 10:20] gianarb commented on #183
Hello @softshipper
thank you for reporting this bug. I am able to reproduce your issue and I think it is related to the `wait.ForHTTP` strategy.

In the meantime can you replace that with `WaitingFor:   wait.ForLog("Listen: http://0.0.0.0:3000")`, it should give you the same effect.

I have a few things to ask you for, your operating system and version. And information about the version of the lib

[2020-04-20 11:04] #183 closed

[2020-04-20 12:19] softshipper opened #185 "Why port not found?"
Hi all

I am trying to use https://github.com/testcontainers/testcontainers-go as follows:

    func TestGitAutoTag(t *testing.T) {

    	path, err := os.Getwd()
    	assert.NoError(t, err, err)

    	fmt.Println(path)
    	data := fmt.Sprintf("%s%s", path, "/gogs/data")

    	fmt.Println(data)

    	//Start gogs container
    	ctx := context.Background()
    	req := testcontainer.ContainerRequest

[2020-04-20 12:28] gianarb commented on #185
Hello!

This is a duplicate of https://github.com/testcontainers/testcontainers-go/issues/183#issuecomment-616454067

Can you verify it works for you and close this issue?
Thanks

[2020-04-20 12:39] softshipper commented on #185
Sorry I did not see it. I will close it.

[2020-04-20 12:39] #185 closed

[2020-04-20 12:45] softshipper commented on #183
It takes a long time(61.56s):

[code]
Why?

One more question, how to specify bind like:
`--mount type=bind,source=`pwd`/gogs/data,target=/data`
I've tried
[code]

But it does not work. I would like to create a test like:
`docker run --rm -it -p 3000:3000 --name=gogs --mount type=bind,source=`pwd`/gogs/data,target=/data gogs/gogs
`

Thanks

[2020-04-20 15:05] softshipper opened #186 "How to mount a directory?"
Hi all

I would like to bind a directory to to container and have tried as follow:

[code]
It does not bind. What I am trying to achieve is:

`docker run --rm -it -p 3000:3000 --name=gogs --mount type=bind,source=`pwd`/gogs/data,target=/data gogs/gogs`

What am I doing wrong?

Thanks

[2020-04-21 14:59] mdelapenya opened #188 "v0.6.0 github release is using v0.5.1 git tag"
I see the tags are not in sync, and maybe this could cause confusion in our users.

https://github.com/testcontainers/testcontainers-go/releases/tag/v0.5.1

Not sure if creating a `v0.6.0` git tag at the same point would be a feasible solution 🤔

[2020-04-21 16:17] gianarb commented on #188
oh good catch. github is a bit broken for me now but as soon as it returns stable I will look at it!

[2020-04-21 16:19] gianarb commented on #188
oh good catch. github is a bit broken for me now but as soon as it returns stable I will look at it!

[2020-04-26 13:28] gianarb commented on #186
Hello @softshipper

I tried to double-check your problem and I am not able to reproduce your issue. What do you get as `err` here:

[code]

In my case, everything works as expected only if the directory already exists, so you have to check and validate if `data` is there or the process will error.

When the directory exists I do not get any issue and I see the data created from `gogs` in the mount

[2020-04-26 13:29] gianarb commented on #186
Hello @softshipper

I tried to double-check your problem and I am not able to reproduce your issue. What do you get as `err` here:

[code]

In my case, everything works as expected only if the directory already exists, so you have to check and validate if `data` is there or the process will error.

When the directory exists I do not get any issue and I see the data created from `gogs` in the mount

[2020-05-06 18:39] gianarb commented on #186
Closing for now, feel free to reopen if needed

[2020-05-06 18:39] #186 closed

[2020-05-06 18:40] gianarb commented on #188
I do not want to change it because I don't know the implication with `gomod` and things like that, so the new one should be good. Gonna close it for now

[2020-05-06 18:40] #188 closed

[2020-05-09 12:48] #159 closed

[2020-05-12 08:52] nwv-danvulpe opened #192 "Reaper doesn't appear to be thread safe"
**Describe the bug**
Having recently upgraded from 0.4.0 to 0.5.1 I noticed some tests started failing with:
[code]
We run a number of tests in parallel (in the same package) spinning up a few containers (less than 5). If we remove `t.Parallel()` the test pass successfully, but they take longer to complete.

**To Reproduce**
Can you write a unit test to reproduce your issue?
[code]

**Expected beh

[2020-05-12 21:29] mniak opened #193 "Sql wait strategy does not use defaultStartupTimeout"
**question/suggestion**

Hi, I was exploring the code and found that the wait strategies for Http, Port and Log all uses the `defaultStartupTimeout()` which is  60 seconds.

But the SQL wait strategy uses 10 seconds.
Shouldn't it use the same default value?

[2020-05-13 09:14] gianarb commented on #193
Yes good catch! Are you happy to get a PR to fix that?
Thanks

[2020-05-13 09:20] gianarb commented on #192
I think something broke when working at #174 .
I will have a look at thanks a lot for writing such a nice reproducible gem!

[2020-05-14 12:06] mniak commented on #193
Yes, I can do that.

[2020-05-14 12:35] mniak opened #197 "Add PollInterval to the waiters for sql, http and host_port"
All of them uses 100 miliseconds, which is in most cases fine.
Although it wouldn't hurt to be able to change these intervals

If accepted, I can do the PR myself

[2020-05-14 12:37] mniak commented on #197
The log waiter already has this property

[2020-05-15 12:16] #193 closed

[2020-05-15 12:18] gianarb commented on #197
Thank you for your workaround consistency and for the fact that you double-check first!
I am on board! Feel free to open a PR!

[2020-05-22 14:50] Krishan-Sharma commented on #169
Above is a decent solution if you are looking to reuse containers within one run of tests, across all tests but it is not at parity with Java's reusable containers implementation since that spans across JVM shutdowns as well.

[2020-05-24 12:10] #192 closed

[2020-06-01 12:36] dimuls opened #203 "Way to define HostIP (interface)"
Need a way to define on which host interface will be used. Now `HostIP=0.0.0.0`. For testing purposes we do not want to expose app on public interfaces. Need a way to define `HostIP=127.0.0.1`.

[2020-06-10 07:16] aklinkert opened #208 "Make entrypoint configurable"
Hey there,

for images that do have an entrypoint configured in its Dockerfile it seems currently not possible to override it. As far as I understand the code the docker client does provide it, but testcontainers simply doesn't offer a way to pass through the value.

[2020-06-10 07:31] gianarb commented on #208
Hello @aklinkert
that's right, thank you for opening this.
Do you want to help with a PR? The change should be around here

https://github.com/testcontainers/testcontainers-go/blob/93d54445e8e10a1963b638cd19d8ce533d6b01d1/container.go#L69-L90

Otherwise let me know somebody will pick it up

[2020-06-10 07:34] aklinkert commented on #208
I'm gonna contribute this! 💪

[2020-06-10 07:35] gianarb commented on #208
Btw our master unit test are not all working right now. We are working on it, but if you can add a test for that feature it will be nice :)

Bonus point if you can reuse the Nginx image or one that we already use in our testsuite
Thanks a lot!

[2020-06-10 07:43] aklinkert commented on #208
@gianarb I've opened the pull request. I reused the CMD test as you mentioned, WDYT?

[2020-06-10 07:58] #208 closed

[2020-06-12 14:38] Vesli opened #210 "How to define a proper wait strategy"
**Describe the bug**
I am trying to setup a zookeeper / kafka docker environment in order to run integration testing with Go.
Thus, I am setting up Zookeeper container, wait for it to be ready and then setup a kafka container.
But before being able to reach kafka the error:
[code]

Occurs when trying to access zookeeperContainer.Endpoint() and it crashes in 3s if the container was already download

[2020-06-12 16:03] Vesli opened #212 "Cannot start container from Dockerfile"
**Describe the bug**
If I manually build and start my Dockerfile (docker build . -t test && docker run -t test) it works without problems.
But:
[code]
returns:

The image is built but refuses to run

Dockerfile:
[code]

Nonetheless, from the testcontainers image created, if I run:

or

both work without problem, the binary is at the right location within the container etc.

** docker info **
outpu

[2020-06-15 09:11] Vesli commented on #212
On CircleCi the error is different, it cannot find the image it created from the Dockerfile:

[2020-06-15 16:26] ClaytonNorthey92 commented on #212
hey @Vesli I apologize it took me so long to get back to you, could you do one thing for me?  ...

Could you try using a _full path_ rather than a relative path to your `Context`?  And could you tell me what error you see if you do that?

[2020-06-16 09:33] Vesli commented on #212
Hello @ClaytonNorthey92

So I tried and the same error happens:

2020/06/16 10:30:14 Container started!
2020/06/16 10:30:14 Waiting for container id 720fedc46f2a image: 3388f48c-6ffe-4972-9981-91917c66b421:0128955c-37bc-40be-acac-ddaa8a8fbb3b

And right away after "waiting for container" there is the error showing up:

I've tried with removing the env variables for my service, which should result

[2020-06-16 12:06] gianarb commented on #212
It will help us a lot of you can strip out everything that is proprietary and you can serve to us an easy to reproduce project. It can be a tar archive loaded as an attachment to this issue

So we can reproduce it easily

[2020-06-24 11:31] islishude commented on #212
It's not a bug,you should set the Dockerfile path with [os.Getwd](https://golang.google.cn/pkg/os/#Getwd)

[2020-06-24 12:42] gianarb commented on #212
Gonna close this issue, for now, feel free to open another one if you need more information. We have to write documentation for this in order to make it clear.

[2020-06-24 12:42] #212 closed

[2020-06-29 12:48] fbiville commented on #127
I'm currently trying to add testcontainers to https://github.com/markfisher/rokn/, i.e. `go get github.com/testcontainers/testcontainers-go` and get the exact same error as in the initial description.

[2020-06-29 13:15] thaJeztah commented on #127
Yes, you'll have to manually specify the correct version some more details in https://github.com/moby/moby/issues/39302#issuecomment-635253855

[2020-06-29 13:16] thaJeztah commented on #127
FWIW, all tags from the docker/engine repository have been added to the upstream docker/docker (moby/moby) repository, so it should no longer be needed to use the docker/engine repository

[2020-06-29 13:17] fbiville opened #224 "How to set a custom container hostname?"
I want to run the equivalent of the following for [RabbitMQ](https://hub.docker.com/_/rabbitmq):
[code]
However, I do not see anything in `testcontainers.ContainerRequest` that could map to that option.
All I have at the moment is:
[code]
Is setting a custom container hostname supported?

[2020-07-01 07:04] guenhter opened #225 "Feature: Copy files into created container"
**Describe the bug**
The java implementation of testcontainers contains

https://github.com/testcontainers/testcontainers-java/blob/25a9aa51a11d3c050da8b6b532dac50ef8e227ba/core/src/main/java/org/testcontainers/containers/Container.java#L175

which allows to specify files to be copied into the container after it is created and before it is started.

This would be nice to have in the go implementat

[2020-07-01 08:12] gianarb commented on #225
Hello! Thank you for opening this issue and to point out how testcontainers-java does that!

I will be on it as soon as I can, or if you are happy to contribute let me know!

[2020-07-01 08:43] guenhter commented on #225
HI thx. yes, I'd be happy to help out here as well. Can you give me some starting hints?

[2020-07-02 13:27] franklinlindemberg commented on #225
I'm also looking for this feature!

My use case is that I need to configure kafka docker (since we only know the container external port after the container has started, we need to then update the kafka advertised listeners so we are able to access from the host machine).

I'll try to work on a PR as well

[2020-07-02 13:35] franklinlindemberg commented on #225
Just validate that my use case is a little different. Im looking for CopyFileToContainer instead, but both might be very alike

[2020-07-02 15:59] franklinlindemberg commented on #225
@gianarb I already have a local branch but it seems I dont have permission to push in the repo. Is it possible to have permission?

[2020-07-02 16:38] gianarb commented on #225
Hello @franklinlindemberg

You should fork this project and push to your local fork. From there you can open a PR against this repository

https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

Let me know if you need any help and thanks

[2020-07-02 18:42] franklinlindemberg commented on #225
@gianarb https://github.com/testcontainers/testcontainers-go/pull/226
Opened the draft PR. still missing stuff tests and documentation. Let me know if it looks good for you so far

@guenhter This might help you with withCopyFileToContainer. The only difference is that I copy the file after the container is created

[2020-07-06 14:03] gianarb commented on #127
Thanks @thaJeztah ! @fbiville it is not something we can fix in testcontainers. You have to replace `docker/docker` in your go mod with a specific tag.
https://github.com/golang/go/wiki/Modules#when-should-i-use-the-replace-directive

[2020-07-06 14:05] gianarb commented on #224
Hello, thank you for your issue. This is not a currently supported issue, but we can have it. Do you want to make a contribution? otherwise, I will have a look as soon as I can.

[2020-07-06 15:29] fbiville commented on #224
@gianarb I can have a crack at it, it seems quite straightforward #famouslastwords

[2020-07-06 17:07] fbiville commented on #224
@gianarb here is a quick (draft) PR: https://github.com/testcontainers/testcontainers-go/pull/227.

[2020-07-06 18:13] fbiville commented on #169
Please correct me if I'm wrong, but that still limits reuse per package, or?
Is there a single global `TestMain` or one per package?

[2020-07-09 11:39] joe-getcouragenow commented on #225
Had a look at the containers.go, but cant see a way to copy a file out of a container using the API.
I need this because we build binaries using docker for mobiles and desktops.

[2020-07-09 12:40] franklinlindemberg commented on #225
@joe-getcouragenow I think the method you need is this one from docker container api

[code]

You can check my draft pr where I implemented the copyToContainer, the difference would be that you would receive a tar and need to handle it, it will have the requested files inside

https://github.com/testcontainers/testcontainers-go/pull/226

Let me know if it worked

[2020-07-10 08:38] joe-getcouragenow commented on #225
Thanks @franklinlindemberg
Just checked the code and make a comment.

It looks like i did not explain the intent of this very well. I need to copy Files from the Container back out to the Host.

I also need to be able to copy files from the Host into the Container BTW :)

Please clarify and let me knwo if i misunderstood.

[2020-07-10 16:02] chambodn opened #228 "Allow to set Shared Memory size (shmSize) for ContainerRequest"
Would it be possible to add the option to specify `shmSize` when defining a `testcontainers.ContainerRequest`?
This is especially useful for when starting docker images with some active prerequisites (in my case [solace/solace-pubsub-standard](https://docs.solace.com/Solace-SW-Broker-Set-Up/Docker-Containers/Set-Up-Single-Linux-Container.htm).

[2020-08-05 19:57] ain-valtin commented on #126
Hey, whats the status of this? Getting the result of the command would be very useful to me, kinda stuck right now with this...

[2020-08-06 18:25] mniak commented on #210
The second argument is the URL scheme.

[2020-08-12 17:33] mniak commented on #197
Just FYI, I created a fix in PR #200

[2020-08-13 00:46] vbrown608 opened #231 "Allow capturing container exit code"
I'm using this tool to test code that must run in a container, rather than to set up containerized dependencies for tests that run on the host. I'd like to await the container's exit and capture the exit code. Is it possible? It looks like something similar can be done by calling `Exec` on an already-running container, but I would ideally like to run the container `Command` directly.

Am I missing

[2020-08-14 17:22] rkuprov opened #232 "Upgrading to go1.15 results in a breaking error"
**Describe the bug**
Running the package after upgrading to go1.15 causes failure in container creation with this error:
`failed to create container: creating reaper failed: could not start container: host port waiting failed: error during connect: Post "http://%2Fvar%2Frun%2Fdocker.sock/v1.40/exec/4518d0eb0fbb7a35e6917e015ce8300646d703ad809453be8f500b64113f25a9/start": net/http: HTTP/1.x transpor

[2020-08-16 10:27] sazzer commented on #232
Getting this exact same error here. Works on 1.14.7 and fails on 1.15.

In case it helps:
[code]

Cheers

[2020-08-17 14:28] #224 closed

[2020-08-17 16:28] rkuprov commented on #232
@sazzer , thank you! I felt a bit silly posting the  initial report.

[2020-08-17 16:30] sazzer commented on #232
No worries. I'm glad you did because I thought it was just my computer at
first!

On Mon, 17 Aug 2020 at 17:28, rkuprov <notifications@github.com> wrote:

[2020-08-18 12:28] kostyay commented on #232
Seems to be related to this: https://github.com/golang/go/issues/40735

[2020-08-18 18:03] iulian-gm commented on #232
Is there a workaround for this?

[2020-08-19 02:15] rkuprov commented on #232
I just had to downgrade to 1.14.7. Dave Cheney wants a way to reproduce the issue. I'm not sure why, since the code provided by h8liu in the issue you (@iulian-gm ) posted already does that.

[2020-08-19 09:59] mdelapenya commented on #232
Hey, we are adding coverage for different versions of Go in the test suite on Travis (https://github.com/testcontainers/testcontainers-go/pull/233)

Once merged, could you please add a test reproducing the issue? I think it would be easy with the scenario proposed by @sazzer above.

Thanks!

[2020-08-20 09:33] mdelapenya opened #234 "Add contributions guidelines"
Let's define how we want to receive community contributions, so that it's even much easier to do it.

Possibly a CONTRIBUTING.md file will be enough, although a good PULL_REQUEST_TEMPLATE can help

[2020-08-28 13:54] lujjjh commented on #232
My workaround:

[code]

[2020-09-09 16:54] nestorbr opened #238 "Version 0.8.0 is using an old path of logrus"
**Describe the bug**
Doing `go get github.com/testcontainers/testcontainers-go`  you get an error,  it is pointing to an old path of `logrus`

`go: github.com/testcontainers/testcontainers-go upgrade => v0.8.0`
`go: finding module for package github.com/Sirupsen/logrus`
`go: finding module for package github.com/docker/docker/errdefs`
`go: found github.com/Sirupsen/logrus in github.com/Sirupsen/lo

[2020-09-10 03:18] namco1992 commented on #238
@nestorbr It's not really this lib's issue, it's the dependency of this lib. You may find this https://github.com/testcontainers/testcontainers-go/issues/127#issuecomment-570958635 helpful.

[2020-09-11 20:27] krisctl opened #240 "Comment on LogStrategy is wrong as it talks about HTTP Strategy and how it talks to port 80 and waits for 200 status code"
Here is the comment in question:
https://github.com/testcontainers/testcontainers-go/blob/8c6882747d26e7f751bb001298e4e42d49b6ee50/wait/log.go#L24

[2020-09-14 15:50] shashank-g172 opened #241 "Opened PR: Wait Strategy for TestContainers Docker compose - Go"
Hi,

 This is specific to a compose file starting up services.

 I was wondering if there's a way to grab an individual service from the ones being started up in a compose file, and apply a wait strategy to it as we do with a normal genetic container startup. I'm finding that introducing a random sleep time within a test isn't necessarily the best way to wait for a container to be up.

Thanks,
Sha

[2020-09-15 05:49] mdelapenya commented on #241
Hi @shashank-g172, that could be a great enhancement, thanks for the suggestion. Are you willing to open a PR with the contribution?

[2020-09-16 13:24] shashank-g172 commented on #241
Sure, I'd be willing to open up a PR and help out. Can I re-use the wait strategy that comes out of the box with a single container startup and implement in compose.go?

[2020-09-16 14:16] mdelapenya opened #242 "Migrate from Travis.org to GH actions"
How does this affect us? https://docs.travis-ci.com/user/migrate/open-source-repository-migration

[2020-09-16 14:25] gianarb commented on #242
I am slowly moving my project to GitHub action, so I am happy to see this happening if somebody has the bandwidth to do it

[2020-09-17 07:45] gianarb commented on #241
I think you should have a look at how it is currently implemented in Java:

https://www.testcontainers.org/modules/docker_compose/#waiting-for-startup-examples

and see if we can do something similar, I think it is important to design an API that re-use the wait strategy we already have yes!

Thanks a lot and let us know!

[2020-09-17 16:01] ikolomiyets opened #243 "Unable to execute tests when they are running in Jenkins with Kubernetes plugin when Pods are running in EKS"
**Describe the bug**
The pipeline is running in Jenkins instance with Kubernetes plugin. Both Jenkins and Kube plugin pods are running in the EKS.
Tests are failing when trying to create Reaper container, i.e. it times out when waiting for the Reaper to come alive.

**To Reproduce**
Set up Jenkins server with a Kubernetes cloud defined which connectes to a EKS instance.
A test scenario uses Testco

[2020-09-18 08:42] robertscherbarth commented on #238
I have the same issue. Can you please make a new release for this fix?

[2020-09-18 11:35] #243 closed

[2020-09-18 13:06] #197 closed

[2020-09-20 16:33] franklinlindemberg opened #246 "[Docs] Add kafka container example"
I was wondering if it would be possible to have some defined container images (similar to what we have for java testcontainers https://www.testcontainers.org/modules/kafka/).

I ported the kafka container to golang (https://github.com/franklinlindemberg/go-samples/blob/master/samples/testcontainer/kafkacluster.go) and if you think it makes sense, I could add it to this project so more people could

[2020-09-20 19:49] kernle32dll commented on #238
This should be fixed if https://github.com/testcontainers/testcontainers-go/pull/245 get merged

[2020-09-21 08:58] gianarb commented on #231
This is a legit and [Executing a command](https://www.testcontainers.org/features/commands/) is what we should implement in Go.

[2020-09-21 09:00] gianarb commented on #126
This is a legit and [Executing a command](https://www.testcontainers.org/features/commands/) is what we should implement in Go.

[2020-09-21 09:00] #231 closed

[2020-09-21 09:02] gianarb commented on #203
Hello! Do you mind to detail a bit more what you are trying to do? Is this a docker daemon configuration or what?

[2020-09-21 09:21] gianarb commented on #127
Go vet is now working and it is part of CI.
Thanks!

[2020-09-21 09:21] #127 closed

[2020-09-21 09:33] #238 closed

[2020-09-22 12:19] shashank-g172 commented on #241
Thank you. I will open up a PR.

This is exciting stuff :)

[2020-09-23 18:32] ikolomiyets opened #248 "Cannot create a container with more than one network requested"
**Describe the bug**
Docker Provider fails to create a container when ContainerRequest has more than one network specified.

**To Reproduce**
Consider container request like the following:
`	amqpRequest := testcontainers.ContainerRequest{
		Image:        "nginx",
		Name:         "nginx-test",
		ExposedPorts: []string{"80/tcp"},
		Env:          env,
		AutoRemove:   true,
		WaitingFor:   hp,
		Netwo

[2020-09-27 11:02] dimuls commented on #203
Haven't used `testcontainers-go` for months. As far as i remember it is docker container configuration. We were need to bind testing containers' ports on `127.0.0.1` not on `0.0.0.0`.

For example, we have web server which uses port 80. To test it we need to run docker with this web server and somehow expose this port 80. But we do not want to expose it on public net interface (using `0.0.0.0`) bu

[2020-09-29 09:29] sazzer opened #250 "Postgres container not working"
**Describe the bug**
Using Testcontainers to start a Postgres container seems to not work at all. The container fails to start correctly.

**To Reproduce**
[code]

Output from this is:
[code]
**Expected behavior**
The container to start correctly.

** docker info **

[code]

**Additional context**
Other containers seem to work fine. I've tested the exact code above with `nginx` and `redis` success

[2020-09-29 09:44] sazzer commented on #250
Just to rule it out, I've just deleted *all* containers and images and tried again, with the same results.

[2020-09-29 10:04] sazzer commented on #250
It turns out it's a configuration error, but the output is very unhelpful.

The problem was that I need to provide some environment params for the container to start, and without them it fails. This works:
[code]

However, I only worked that out by actually putting a sleep after the startup and then looking at the container logs with `docker logs -f`. The output from testcontainers wasn't helpful

[2020-10-01 18:50] insta-code1 commented on #232
Note: I recently upgraded my mac os and encountered this error too. Upgrading the docker desktop application fixed the issue.

[2020-10-02 06:44] cburgmer opened #252 "Document how to work with `failed to start container: context deadline exceeded`"
**Describe the bug**
When upgrading the Postgres image past 10.6, I received a `failed to start container: context deadline exceeded`. This didn't help much, and running `docker ps` in parallel also did not show a container being brought up.

**To Reproduce**
[code]

**Expected behavior**
I'd love some help in the output to debug this.
What helped for me was the following:

[code]

[2020-10-02 07:01] cburgmer commented on #250
See #252 .

I did not find this issue as I was searching for the error message.

[2020-10-02 07:10] ikolomiyets commented on #252
I don't think it is an issue. By default, testcontainers are not concerned about the container logs. I.e. its aim is to bring the requested container to the running state. From this point of view it is equivalent to the docker's detached container start: all you can see is the container ID. And if it did not start you have to look explicitly into container's logs.

If you want to see the container

[2020-10-02 07:15] sazzer commented on #252
I think the big problem - both here and in #250 - is that the error displayed doesn't give any indication that the docker logs are useful. And actually, in some cases, by the time you want to look in those logs they've already gone.

On #250, the error gave the impression that testcontainers was trying to execute something inside the container that it couldn't. That was completely wrong, and led m

[2020-10-02 07:22] ikolomiyets commented on #252
IMHO, pointing to the container logs when it fails to start could be misleading.

There could be number of reasons why container failed to start. For instance, like in the snipped above when required environment variables were not set. Or there could be a scenario when WaitingFor property is set incorrectly in the container request. In the latter case logs would not help much.

[2020-10-02 07:49] sazzer commented on #252
This is true. Maybe explicitly pointing to the logs isn't ideal, but
*something* could be done to make the error message better. In my case, I
spent ages thinking there was something wrong with the container, with
testcontainers itself, with my host environment, etc. And all the time,
looking at the container logs would have solved it in seconds.

In the case of WaitingFor being wrong, I wonder if

[2020-10-03 08:51] gianarb opened #255 "Introduce prettier to CI"
Hello!

I would like to have prettier https://github.com/prettier/prettier working in our CI system.

[2020-10-06 07:31] #240 closed

[2020-10-06 15:24] Bablzz commented on #242
I did small yaml with actions
[code]

[2020-10-06 21:53] sanan-fataliyev commented on #241
Hi. @shashank-g172, are you working on it?

[2020-10-07 12:22] shashank-g172 commented on #241
@sanan-fataliyev , Yes I will be.

[2020-10-20 06:31] xiaxichen opened #259 "install error"
go get  github.com/testcontainers/testcontainer-go
gopath/src/github.com/testcontainers/testcontainer-go/docker.go:147:32: cannot use inspect.NetworkSettings.NetworkSettingsBase.Ports (type "github.com/docker/docker/vendor/github.com/docker/go-connections/nat".PortMap) as type "github.com/docker/go-connections/nat".PortMap in return argument
gopath/src/github.com/testcontainers/testcontainer-go/do

[2020-10-25 04:39] #259 closed

[2020-10-26 13:39] shashank-g172 opened #260 "Opened PR: Contributing Docs need an update based on error logs"
**Describe the bug**
While attempting to build the container locally while adding a new feature, I noticed that that the contributing.md doc needs an update to a later version of go, but I'm not sure how that'll break Travis builds.

**To Reproduce**
Run the steps on the docs once exec'd into the container

**Expected behavior**
No build errors

** docker info **
Command> go vet ./...
output of th

[2020-10-28 13:02] shashank-g172 commented on #241
@sanan-fataliyev  - Here's a quick update, I'm still testing it out locally to verify that I have the right path forward. I'm essentially exposing the services and the containers as a map and iterating through the wait strategies just like the Java client does:

https://github.com/testcontainers/testcontainers-java/blob/master/core/src/main/java/org/testcontainers/containers/DockerComposeContainer

[2020-11-09 00:27] shashank-g172 commented on #241
@mdelapenya  @gianarb  @sanan-fataliyev - I've opened up the PR as a draft. It mirrors the Java SDK for TestContainers to apply the wait strategy.

An issue that I'm seeing in Travis (not locally, since the Travis Docker image works fine and these tests do not fail)  is that the Docker Daemon version is mismatched between the operations I intend to perform vs what the current TestContainers librar

[2020-11-10 10:08] mdelapenya opened #263 "Add codecov for code coverage"
It would be great to check project's health taking a look into code coverage reports.

We all know that code coverage by itself does not mean the code has quality, but can give us an initial sense of it, and a place to look at when writing tests for uncovered places.

[Codecov](https://codecov.io/) is a great service, free for Open Source projects. It has Github Actions integration, so I see it as

[2020-11-11 11:58] mdelapenya commented on #152
Seeing this behaviour here: https://github.com/testcontainers/testcontainers-go/runs/1384925491?check_suite_focus=true

[2020-11-11 12:16] mdelapenya commented on #152
I've sent a PR here #235 running the tests in multiple OS: windows and linux (unfortunately, GH does not support Docker on mac)

At this moment, the error described in this issue is fixed

[2020-11-20 14:17] #101 closed

[2020-12-03 16:29] dmarkhas commented on #232
Can confirm this is fixed in Docker Desktop 2.5.0.1 for MacOS

[2020-12-03 17:31] rkuprov commented on #232
My bad. Should've closed it a while ago!

[2020-12-03 17:31] #232 closed

[2020-12-28 11:49] sazzer opened #273 ""not enough arguments in call to p.client.ContainerCreate""
Installing Testcontainers v0.9.0 currently fails to work, because Go is automatically pulling in Docker v20.10.1 instead of v17.12.0 and the API has changed.

As such, when I run anything I get:
[code]

I can fix this by running:
[code]

But the next time I run `go get -u ./...` to update dependencies then it all breaks again.

[2021-01-14 17:24] saminahbab commented on #273
I see this also

[2021-01-18 09:46] fbiville commented on #19
I'd be happy to write a Neo4j integration.

[2021-01-18 10:58] gianarb commented on #19
I am gonna this issue for now! As you can read in our documentation Golang is not really flexible when it comes to managing multiple modules in the same project and dependency management is still a pain.

https://golang.testcontainers.org/modules/

We decided to stay focused on the core library for now. If you decide to develop your module open a PR and link it in our documentation. We are happy t

[2021-01-18 10:58] #19 closed

[2021-01-18 10:59] gianarb commented on #49
I think this issue is not closed with this feature we have implemented:
https://github.com/testcontainers/testcontainers-go/blob/8f84b6f3af4c999830246d60b9bedd11dad59d0f/docs/features/build_from_dockerfile.md#build-from-dockerfile

[2021-01-18 10:59] #49 closed

[2021-01-18 16:14] jgehrcke opened #279 "creating reaper failed: could not start container: dial tcp: i/o timeout"
Got to see `failed to create container: creating reaper failed: could not start container: dial tcp: i/o timeout` in a docker-in-docker situation, whereas _in the container_ (where testcontainers-go runs) the `/var/run/docker.sock` file (from the host) is mounted. Not even sure what exactly tries to TCP-connect() to where exactly, but clearly that TCP connection fails `dial tcp: i/o timeout`.

Wor

[2021-01-19 08:16] buzzdan commented on #273
same here... any way to fix it ?

[2021-01-19 08:29] buzzdan commented on #273
ok so i tried earlier versions too didnt work:
`$ go get -u github.com/testcontainers/testcontainers-go@v0.8.0`

output:
[code]

[2021-01-19 09:14] jgehrcke commented on #279
Sorry for the noise here. I "fixed this" by starting the container that testcontainer-go runs in in host networking mode.

[2021-01-19 09:14] #279 closed

[2021-01-20 08:50] gianarb commented on #273
Can you tell me which version of docker you have in your project? Thanks

[2021-01-20 12:11] buzzdan commented on #273
@gianarb actually i dont use docker client in my project. go.mod file doesnt contain it if thats what you meant

[2021-01-20 12:13] buzzdan commented on #273
after trying to `go get` test containers i see in my go.mod:

[code]

[2021-01-20 12:41] verigos commented on #273
I also don't use docker in my project and have the same problem when trying to add `testcontainers-go` but a docker dependency was not added in my `go.mod`. Did you try removing the docker dependency?

I had the same problem as everybody with `go get -u github.com/testcontainers/testcontainers-go`
I tried to run `go get -t -v ./...` everything was downloaded and `testcontainers-go` works ok now.

[2021-01-20 12:59] sazzer commented on #273
The problem is that `github.com/testcontainers/testcontainers-go` is developed against the API from `github.com/docker/docker` v17.12.0. However, Go is pulling in v20.10.0 instead and that's got a breaking change in the API. In particular, at least one of the calls has had an extra parameter added to it that TestContainers isn't providing - because the version it's building against doesn't need it

[2021-01-20 15:28] buzzdan commented on #273
i see in `testcontainers-go` go.mod file the exact version+branch name?

https://github.com/testcontainers/testcontainers-go/blob/master/go.mod#L13

[code]

what does `+incompatible` means?

[2021-01-22 05:05] derekperkins commented on #273
I'd vote for cutting a new release `v0.10` to work with the new Docker dependency.

[2021-01-22 15:09] xxbtwxx commented on #279
I'm encountering the same problem, what do you mean by "host networking mode"?

[2021-01-25 10:33] buzzdan commented on #273
@gianarb wdyt?

[2021-01-25 10:39] gianarb commented on #273
I think @derekperkins is right!! Somebody has some time to draft a PR?! :)
Otherwise, I can do it this week

[2021-02-07 12:16] buzzdan commented on #273
hi @gianarb !
is it ok to friendly ping you about it 🙏  ?

so sorry i dont have the ability for drafting a PR right now 🙏
(meanwhile i use the hack @sazzer suggested)

[2021-02-10 06:51] mdelapenya opened #284 "Remove Travis as GH is stable for the project"

[2021-02-10 20:59] michielboekhoff commented on #273
@gianarb - I've created a PR that should close this: #283. If you could take a look at it when you get a chance, that'd be great.

[2021-02-13 23:23] normanjaeckel opened #285 "Feature request: Enable using stdin when starting docker compose"
It would be a nice feature if one can use stdin to inject a docker compose file on the fly instead of using a file path. Docker Compose supports this. Wenn giving ``-`` as filename to command line option ``-f`` docker compose reads the configuration from stdin.

Maybe somewhere [here](https://github.com/testcontainers/testcontainers-go/blob/master/compose.go#L160) this can be done (but I am not go

[2021-02-18 07:13] Bablzz opened #286 "Use testcontainers/ryuk instead of quay"
Hello everyone!

How are you doing?

It's not a bug, just question

Can use [docker](https://hub.docker.com/r/testcontainers/ryuk) instead of [quay](quay.io/testcontainers/ryuk:0.2.3).

0.2.3 verson has got vulnerabilities and don't update for 2 years

Thanks in advance!

[2021-02-18 10:46] #273 closed

[2021-02-18 11:01] gianarb commented on #285
Hello! A possible solution you can use today is to write your `io.Writer` to a [temporary file](https://golang.org/pkg/io/ioutil/#TempFile) and pass it to Compose.

[code]

`tmpfn.Name()` can be passed to `NewLocalDockerCompose`

Let me know if it works for you!

[2021-02-18 11:04] gianarb commented on #286
Hey! Thank you for your question. When you build a new Container Request you can specify the reaper image you want to use:

https://github.com/testcontainers/testcontainers-go/blob/1e5e6e25edd168f92c50cb15ad53828580521540/container.go#L90

I think we should have a way to get configuration out from environment variables for example, but as far as today I don't know how to implement that in a way th

[2021-02-18 15:28] #284 closed

[2021-02-19 05:00] Bablzz commented on #286
Thanks for answering!

[2021-02-24 09:26] #263 closed

[2021-02-28 17:30] ronaudinho commented on #156
hi, not sure if this is the right place to ask, but I got this stack trace when trying to create a GenericContainer in GitHub Actions that runs on `windows-latest`

would it be related to this or https://github.com/docker/for-win/issues/4642? thanks.

[2021-03-08 16:18] ClaytonNorthey92 commented on #156
@gianarb @bsideup @ronaudinho I believe that Github Actions [doesn't allow a user to put docker into "linux mode"](https://github.com/actions/virtual-environments/issues/1143#issuecomment-651178811), so the behavior of certain functions (such as mounting the docker socket) on Github Actions when running a windows VM is not consistent with having a linux vm.

On this note, I think it would be usefu

[2021-03-09 22:08] jclavoie-jive opened #293 "Next release?"
Hello!

I'd like to first thank you for this testcontainers, we like it!

I was wondering if there is any plan of cutting a release in the near future? The current version is broken with the latest docker engines and the update/changes have already been done in the master branch.

Thanks,

[2021-03-12 09:43] gianarb commented on #293
here we are! https://github.com/testcontainers/testcontainers-go/releases/tag/v0.10.0

Thanks a lot @jclavoie-jive !

[2021-03-12 09:43] #293 closed

[2021-03-12 09:43] #255 closed

[2021-03-13 08:28] ronaudinho commented on #156
@ClaytonNorthey92 thank you for the explanation, I guess that's why I don't recall encountering this when running tests on my local machine. does this mean that as of now, the solution is either to have native windows-compatible reaper or for github to upgrade their windows server?

[2021-03-13 18:59] ClaytonNorthey92 commented on #156
hey @ronaudinho
if you want a temporary solution, you could [skip the reaper container](https://github.com/testcontainers/testcontainers-go/blob/1e5e6e25edd168f92c50cb15ad53828580521540/docker.go#L53).  You might have to do that in more than one place, but it is an option.  The downside to that solution is nothing will clean up your running containers. However, if this is in CI on a VM, then I thi

[2021-03-14 02:16] ronaudinho commented on #156
that sounds like a workaround I can try for now, thanks for the suggestion :+1:

[2021-03-15 16:05] ClaytonNorthey92 commented on #156
@ronaudinho you're welcome, let me know if you have any trouble with that workaround, I am curious if you uncover other issues

[2021-03-16 13:21] danni-popova opened #294 "Runtime panic"
**Describe the bug**
Trying to run a test results in a panic when trying to get mapped ports.

**To Reproduce**
https://github.com/todanni/account/blob/main/internal/repository/repository_test.go

**Expected behavior**
Not panic.

** docker info **
output of the command:

[code]

**Additional context**
Output from running go test
[code]

[2021-03-17 08:08] discoverAnkit commented on #294
I am also facing the same issue

[2021-03-17 10:39] ikolomiyets commented on #294
Incidentally, I've started getting the same issue recently, however it does happen intermittently.

Here is the stacktrace:
[code]

[2021-03-17 11:50] discoverAnkit commented on #294
@ikolomiyets Interesting catch ..
I downgraded my docker engine to 19.03.12 and now I am not getting that error any more..
However I am getting some other error now..

Here is the stacktrace

`2021/03/17 17:18:09 Starting container id: eecd577d997d image: quay.io/testcontainers/ryuk:0.2.3
2021/03/17 17:18:10 Waiting for container id eecd577d997d image: quay.io/testcontainers/ryuk:0.2.3
failed to c

[2021-03-17 15:17] ClaytonNorthey92 commented on #156
@ronaudinho any trouble with using `skipReaper`?

[2021-03-17 20:51] maxim-nazarenko commented on #294
Some findings which may help.

[this call](https://github.com/moby/moby/blob/master/client/container_inspect.go#L18) to the Docker engine API returns not populated ports mapping `27017/tcp: []` (I am using MondoDB in my tests)
I updated the code to have 5 retries and it always stops after first one with populated ports mapping.
Container state with zero-len ports mapping and populated mapping look

[2021-03-18 07:40] ronaudinho commented on #156
sorry I haven't got the chance to check, as I am assigned to another task at the moment. I'll be sure to let you know when I've tried it @ClaytonNorthey92

[2021-03-20 13:02] FlorianLehmann opened #297 "Unexpected behavior for WaitLog.WithOccurence"
**Describe the bug**
When I define

NewLogStrategy("<string>").
		WithStartupTimeout(100 * time.Microsecond).
		WithOccurrence(X)

for a container, it does not wait for X occurences. One occurence is enough to continue.

**To Reproduce**
`func TestWaitShouldFailWithExactNumberOfOccurrences(t *testing.T) {
	target := noopStrategyTarget{
		ioReaderCloser: ioutil.NopCloser(bytes.NewReader([]byte("hel

[2021-03-22 08:46] aivinog1 opened #299 "Allow to configure IPAM for networks"
Right now I can't configure IPAM parameters for the network that I create, but I see these parameters in this struct (the Go docker client):
[code]
It would be nice if the testcontainers allows configuring this parameter.

[2021-03-23 15:38] kaxap opened #300 "example from readme results in panic with older docker versions"
from README.md:
[code]
if the call to `GenericContainer()` fails, then the error reported but test execution is continued until `ip, err := nginxC.Host(ctx)` where it results in panic due to nil pointer dereference.
I think there should be `t.Fatalf("cannot create container: %s, check your docker version", err)` instead of `t.Error(err)`
to reduce possible confusion.

[2021-03-23 15:50] gianarb commented on #300
Hey! Can you define old?

[2021-03-23 22:20] maxim-nazarenko commented on #294
Since this issue is kind of blocker for me, this [commit](https://github.com/maxim-nazarenko/testcontainers-go/commit/5d30355e35cef7ea59ecb96d812a698f0de7ed5e) in forked repository introduces retry logic for `DockerContainer.Ports()` function which is used by `DockerContainer.MappedPorts()`.
I am not considering this approach as production-ready, because I assume that the root cause is in the `Doc

[2021-03-24 14:44] #286 closed

[2021-03-28 00:00] codefromthecrypt opened #302 "go get github.com/testcontainers/testcontainers-go cannot find errdefs module"
**Describe the bug**

go get github.com/testcontainers/testcontainers-go cannot find errdefs module

**To Reproduce**
[code]

**Expected behavior**
No errors

** go info **
output of the command:

[code]

[2021-03-28 17:40] sazzer commented on #294
I'm getting this on Docker 20.10.5 on macOS 10.15.7, and it's a complete blocker for me.

[code]

The only way I've found past it - short of downgrading Docker, which I've not yet tried - is to remove the `wait.ForListeningPort` and add in an explicit pause. `time.Sleep(6 * time.Second)` *seems* to make it work every time, though 5 seconds turned out to not always be enough. Obviously a 6 second p

[2021-03-29 13:17] dubonzi opened #303 "How to remove images created with FromDockerfile?"
I've been creating some of my containers using `FromDockerfile`, is there any way to remove the built images after my tests run? The image list starts to get a bit crowded after a few test runs with all the tags testcontainers create.
![image](https://user-images.githubusercontent.com/795838/112842248-bf4dff80-9077-11eb-8720-456925137672.png)

[2021-03-31 14:24] dubonzi commented on #303
This would make removing the images easier. In my case, this is only a problem when running the tests locally, not really a problem, but would be nice to have :). Thanks for the reply!

[2021-03-31 14:54] mdelapenya commented on #303
Well it's not actually Java but the test runner you use. We use godog for cucumber scenarios and the test runner provides life cycle hooks for before/after test suite, before/after scenario and before/after step, and there I destroy whatever is needed.

[2021-03-31 16:05] altosys opened #304 "Not detecting that port is ready"
I'm trying to test InfluxDB, but the startup of the container never finishes as testcontainers doesn't seem to detect that the port is ready. My go code:
[code]
The container starts and the logs stop at waiting for the container:
[code]
I can see in the InfluxDB log that the Go code is hammering the `/ping` endpoint on port `8086` constantly, and the return code being sent is `204`. Inside the con

[2021-04-02 05:48] butuzov commented on #294
Issue has gone since after #295, waiting for release.
Meanwhile, you can test it with the cloned master branch and replace directive

[2021-04-02 15:40] tommyalatalo opened #306 "How to set external docker daemon host?"
I am trying to run testcontainers in Gitlab CI where I have set up a runner container that has a sibling container running Docker-in-Docker. So like this:
[code]
The runner and the DinD container are on the same docker network, and the DinD container is set up with a network alias "docker". So when I run the Gitlab CI job where I execute tests I can successfully use `dig` in the script just before

[2021-04-02 17:33] tommyalatalo commented on #306
Seems like you need to set the TC_HOST as "docker" only, i.e. no protocol scheme and no port. Could you add an example of this into the docs, as this differs from other uses, such as Gitlabs DOCKER_HOST and dockers own use of DOCKER_HOST where you need to include the scheme and port.

[2021-04-04 11:06] kaxap commented on #300
I have upgraded my Docker right away. It is related to this particular [issue](https://github.com/testcontainers/testcontainers-go/issues/232#issuecomment-702330123) with Docker Desktop for Mac, as far as I remember.

[2021-04-05 17:46] krisctl commented on #126
Hello,
Do we have any updates on this? Would like to use this functionality or contribute towards making it work.
Thanks!

[2021-04-09 21:32] xicoalmeida commented on #303
I was having this "problem" and it was kind of boring having to manually delete the containers.
I don't know if this the best way to solve this but I did it and it's working fine.

Up til now, my machine didn't explode so... 🤷

[code]

where `t` is `*testing.T`

[2021-04-10 17:08] normanjaeckel commented on #285
This works and is ok for me but reading from stdin would be a little bit nicer and cleaner. ;-) Thanks in advance.

[2021-04-14 00:47] Jesse-Cameron commented on #294
I managed to pull the fix in with:
`go get -v "github.com/testcontainers/testcontainers-go@54854fb15ccb5162fe673bac4b2522e5f84de9a0"`

Looking forward to the next release :)

[2021-04-15 15:08] mdelapenya opened #312 "Codecov GH action: security issue with bash uploader"
Please see https://github.com/codecov/codecov-action/issues/281

From Codecov's blog post:

Because of our commitment to trust and transparency, we have worked diligently to determine the potential impact to our customers and identify customers who may have used the Bash Uploaders during the relevant time periods. For affected users, we have emailed you on April 15th using you email address on fil

[2021-04-27 22:48] jackzampolin opened #313 "Inconsistent test stalling issue"
**Describe the bug**
Sometimes my tests stall around exit and then the test runner panics with a timeout. This results in the docker daemon needing to be restarted.

**To Reproduce**
repo: `https://github.com/jackzampolin/horcrux/pulls/1`
commands: `go test -v ./testing/...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**

Panic
[code]

[2021-04-28 05:49] mdelapenya opened #314 "Wait strategies: use same WithStartupTimeout methods"
`sql.go` has a `Timeout` method, but the rest of the wait strategies have `WithStartupTimeout`. To avoid breaking changes, we could add the method and call it from the old one, including a deprecation message.

Besides that, it would be great if we add docs about the wait for strategies, same as in the Java project: https://www.testcontainers.org/features/startup_and_waits/

[2021-04-28 12:04] tigerquoll opened #315 "HostPortStrategy is flaky - panics when under load"
**Describe the bug**
Wait strategies that rely on a port being available are flaky when multiple test cases are being run.
using v0.10.0 with standard alpine Postgres containers.
[code]

**To Reproduce**
Can you write a unit test to reproduce your issue?
Reliably crashes with about 12 test cases in a file for me

**Expected behavior**
No panics

** docker info **
output of the command:

[code]

**

[2021-04-28 16:59] iamricard commented on #315
Pretty sure this is a duplicate of #294

[2021-04-28 18:59] IliaBulavintsev commented on #294
any updates Guys?

[2021-04-30 17:32] mdelapenya opened #317 "Support for kubernetes deployments"
Hi community 👋, we are using testcontainers as the main tool for provisioning services in a test framework, leveraging the docker-compose module, and our next steps are towards evaluating the deployment of those services in a k8s cluster, using kubectl as deployment tool.

We'd like to know the interest of the community in this direction, checking if it could bring value to the project, and hopefu

[2021-05-07 11:45] mchlstckl opened #318 "Intermittent panic for GenericContainer Started true"
**Describe the bug**
Sometimes, when we run our tests, the following panic happens.
[code]

**To Reproduce**
This only happens sometimes. But the way we start testcontainers is as follows:
[code]

**Expected behavior**
No panic

**docker info**
[code]

**Additional context**
MacOS 11.2.1

[2021-05-10 13:36] Eun opened #319 "Reaper leaks"
**Describe the bug**
The package [goleak](https://github.com/uber-go/goleak) reports leakages in `Reaper`.

**To Reproduce**
Use following test:

[code]

**Expected behavior**
A successful test

**docker info**
```output of the command:```

[code]

[2021-05-11 08:13] Eun opened #321 "Docker connection not closed"
**Describe the bug**
The `ProviderType.GetProvider()` function creates a docker client, but never closes it, which leads to a leaking connection.

Similar to https://github.com/testcontainers/testcontainers-go/issues/319

**To Reproduce**
Use following test:

[code]

**Expected behavior**
A successful test

**docker info**
```output of the command:```

[code]

**Additional context**
It might be ne

[2021-05-11 09:18] mdelapenya commented on #321
Hi @Eun, thanks for reporting this issue. Would you like to send a PR with this implementation? We'll be half to review it.

If not, I'll find time to implement it and ask for your review when I have bandwidth to do it.

Thanks I'm advance!!

[2021-05-13 11:10] 1stDMann commented on #294
Hmm, with `go get -v "github.com/testcontainers/testcontainers-go@54854fb15ccb5162fe673bac4b2522e5f84de9a0"` I get the error
[code]
with `Docker 20.10.6` (and `go 1.16.4`) on Windows.
#

[2021-05-14 18:40] mniak commented on #314
What about `WithTimeout`?
The `Startup` here is not needed since all wait strategies concern to startup.

[2021-05-14 19:29] mniak commented on #314
What if we put the method `WithTimeout` on the `Strategy` interface?
It would ensure all valid that all wait strategies would have this method (even if they dont implement the timeout mechanism correctly).

It could be a problem if there were some situation where a timeout would not make sense.
I can't think of one.

[2021-05-14 19:45] mniak commented on #314
@mdelapenya please check the PR #322

[2021-05-16 02:03] butuzov commented on #318
You can close this in favor of #294

[2021-05-21 12:05] naveenchlsn opened #324 "How to control user account that launches images."
We are seeing test containers throttled by dockerhub while downloading images. We have a docker hub pro account. Hence we were not expecting to get throttled by the docker hub.

Which user does the test containers launch the dockers with?
Is it possible to change it?

Thanks,
Naveen

[2021-05-26 12:53] #318 closed

[2021-05-27 08:03] gianarb commented on #324
Technically testcontains is just a wrapper around the docker/client. It depends on how you run tests. On its own, it relays on the process who starts the test suite.

I am wondering if we have to do something that we do not do to authenticate the docker/client 😕

[2021-05-27 16:00] xtreding commented on #294
Same issue. Are you going to fix it?

[2021-05-27 16:47] mniak commented on #294
I could workaround this by installing the merge commit of the PR #295 mentioned by @butuzov.

[code]

[2021-05-30 17:24] smanierre opened #325 "Env map not getting passed to postgres 11.7 container"
**The Issue**
I'm attempting to get my project setup with testcontainers to test my database code. I'm using the postgres:11.7 image and everytime I try to run the test code, the postgres container stops instantly because the POSTGRES_PASSWORD environment variable isn't set, which the container needs to start correctly. This is the code i'm using to try and get the test container running:

[code]

[2021-06-02 12:09] kishaningithub opened #326 "Project depends on vulnerable dependencies"
**Describe the bug**
Project depends depends on a vulnerable dependencies.

**To Reproduce**
From the project rootm run the following command
[code]

**Expected behavior**
From a security point of view, the project should not have dependencies which are vulnerable.

**Vulnerable deps**
- golang/github.com/dgrijalva/jwt-go@3.2.0 (1 vulnerability)
- golang/k8s.io/kubernetes@1.13.0 (22 Vulnerabilitie

[2021-06-02 12:11] kishaningithub commented on #326
Linking https://github.com/dgrijalva/jwt-go/issues/463
For CVE-2020-26160

[2021-06-02 12:35] kishaningithub commented on #326
From a dependency point of view. The transitive dependency of this project is insane though

Please see [graph.svg.zip](https://github.com/testcontainers/testcontainers-go/files/6584534/graph.svg.zip)

Command used to generate the dependency graph

[code]

[2021-06-03 16:45] xtreding commented on #294
v0.11.0 has fixed this issue!

[2021-06-10 08:38] mdelapenya commented on #294
I think we can close this one, as it seems fixed. Please reopen if you still see it, thanks!

[2021-06-10 08:38] #294 closed

[2021-06-11 07:04] Bablzz commented on #325
It works fine on Ununtu 20/go 1.16/PostgreSQL 11.7
what's in docker logs? try run the test without `BindMounts` option

[2021-06-11 13:46] mdelapenya opened #329 "Docker-compose expects ports to be exposed while finding containers to wait for them"
## Describe the bug
When using a docker-compose file that has no exposed ports, then it's not possible to apply any wait strategy, because it uses a port to create the filter when retrieving the running containers.

## To Reproduce
Can you write a unit test to reproduce your issue?

**docker-compose-no-exposed-ports.yml**
[code]

**Unit Test**
[code]

## Expected behavior
It's possible to reach th

[2021-06-14 09:05] gianarb commented on #326
Hello

Thank you for your help analyzing our dependencies. Personally, I don't even know why we depend on k8s just yet and it will be nice to figure out how to decrease the code we depend on

[2021-06-14 09:20] mdelapenya opened #331 ""Test_LogConsumerGetsCalled" is failing with certain flakiness"
I'm seeing that `Test_LogConsumerGetsCalled` is failing with certain flakiness: in previous runs it failed for 1.14.x, now it's failing for 1.15.x. I'm opening this issue for investigation about that test

_Originally posted by @mdelapenya in https://github.com/testcontainers/testcontainers-go/issues/330#issuecomment-860161709_

[2021-06-15 10:07] lacarvalho91 commented on #279
how did you get the reaper container to run in host networking mode?

[2021-06-17 16:14] mniak opened #332 "Start multiple containers at the same time"
I propose a function like `tc.GenericContainer` but that would accept many container requests, and start them in parallel and return an array with the responses or a combined error.

Suggested signature
[code]

[2021-06-17 18:24] mdelapenya commented on #332
This is a great request!! I'd like to know more about your specific use case, so that we could start the discussion/work.

I'm also interested in knowing if the docker compose implementation would work for you, and if not, the reasons for not using it.

Thank you in advance!

[2021-06-23 13:33] xxbtwxx commented on #279
[code]

Here's the generic container request we are using. Note the `skipReaper` parameter. Also you'll need to pass these flags
```-v /var/run/docker.sock:/var/run/docker.sock --network="host"``` to the parent container

[2021-06-25 14:01] smanierre commented on #325
I ran it without the `BindMounts` option but I get the same result. The error in the container logs is:
[code]
The error is the same with and without the `BindMount` option being passed. When I inspect the running container, the volume isn't mounted even when specifying it.

[2021-07-17 12:55] mwittig commented on #326
Regarding k8s vulnerabilities these dependencies seem to be indirectly inherited from hcsshim@v0.8.16 via containerd dependency. It might help to trial hcsshim@v0.8.20. I am currently using the following go.mod directives which make things looking greener for me.

[code]

[2021-07-29 07:12] candlerb opened #336 "support podman as alternative to docker"
I wondered if you had considered supporting [podman](https://podman.io/) for running containers, as an alternative backend to docker?

Using podman (and buildah for creating container images) lets you get rid of the docker daemon entirely.

There is a [go API](https://podman.io/blogs/2020/08/10/podman-go-bindings.html).  This does involve running a podman service: but unlike docker, the service ru

[2021-07-29 09:21] candlerb commented on #336
UPDATE: it looks like very little effort should be required to work with podman 3+.  It is compatible with the docker API, even to the point where you can run native "docker compose".  That works as follows:

* Start a global podman service: `systemctl enable --now podman.socket`
* For RHEL/CentOS/Arch there's a package "podman-docker" which installs symlinks such that `/var/run/docker.sock` point

[2021-07-29 09:48] candlerb commented on #336
Here is a POC patch for that problem:

[code]

However, I'm not providing this as a PR because it's still not running under my environment.

Note that I'm using Ubuntu 18.04 on the base host.  The podman package (3.0.1 from the kubic repo) uses a systemd feature `Type=exec` which was introduced in systemd 240, but Ubuntu 18.04 has systemd 237.  That's OK; I can work around this by running podman i

[2021-07-29 10:18] candlerb commented on #336
strace shows the HTTP exchanges to podman as:

[code]

[2021-07-29 12:15] alinjie commented on #306
@tommyalatalo Do you have an example `.gitlab-ci.yml` file?

[2021-07-30 07:51] Bablzz commented on #325
@smanierre could you show a full code?

[2021-07-30 09:38] alinjie commented on #306
I've been testing different combinations, but cannot seem to get this to work in a Gitlab CI pipeline.

@tommyalatalo Do you have a working `.gitlab-ci.yml` file you could share?

[2021-07-30 12:56] smanierre commented on #325
The whole test file is located here [https://pastebin.com/QBgyNZXD](https://pastebin.com/QBgyNZXD)

[2021-07-30 17:20] tommyalatalo commented on #306
See this file: https://gitlab.com/altosys/bliss/-/blob/master/.gitlab-ci.yml#L179

[2021-08-02 07:19] alinjie commented on #306
Thanks a lot @tommyalatalo!

[2021-08-03 08:59] rnorth commented on #336
I'll put my 2 cents in: https://github.com/testcontainers/testcontainers-java/issues/2088 describes the direction we should take. TLDR: Testcontainers should continue to use the docker API, and Podman should implement that API.

I think the Podman team have done a lot of great work in Podman's support for the Docker API, but evidently this `must provide at least one stream to attach to` error indi

[2021-08-03 13:40] Bablzz commented on #325
I've changed the code https://pastebin.com/3iDahjbw

Run
`
DB_NAME="test" go test -v <file>.go
`

Here docker inspect
`            "Env": [
                "POSTGRES_PASSWORD=password",
                "POSTGRES_USER=postgres",
                "POSTGRES_DB=test",
                "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/postgresql/11/bin",
                "GOSU_VE

[2021-08-04 02:03] ajcasagrande opened #338 "HTTP Wait Strategy: POST body missing on subsequent calls"
**Describe the bug**

HTTP POST body is only sent on the first call, and all subsequent calls are made with an empty body.

**To Reproduce**
Setup a `NewHTTPStrategy` using `http.MethodPost`, and include a `WithBody`.
[code]

In order for the bug to occur, the first POST needs to fail with an invalid HTTP code.

Example output from the web service receiving the POST calls:
[code]

Notice how the f

[2021-08-04 04:46] ajcasagrande commented on #329
What happens if you set the second parameter to `0` in the `WithExposedService` call? I have used it that way before to wait for non-exposed services and it works, however never in addition to using `NewHTTPStrategy`, only `wait.ForLog`.
[code]

[2021-08-04 18:11] ajcasagrande opened #341 "FAIL: Test_MultipleContainersInTheNewNetwork"
**Describe the bug**
Failing unit test.

[code]

**Expected behavior**
Test should pass.

**Additional context**
Error is due to a deprecation of the latest rabbitmq:

[code]

[2021-08-04 22:38] mdelapenya commented on #341
Thanks for reporting this issue. Would you like to submit a fix for it? I'll be glad to review and merge it ASAP

[2021-08-05 07:46] mdelapenya commented on #329
Yes, for sure it's possible to pass zero, but for the sake of a clean API, I consider not forcing the client code to pass the port if not needed. Besides that, looking up the container by container name is more straight-forward than using name and port. I guess it was firstly implemented in that way because of a specific need.

Besides that, a downstream project was suffering this issue: https://g

[2021-08-05 07:47] mdelapenya commented on #329
@ajcasagrande if you agree, we can close this one. OTOH I'd be happy to discuss about any other consideration/implication you see.

Thanks!

[2021-08-05 17:35] ajcasagrande commented on #341
I thought about making a new PR for this, but I ended up just patching it in my current PR #339 in commit https://github.com/testcontainers/testcontainers-go/pull/339/commits/2af1d3a02f5572a51d010790304822c4ba7a537f, as it was causing the GitHub Actions to fail.

[2021-08-05 17:40] ajcasagrande commented on #329
I think my preference would be to add a new `WithService(name, waitStrategy)` method that does not require the port as a parameter. That way there is no breaking change, and it avoids the confusion of passing 0 to `WithExposedService`.

[2021-08-05 18:11] mdelapenya commented on #329
I have a local branch doing exactly that 😁

[2021-08-12 09:51] slsyy opened #343 "Do I have to specify the port for images with one port exposed?"
[code]

[code]

Is there any way to have the same functionality without specifying the port manually in a code?

[2021-08-17 06:51] #338 closed

[2021-08-17 06:51] #341 closed

[2021-08-17 20:54] codepitbull opened #348 "PR for CopyFileFromContainer"
I wasn't sure how you track this repo so I filed this.

I opened a PR (https://github.com/testcontainers/testcontainers-go/pull/347) that adds the capability to copy a file from a container.
I built this because I am working with a k3s-container and I needed to get the kubeconfig from it.
Since this is a functionality available in testcontainers-java I thought it would be a nice addition for testc

[2021-08-23 22:04] sicoyle opened #350 "Feature request: Enable specifying query for `wait.ForSQL`."
It would be a nice feature if we could specify a query instead of being forced to use the default query of `SELECT 1` [here](https://github.com/testcontainers/testcontainers-go/blob/54854fb15ccb5162fe673bac4b2522e5f84de9a0/wait/sql.go#L75). It is stated that this repo helps with `integration/smoke tests` in the `README`, and I think this would help enable that better. With allowing users to specif

[2021-08-24 06:46] mdelapenya commented on #350
Yep, I think that would be doable and fairly simple. Are you willing to submit a PR? We can lead you there during the review process :)

[2021-08-24 21:28] sicoyle commented on #350
Sure thing! Give me a few days, and I'll get something ready!

[2021-08-26 09:10] jaredpetersen opened #351 "Update documentation to read from project perspective"
There's a couple of sections in the documentation that reads as if this is something that only a single person works on:

_README.md_

_docs/features/creating_container.md_

---
I think it would be more appropriate to update the language to take more of a project perspective rather than from a single person. Here's a sample rewrite of the opening passage of the README:

I'd be happy to put up a PR

[2021-08-29 10:37] samitpal opened #352 "Support arm64 architecture"
Looks like arm64 is not supported. Can that be supported please?

[2021-08-30 07:16] mdelapenya commented on #352
Hey @samitpal, there is an ongoing PR to support pulling images in the right platform: https://github.com/testcontainers/testcontainers-go/pull/342 Is that we you mean or you have another use case in mind?

[2021-08-30 07:58] samitpal commented on #352
yes @mdelapenya , i meant that. I will close this issue

[2021-08-30 07:58] #352 closed

[2021-09-15 18:47] codepitbull commented on #348
Thanks for merging the PR, I think this solves this issue :)

[2021-09-15 18:47] #348 closed

[2021-09-18 02:10] jsirianni commented on #126
This would be very nice

[2021-09-24 07:46] xxbtwxx opened #355 "Update github.com/opencontainers/runc dependencies."
**Describe the bug**
Currently, testcontainers-go depends on old runc versions. Unfortunately on May 25th, a high severity issue was discovered `CVE-2021-30465`

https://github.com/advisories/GHSA-c3xm-pvg7-gh7r

[2021-09-25 15:43] mdelapenya commented on #355
Thanks for reporting this issue! Would you be willing to submit a fix, or prefer delegating it to our own schedule?

[2021-09-25 16:31] xxbtwxx commented on #355
Hello,
I did some investigating and unfortunately, I don't think it will be a simple fix. The problematic version of `runc` is deep down the dependency tree.

[2021-09-27 08:22] anerathil commented on #56
Any news on that? :)

[2021-09-30 07:42] gianarb commented on #56
Hello! unfortunately we decided to remove canned/modules as part of testcontainers for now. Because importing many libraries (kubernetes) in this case, will make dependencies a nightmare (they already are because of docker).

Submodules in Go are still something I don't know, so for now there is no place in this repository for such thing. But if you want to play in your own repo with a possible re

[2021-09-30 07:42] #56 closed

[2021-10-02 06:17] mdelapenya commented on #332
Hey @mniak did you have the chance to read about the docker compose implementation? If that answered your question, then we would like to close this issue, thanks!

[2021-10-02 06:19] mdelapenya commented on #297
@FlorianLehmann should we close this issue? I see the PR was merged

Thanks!!

[2021-10-02 06:22] mdelapenya commented on #299
I'd say it would be fairly easy to add it to our network request struct.

Would you mind submitting a PR with that? Including tests would be more than super!

[2021-10-02 06:24] mdelapenya commented on #300
There is ongoing work to tractor the docs: #351

I think we could close this one if that one is merged

[2021-10-02 06:26] mdelapenya commented on #351
I updated the description to include a section to auto close related issues

[2021-10-02 06:39] aivinog1 commented on #299
Hey @mdelapenya! Sure, I'm happy to create PR with it 🙂. But for now, I'm pretty busy with my current tasks, so I can't promise any due date or something 😅

[2021-10-02 12:16] FlorianLehmann commented on #297
Yes, this has been resolved. It can be closed. Thanks

[2021-10-02 12:16] #297 closed

[2021-10-04 14:59] Vladimir-Rom opened #359 "panic: received invalid log type: 3"
**Describe the bug**
Sometimes the StartLogProducer goroutine panics with message "received invalid log type: 3"

panic: received invalid log type: 3

goroutine 31 [running]:
github.com/testcontainers/testcontainers-go.(*DockerContainer).StartLogProducer.func1(0x30eb040, 0xc00012a010, 0xc000d5e000)
/home/builder/go/pkg/mod/github.com/testcontainers/testcontainers-go@v0.11.0/docker.go:397 +0x75f
cr

[2021-10-04 17:41] bamsammich opened #361 "Allow user and group ID specification in ContainerRequest"
A `ContainerRequest` doesn't provide support for setting `uid:gid`. I have a need to ensure my image will function properly when given an arbitrary UID. The Docker container API package already provides support for this and it should be a small change to make this possible.

[docker.go](https://github.com/testcontainers/testcontainers-go/blob/master/docker.go#L670-L678):

[code]

[container.go](ht

[2021-10-04 19:11] bamsammich commented on #361
FWIW, I've made the changes in a fork and can PR them in:
https://github.com/bamsammich/testcontainers-go

[2021-10-05 08:13] mdelapenya commented on #361
Hey @bamsammich, that would be awesome if you send the PR. We'll be more than welcome to review it! 👏

[2021-10-07 15:54] bamsammich opened #365 "Docker container Logs prints stream format for each log line"
## Describe the bug
Printing the logs from a container, the output includes 8 bytes of stream format information at the beginning of each line.

https://github.com/moby/moby/issues/8223
https://docs.docker.com/engine/api/v1.26/#operation/ContainerAttach

_Current Output:_

[code]

## To Reproduce

[code]

**Output:**

[code]

## Expected behavior

_Expected Output:_

[code]

This can be solved by

[2021-10-27 16:09] kiview opened #372 "Containers created by Docker Compose are not cleaned by Ryuk"
Containers created and started by testcontainers-go through Docker Compose are not guaranteed to be cleaned up (and this is something I personally observed when running the testcontainers-go test suite on WSL), since Ryuk is not aware of them.

We solved this issue in testcontainers-java by registering the project label added by Docker Compose with Ryuk:
https://github.com/testcontainers/testconta

[2021-10-31 08:26] rzajac commented on #303
I delete images by repo:tag something like this:

[code]

[2021-10-31 21:05] kostyay commented on #355
Any progress with this? Makes dependabot alert about security vulnerabilities.

[2021-11-05 12:26] bunyk commented on #365
I probably have related problem. I want to wait until postgresql is able to receive requests, and runs SQL to create database and user, so I write:

[code]

But it does not work, because logs contain `CREATE DATABASE\n\x01\x00\x00\x00\x00\x00\x00\fCREATE ROLE\n`.

[2021-11-05 21:09] artamonovkirill opened #374 "Docker Compose V2: wait strategy cannot be applied: service not found"
**Describe the bug**

While running with Docker Compose V2, compose tests with wait strategies like [TestDockerComposeWithWaitForService](https://github.com/testcontainers/testcontainers-go/blob/master/compose_test.go#L156-L179) from this repository:
[code]

**To Reproduce**

Either:
* Run tests from this repo on Mac or Windows with [Docker Compose V2 enabled](https://docs.docker.com/compose/cli-c

[2021-11-08 07:03] mdelapenya commented on #374
Hey @artamonovkirill, thanks for opening this issue. Would you mind adding a scenario (code/snippet, project) where we could reproduce this issue? Thanks in advance!

[2021-11-08 08:44] artamonovkirill commented on #374
Hi, @mdelapenya , as mentioned - it's for the [TestDockerComposeWithWaitForService](https://github.com/testcontainers/testcontainers-go/blob/master/compose_test.go#L156-L179) from this repo. I've added the link to my first comment, too.

I'll try to fork the repo and enable running the tests on MacOS later today (if GitHub actions support Docker for Mac).

[2021-11-08 09:13] mdelapenya commented on #374
I'll give a try once a have certain bandwidth, thanks for the report!

[2021-11-08 20:30] artamonovkirill commented on #374
Created https://github.com/testcontainers/testcontainers-go/pull/377

Running tests on a Mac will be a bit trickier:
* [Docker is not installed on Mac nodes](https://github.community/t/why-is-docker-not-installed-on-macos/17017)
* Depending on the architecture, tests like TestDockerComposeWithWaitLogStrategy would fails (if it's ARM)

[2021-11-08 21:08] artamonovkirill commented on #374
Caused by https://github.com/docker/for-mac/issues/6035, but it looks like the issue is not occurring 100% of the time.

[2021-11-10 07:51] #355 closed

[2021-11-12 20:35] abayer opened #379 "`go test -v (etc)` logs only show up after completion after adding testcontainers-go"
**Describe the bug**
I started to move from using an already-running database to using postgres in a container via testcontainers-go, and when I did, the logs that normally stream to the console when I run `go test -v ./...` stopped showing up until `go test` had completed. No `=== RUN   TestGetJVMVersionID` etc or anything until it finishes, and then the `go test` logs all show up at once. This i

[2021-11-18 13:48] artamonovkirill commented on #374
@mdelapenya updated the issue description (since it's not just Mac or Windows-specific, but rather Docker Compose V2 related).

[2021-11-24 13:27] baez90 opened #384 "Poor typing for BindMounts and VolumeMounts"
After #354 the way of mounting volumes and host directories might be 'correcter' than before but neither the `BindMounts` nor the `VolumeMounts` field in `ContainerRequest` indicate in any way how to use them properly either by an example or an explanatory description and they behave now contrary to the CLI syntax most developers are used to.

I know there's a PR which 'fixes' the documentation is

[2021-11-24 15:17] mdelapenya commented on #384
Thanks for raising this issue affecting usability and improving code performance.

Will be glad if reviewing it if you send a proposal

[2021-11-24 21:11] baez90 commented on #384
I implemented a first draft to illustrate what I mean and how it could look like when using it.

Also added some convenience methods. Could think of some more for different use cases.
Also parsing the different volume syntaxes could be implemented even though I'm not sure if there's a specific use case for it but that is up to you all?

[2021-12-02 13:11] rzajac opened #389 "Auth problem with private Docker registry when building from Dockerfile"
**Describe the bug**
When building image from Dockerfile using private Docker repo I get en error:

[code]

[code]

**Docker info**
output of the command:

[code]

**Additional context**

- I can pull the image from command line witout problems `docker pull my.domain.dev:5000/ifp-docker/dki-proftpd:v0.2.1` and then i do not have this problem anymore.
- The image I'm trying to build is based on the

[2021-12-02 14:27] rzajac commented on #389
After some research I found that https://github.com/testcontainers/testcontainers-go/blob/9dc7dbd18ae46337f80734fd016d276f9fdbb6fd/docker.go#L601 lacks the `AuthConfig` key.

I cloned the repository ands when I added below code it stared working as expected.

[code]

Unfortunately currently there is noway to pass it from my tests. The `ImageBuildInfo` intrerface would have to be extended.

[2021-12-03 07:23] mdelapenya commented on #389
Hey @rzajac thanks for opening this issue, it seems we are missing those credentials when pulling the building the image. I wonder if we are missing AuthConfig elsewhere 🤔

Sorry but I do not get this. Do you mean that you cannot test it because you'll be forced to expose your credentials in the code? If that's the case, have you tried to force a docker login in your build pipeline first?

[2021-12-03 15:25] rzajac commented on #389
@mdelapenya I meant that with current way `BuildImage` method is implemented there is no way to set `AuthConfigs`.

Since yesterday I found a workaround for this problem by pulling the image using Docker API before I use testcontainers.

My function looks like in case someone wants to know how i did the workaround:

[code]

[2021-12-08 17:32] silh commented on #384
I do agree with better typing for mounts and the original implementation of #382. Will close my PR if this one is accepted.

[2021-12-15 13:13] ankan-pfc opened #391 "Creating containers with multiple docker compose file does not returns correct map of services"
**Describe the bug**
If you use multiple docker compose files to start containers, the code only keeps the service list mentioned in the last docker-compose file passed.

**To Reproduce**
I will add a PR to fix this issue with the unit test.

[2021-12-15 18:53] #391 closed

[2021-12-17 13:14] mdelapenya commented on #379
Hey @abayer did you manage to create a smaller reproduction case? I won't have time to look at this until Christmas break, so having that would help me a lot in clarifying what's going on.

[2021-12-21 19:59] #384 closed

[2021-12-30 06:45] RuchiDhore commented on #389
I am getting the same error in pipeline "no basic auth credentials". We have uploaded images to AWS ECR and trying to pull images from there.

The thing is we are doing docker login in pipeline before running these tests and still getting this error.

[2022-01-18 08:34] smallnest commented on #246
https://medium.com/trendyol-tech/kafka-test-containers-with-golang-b85e4b2469db is not completed and I have run it but failed.

Hope add a kafka example in this project.

[2022-01-19 12:56] byrnedo opened #398 "Customise stdout and stderr for compose commands"
Hi,

I'd like to be able to send all the stdout or stderr for a compose `.Invoke()` to an  `io.Writer` of my choosing. Is there a way to do that currently?

[2022-01-20 06:58] mdelapenya commented on #398
Hi @byrnedo, thanks for your question :) I'd say this is currently not possible (see https://github.com/testcontainers/testcontainers-go/blob/master/compose.go#L236-L237), although it could be considered a nice feature request if you explain your use case and possible implementations more in details (maybe here in this issue).

[2022-01-21 21:49] kunal21 commented on #156
@ClaytonNorthey92 I am also facing the same issue in docker for Windows environment. Setting the skipReaper value to "true" solves the issue. I wanted to know the downside of setting the skipReaper to true. What are the "resources" which will not be cleaned here?

[2022-01-23 04:04] ClaytonNorthey92 commented on #156
hey @kunal21 ,
The reaper container ensures that any container running gets deleted after a time delay, [here is a link to the docker image](https://hub.docker.com/r/testcontainers/ryuk).

In the testcontainers project, we use label filters to ensure that only testcontainers-started containers are stopped, [here is where we start the reaper container](https://github.com/testcontainers/testcontaine

[2022-01-31 17:02] mniak opened #399 "Allow customization of docker.sock path"
## Feature Request

I would like that the library understands an envbironment variable `TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE` and uses this when starting the reaper container (`ryuk`)

I'll try to contribute some code when I have some spare time
Something like this (using pseudo code on the change section):
on https://github.com/testcontainers/testcontainers-go/blob/9c3076fddb0ca14fceef5bb063690e

[2022-02-01 16:23] fpozzobon commented on #336
Hi, any update on this thread?
It seems that if we replace `/var/run/docker.sock` with DOCKER_HOST environment variable, this should make Podman compatible.

[2022-02-01 20:09] austince commented on #399
I've seen other examples that suggest using `TESTCONTAINERS_RYUK_DISABLED=true`, but that doesn't seem to be respected by this lib either, unless I'm mistaken.

[2022-02-03 13:24] gianarb commented on #399
Right now we do not implement that but it will be great to cod something that behave like tc-java does
https://www.testcontainers.org/features/configuration/
Thanks for opening this issue and for taking the time

[2022-02-13 12:05] gaborszakacs commented on #303
This custom `BuildFromDockerfile` function (and calling the returned cleanup function in `t.Cleanup` did remove the build image, thanks!

One thing I noticed though is that intermediate containers and images still hang around, I proposed this change to remove them once the build is complete: https://github.com/testcontainers/testcontainers-go/pull/403

What do you think about making image removal

[2022-02-13 13:43] mdelapenya commented on #303
I like this approach @gaborszakacs, and it's something I was discussing with @kiview the other day. If this is something you can provide in a PR, I would be more than grateful to review it. Thanks in advance!

[2022-02-13 17:16] karayel opened #404 "Naming convention is different between docker-compose v1 and v2"
**Describe the bug**
Container naming convention is different between Docker Compose versions v1 (Python) and v2 (Go).

[code]
https://github.com/docker/compose/blob/5db8d86f127848367e4d721e992c188923c89d42/compose/container.py#L260

[code]
https://github.com/docker/compose/blob/0062703bea796eca5b5f78a4779fa166cc18619c/pkg/compose/compose.go#L36

Need to update hardcoded separator in containerName

[2022-02-13 17:24] karayel commented on #404
As far as I can see, there are two pull request that solve this problem.

https://github.com/testcontainers/testcontainers-go/pull/377
https://github.com/testcontainers/testcontainers-go/pull/371

Is there any plan to merge this pull request ?

[2022-02-14 06:20] seckinsen commented on #404
any update?

[2022-02-14 10:38] Abdulsametileri commented on #404
@gianarb @mdelapenya @Bablzz @01101101M @jaredpetersen @franklinlindemberg up ??

[2022-02-14 17:20] gaborszakacs commented on #303
Thanks @mdelapenya, for the input, I gave it a shot: https://github.com/testcontainers/testcontainers-go/pull/405

[2022-02-15 15:01] mdelapenya commented on #404
Hey, sorry for the delay, too much work on the day-to-day side.

I have a preference on https://github.com/testcontainers/testcontainers-go/pull/371, as it keeps backwards compatibility with previous docker-compose versions, but wanted to hear your voice.

[2022-02-15 15:16] karayel commented on #404
Hey,

I think, #377 is more simple implementation than #371 and it keeps backwards compatibility

[2022-02-15 15:20] mdelapenya commented on #404
Oh oh wait... you are right. I totally missed the combined filter in this second round of review. Thanks for focusing light to it.

Yeah, I rollback my "commit" and would consider #377 as the most feasible candidate

[2022-02-15 15:23] karayel commented on #404
When can we merge #377 to master ? Is there any plan about release ?

[2022-02-15 15:28] karayel commented on #404
Nice to hear that. Thanks @mdelapenya

[2022-02-16 09:01] #374 closed

[2022-02-16 09:01] #404 closed

[2022-02-17 09:22] mehulgohil commented on #389
I was facing the same problem. But when I looked into docker go pkg. I found how we can give the registry credential for auth docker pull. https://docs.docker.com/engine/api/sdk/examples/#pull-an-image-with-authentication

![image](https://user-images.githubusercontent.com/28588619/154443837-ed47e63b-d1a3-40c3-a9fa-cfe5a3723134.png)

So I gave the above auth str with my encoded registry credential

[2022-02-17 09:52] mdelapenya commented on #389
@rzajac could you please check with @mehulgohil's approach? If this is working for you too, I think we could close this issue

[2022-02-21 13:40] mniak commented on #399
PR: #407

[2022-02-25 09:27] gaborszakacs commented on #303
@mdelapenya gentle ping, these two PRs addresses this issue, can you take a look at them pls?
- https://github.com/testcontainers/testcontainers-go/pull/403
https://github.com/testcontainers/testcontainers-go/pull/405

[2022-02-28 16:23] mdelapenya commented on #303
I think we can close this one, as above PRs have been merged. Thank you all for your feedback

[2022-02-28 16:23] #303 closed

[2022-02-28 16:45] mdelapenya opened #410 "Neutral branch naming"
Language is important, and the name is the most important name for a person. When I hear "Manu" I tend to look, so my name calls me out.

The very same for Git branches: if we keep a name for a branch that has certain load, then it's not a good name, as it could be causing stress or psyching out to whoever reads/pronouns the name.

There are a lot of projects moving in that direction, which could

[2022-02-28 20:12] mdelapenya opened #411 "Flaky test: TestContainerLogWithErrClosed"
I noticed this test is randomly failing. We'd need to further investigate why it fails and in which conditions. It may be written in a way that is not consistent, or maybe not up-to-date. Opening this issue for awareness.

[code]

[2022-03-04 06:47] matdehaast commented on #389
@mdelapenya the above may work for static creds, but the docker build fails for me where I am using a credential helper to inject the credentials as ENV variables. This is far safer and the recommended approach

[2022-03-04 13:03] jlkiri opened #413 "BindMounts does not work"
**Describe the bug**
BindMounts does nothing.

**To Reproduce**
Can you write a unit test to reproduce your issue?

**Expected behavior**
BindMounts bind mounts a folder into the container.

** docker info **
output of the command:

[code]

**Additional context**
Add any other context about the problem here.

[2022-03-04 13:06] #413 closed

[2022-03-23 06:39] paralin commented on #336
This is the only place I found that "must provide at least one stream to attach to" error mentioned.

I fixed it by setting the ErrorStream and OutputStream variables on ContainerRunOptions:

[code]

Maybe this helps.

[2022-03-31 08:57] mdelapenya commented on #398
Would this implementation satisfy your needs? #420

[2022-04-01 01:21] AWinterman commented on #252
I'm currently seeing an issue where the container fails to start within the context deadline, and am somewhat confused as to how to proceed. It starts fine locally but fails in ci...

[2022-04-04 12:32] poberg opened #423 "Update outdated 3rd party packages"
When scanning for vulnerabilities, testcontainers-go revels some issues related to outdated dependencies.

- [CVE-2022-24769](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-24769)
- [CVE-2021-31525](https://github.com/golang/go/issues/45710)
- [CVE-2018-16875](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-16875)
- [CVE-2021-44716](https://nvd.nist.gov/vuln/detail/CVE-2021-44716#

[2022-04-06 15:45] bamsammich opened #425 "Support deploying with docker compose using API"
I'm attempting to run tests from a container without docker installed. This isn't an issue for ContainerRequests since it's using the API, but compose relies on `docker-compose` being present on the machine. It would be beneficial to be able to deploy a compose file without the requirement for external dependencies.

[2022-04-06 15:51] mdelapenya commented on #425
Thanks for creating this issue! Yes, it's on the plans, exactly the same as the Java folks do with the ContainerisedDockerCompose (https://github.com/testcontainers/testcontainers-java/blob/06fc95f5233b0c11d2ba319b4b02587db0b5028b/core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java#L610)

We are currently using the Local docker compose choice, but it would be more than hel

[2022-04-11 20:08] baez90 commented on #411
I stumbled upon this issue while working on #414 I think it should be resolved in my PR by correctly using the [`PortEndpoint(ctx context.Context port nat.Port, proto string) (string, error)`](https://pkg.go.dev/github.com/testcontainers/testcontainers-go#DockerContainer.PortEndpoint) function

[2022-04-11 20:18] baez90 commented on #336
I'm working on a PR that also includes the change @paralin mentioned and a few more things e.g. to also run all tests with Podman. There's another PR that already covers the support of the `DOCKER_HOST` environment variable.
As soon as we managed to merge both PRs Podman should be well supported including support for ryuk and docker-compose.

I cannot say how long it will take to stabilize everyth

[2022-04-12 07:08] baez90 commented on #317
Hey, not sure if this still 'a thing' but could you probably elaborate how you imagine the workflow or what could be the benefit?

- being able to run tests within a Kubernetes cluster by deploying test services as Deployments+Service vs. local containers? (I'm assuming here testcontainers should probably provide both the Deployment/StatefulSet __and__ the Service)
- Using 'testcontainers' to run

[2022-04-13 07:04] lsongseven opened #427 "container.Exec exit code is 1, but the cmd execute well using docker exec directly"
Start a mysql container, and then to execute some inits, the container.Exec exit code is 1, and the log shows
[code]

The cmd like ["/bin/bash", "/prepare_data.sh"] , and what in prepare_data.sh is

[code]

here the ddl.sql is very simple

[code]

However, when I type the command in terminal directly like
[code]
it works fine.

I don't know what's wrong, so can anyone help me?

* code to reproduce

[2022-04-13 07:34] mdelapenya commented on #427
Hi @lsongseven thanks for opening this issue, although I think this kind of questions fits more in the [Slack channel ](https://slack.testcontainers.org/) :)

Have you tried to mount the preparation script into the docker container before it's run? https://dev.mysql.com/doc/mysql-installation-excerpt/8.0/en/docker-mysql-more-topics.html#docker-additional-init. The official MySQL image should run y

[2022-04-13 08:43] lsongseven commented on #427
Sorry about not-int-slack-channel.

Mount preparation scripts works, but can you explain the difference between `container.Exec` and `docker exec` ? 🤔

[2022-04-14 12:58] spinningarrow commented on #325
Seeing this issue as well, env vars are not passed to the container

[2022-04-18 21:04] mdelapenya opened #428 "Update static assets for the new look& feel"
The static website is using old static image resources

[2022-04-19 09:03] mdelapenya commented on #428
See https://github.com/testcontainers/testcontainers-java/pull/5258

[2022-04-19 22:17] #428 closed

[2022-04-21 03:27] davix opened #430 "Can't waitfor reaper container when running inside container"
**Describe the bug**
My testcontainer runs fine directly on host.

This case is to run test inside a docker container. I managed to add some parameters when starting docker so the testcontainer can start containers inside it. But seems it can't check reaper port availability, with the ip:port `172.17.0.1:51001`. Note that `0.0.0.0:51001` has been ready on host, while `172.17.0.1` is docker0's addr

[2022-04-21 04:02] davix commented on #430
Update:

After reading testcontainer code and knowing a `TC_HOST` env, I tried below test and it works!

[code]

Could you suggest what's the proper solution?

- Should testcontainer resolve host IP by default, instead of the docker0 IP?
- Or should I add some parameters during setting up testcontainer, or setting up the docker that runs testcontainer?

Thanks!

[2022-04-28 20:27] ajbouh commented on #343
I tried to make this work as well and eventually settled for parsing the container definition itself to discover the port

[2022-05-12 21:58] SpencerC opened #439 "Use existing container?"
Possibly a newbie question: is there a way to leave containers running between tests and reconnect to them rather than waiting for them to restart every time?

[2022-05-13 11:27] baez90 opened #441 "Podman: cannot run containers with specified image architecture"
Podman 4.1.0 returns a supported API version `1.40` whereas specifying the image architecture is part of version `1.41`.
Podman is perfectly capable of handling the image architecture but the Docker client does not allow it due to the mismatching version.

This is covered by the issue containers/podman#14204 - as soon as this is fixed the corresponding `Skip` can be removed

[2022-05-16 18:27] mdelapenya commented on #439
Hi @SpencerC, you can keep containers alive after a test run simply passing a bool value to the container request: https://github.com/testcontainers/testcontainers-go/blob/dbb7f60fc0ded54a293adb11ff3097054b2fd495/container.go#L102

What I'm not sure is the main purpose of reusing containers between tests run: could you please elaborate a bit more? Ideally, a container should live alongside the tes

[2022-05-16 19:39] SpencerC commented on #439
Thanks @mdelapenya! I'm building some integration tests which rely on a container running a database, mirroring this pattern: https://github.com/stargate/stargate-grpc-go-client/blob/main/stargate/pkg/client/client_test.go#L45-L59

This particular container takes ~18 seconds to start. It would be nice to start it once, run the tests, have the option to explore the state in DataGrip, then reset it

[2022-05-17 08:47] edebernis commented on #398
Hey ! I found myself having the same need than @byrnedo.

Ideally, we should be able to pass options to the `LocalDockerCompose` struct to allow specifying custom pipes for command stdin, stdout and stderr.

Something like this:
[code]

Do you want me to implement a PR with this design ?

Thanks !

[2022-05-18 06:17] mdelapenya commented on #439
Well, as many many times in software engineering, it depends :) You could be needing gherkin to adhere to BDD principles, and need to parse gherkin files 🤷  But I agree: any external dependency must be cautiously added.

Where did you create the container? If it's run in the Main function, it should be run only once.

Said that, I'd go with having the container in the Main function, and making sur

[2022-05-18 16:04] mdelapenya commented on #439
Ok, got it. And that it's expected because the container is attached to the `go test` execution. I was expecting you to run the  tests only once.

So your use case is that you want to keep a container for development purpose, always up meanwhile you code and eventually run tests, right?

Then I have say that testcontainers-go is not supporting that capability at this moment, but I'm checking that

[2022-05-18 16:33] SpencerC commented on #439
Yes. I'd like one configuration that starts an ephemeral container for each run, and another that attempts to connect to an already running container (and creates one if none exists). It would be great if I could do this through testcontainers-go configuration options, but if this isn't possible I can add my own logic at the layer above.

One idea would be to enable this through the `Name` paramet

[2022-05-18 16:36] mdelapenya commented on #439
That's my first thought, although I'd need to go more into the details from the Java repo. In any case, if you are interested in contributing a prototype, we will be more than happy to review it! 😄

[2022-05-19 07:24] mdelapenya commented on #169
Relates #439

[2022-05-19 07:29] mdelapenya commented on #225
I'm not sure if we can close this one: the copyFileToContainer was implemented in #226, although it's not possible to copy a file **before** the container is created.

I'm keeping this open in the case we need more info to work on it

[2022-05-19 07:36] mdelapenya commented on #228
Hey, sorry for the radio silence. :/ since https://github.com/testcontainers/testcontainers-go/pull/402, we are supporting configuring the host resources, which are mapped to https://github.com/moby/moby/blob/7b9275c0da707b030e62c96b679a976f31f929d3/api/types/container/host_config.go#L341

Is this what you are looking for?

[2022-05-19 07:38] mdelapenya commented on #241
I think this was implemented in https://github.com/testcontainers/testcontainers-go/pull/308

Please reopen if you have any other consideration 🙏

[2022-05-19 07:38] #241 closed

[2022-05-19 07:39] mdelapenya commented on #242
Done!

[2022-05-19 07:39] #242 closed

[2022-05-19 07:41] mdelapenya commented on #248
I think this was resolved in #249. Closing

[2022-05-19 07:41] #248 closed

[2022-05-19 07:47] mdelapenya commented on #250
Hi, I'm checking the [postgres docs for their Docker image](https://hub.docker.com/_/postgres) and they mention the need of explicitly setting the `POSTGRES_PASSWORD` variable to make it:

I'm closing this issue as it's not related to testcontainers-go. Thanks!

[2022-05-19 07:47] #250 closed

[2022-05-19 07:56] mdelapenya commented on #252
I agree with @ikolomiyets, pointing to the logs could lead to something else. It could be the Docker host configuration, the resources not being available... the `context deadline exceeded` comes from Go context and tells us that a timeout happened at some point of the container creation.

Exactly. `TC == docker run`. If it fails, you check the logs, the system, etc

Let me close this issue, as po

[2022-05-19 07:56] #252 closed

[2022-05-19 08:04] mdelapenya commented on #302
Hey @codefromthecrypt I'm not able to reproduce this yet:

[code]

If you agree, I'd close this issue as no longer reproducible

[2022-05-19 08:11] mdelapenya commented on #306
I think we are supporting DOCKER_HOST since #373

I'm closing this issue, although feel free to reopen if you consider it's not done. Thanks for reporting this issue!

[2022-05-19 08:11] #306 closed

[2022-05-19 08:33] mdelapenya commented on #315
@tigerquoll could you double check if this is fixed so that we can close the issue?

Besides, if you are able to share a repro snippet, that would be wonderful for us to identify the root cause better.

[2022-05-19 08:36] mdelapenya commented on #351
I think we can close this issue, as #353 was merged, so that the docs use a project-style instead of a personal one.

Thanks for the work here!

[2022-05-19 08:36] #351 closed

[2022-05-19 08:38] mdelapenya commented on #300
Let's close this issue, as it seems fixed by the Docker for Mac upgrade. Apart from that, in #353 the examples were updated

[2022-05-19 08:38] #300 closed

[2022-05-19 08:41] mdelapenya commented on #319
Because #320 was merged, let's close this one, thanks for the report!

[2022-05-19 08:41] #319 closed

[2022-05-19 08:49] mdelapenya commented on #325
@smanierre did you check @Bablzz's pastebin https://pastebin.com/3iDahjbw?

This is the right way to pass the variables to the container, including the `POSTGRES_PASSWORD` in the container request's Env:

[code]

Apart from that, make sure you update the code for the BindMounts, there was a big refactor (and a breaking change) in https://github.com/testcontainers/testcontainers-go/pull/386

[2022-05-19 09:01] mdelapenya commented on #398
@edebernis we merged https://github.com/testcontainers/testcontainers-go/pull/420. Is that enough for your use case?

[2022-05-19 09:03] mdelapenya commented on #411
Gotestsum support rerunning failed tests: https://github.com/gotestyourself/gotestsum#re-running-failed-tests

We could give it a try for adding stability to the pipeline meanwhile we investigate this flakiness

[2022-05-19 09:08] edebernis commented on #398
with #420, the command outputs are still piped to standards (stdout / stderr).

IMHO, it would be better to allow the user to override this behavior by specifing custom io.Writer / io.Reader to store command outputs.
And use stdout / stderr by default if nothing is specified.

[2022-05-19 09:12] mdelapenya commented on #398
We will be more than happy to review a PR :)

[2022-05-19 15:23] #302 closed

[2022-05-26 02:50] tigerquoll commented on #315
v0.11.0 has fixed this issue - thanks

[2022-05-26 02:51] #315 closed

[2022-06-06 12:31] #299 closed

[2022-06-12 16:23] jasimmk commented on #430
Thanks for the variable. Looks like we can do something like this
[code]
to put a Linux/DockerMac compatible way  as specified in the [Stack overflow thread](https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-container-how-do-i-connect-to-the-localhost-of-the-mach)

[2022-06-13 16:16] #411 closed

[2022-06-17 15:45] VladimirStepanov commented on #304
@mdelapenya This is no bug, we should check custom status code

[code]

[2022-06-17 16:18] mdelapenya commented on #304
@VladimirStepanov thanks for creating a repro/no-repro snippet. Much appreciated!

@altosys can you double check what @VladimirStepanov suggests about using `WithStatusCodeMatcher`?

If it works for you, please feel free to close this issue.

Thanks!

[2022-06-17 19:35] fiftin commented on #343
@slsyy Why not use `NetworkMode: "host` ?

[2022-06-19 05:01] VladimirStepanov commented on #304
@mdelapenya I added test for this checking https://github.com/testcontainers/testcontainers-go/pull/469

If is it ok, i think we can close this issue

[2022-06-20 16:16] #158 closed

[2022-06-20 16:17] #304 closed

[2022-06-21 20:01] baez90 commented on #425
I'm actually wondering why not directly 'including' upstream `docker-compose` as version 2 is implemented in Go. I had a 'quick look' how hard it would be and I think it's actually not that hard to integrate it directly without having to pull any `docker-compose` in a container whatsoever. I'd be willing to give it a shot if there's some interest. This would actually make a few things easier if we

[2022-06-22 19:09] fiftin commented on #425
Hi @mdelapenya

I added `NativeDockerComposeExecutor` to my PR which uses docker-compose as library. It works.
But I faced problem with environment variables. We can't pass env vars to it separately from testcontainers.

[2022-06-23 20:04] baez90 commented on #425
@mdelapenya I know you're not going to like this but: how about another breaking change/deprecating the `DockerCompose` interface? :smile:

The current interface:

[code]

Isn't really idiomatic Go and doesn't really fit when working with the compose Go API.
I'm thinking about something like this:

[code]

type name is only a placeholder, I'm not so fond of it tbh and I'm also wondering if the flu

[2022-06-23 20:56] fiftin commented on #425
@baez90 because docker-compose has a lot of commands: 'up', 'down', etc and a lot of flags which parsed by cobra libarary. Do you want to do it yourself? What if authors of docker-compose add new flag in new version, you will modify your code?

Now I just send all args received from user to docker-compose command and it works.

[2022-06-24 06:16] baez90 commented on #425
1. I'm not sure if we actually need to support **all** commands `docker-compose` supports. From my perspective `up`, `down` and optionally `run` would suffice at least for the beginning.
2. at least for `up` and `run` the amount of options you can configure isn't really a lot and no, I don't intend to manually expose them all myself but I'd stick with the a very basic set and expose an option inte

[2022-06-26 19:06] fiftin commented on #425
@baez90 ,

I just followed current API. And it has methods `Invoke()`  and `WithCommand()` which accepts whole range of docker-compose commands and flags. I'm not a core team member to offer breaking changes to interface. If it possible, ok, your solution is better.

[2022-06-26 19:41] fiftin commented on #425
@baez90

Did you find public documentation for docker compose API. I'm didn't. Why you sure authors don't change API soon? I'm not sure that it is designed to be used as a library in external projects.

[2022-06-26 21:27] baez90 commented on #425
I'm aware that the current API isn't compatible with my proposal (even though it could be adopted for the time being) but we released breaking changes earlier and I think having an API that takes `context.Context` into account would be good no matter if spawning a process, creating a container or something else.

Regarding your concerns with the public API of compose I rather feel it the other way

[2022-06-27 07:47] mdelapenya commented on #425
@baez90 @fiftin I LOVE where this discussion is going driven by you two 👏

Wdyt if you both work on a complete revamp of the compose code to support the native API? @mazitovt already created a PR in https://github.com/testcontainers/testcontainers-go/pull/463, so probably could be of some help here.

If you all agree, we can freeze all compose-related PRs until this discussion is finished and we a

[2022-06-27 08:59] baez90 commented on #425
I wouldn't mind to work on this together? I'd like to wait what the `docker-compose` guys are going to tell us regarding using it as a library and depending on the output I'd love to come up with a new API covering `context.Context`, probably specific functions for `Up(...)` and `Down(...)` and some convenience functions like `Services() []string`, `ServiceContainer(serviceName string) (*DockerCon

[2022-06-27 10:43] mdelapenya opened #472 "Create contribution guidelines"
As we are receiving more contributions 🚀 🎸 we'd need to define how to contribute in a more standard manner.

Things that **I** like when doing a review of a PR:

- [x] has a self-explanatory title
- [x] has a great description where the what and why is properly explained
- [x] has tests
- [x] is never push-forced
- [x] updates the docs
- [x] passes the CI checks
- [x] passes the lint checks
- [x]

[2022-06-28 14:29] #332 closed

[2022-06-28 15:37] #365 closed

[2022-06-28 18:05] #350 closed

[2022-06-29 15:02] dtest commented on #212
I know this is an old issue, but I came across myself recently. Hopefully my findings help.

TL;DR: For the `wait.ForListeningPort("XXXX/tcp"),` command to work, the container must support net-tools (or whatever exposes [nc](https://github.com/testcontainers/testcontainers-go/blob/838c6e8ee90d3d0d4af5b733631613374c0d3d9c/wait/host_port.go#L126-128) for your image distro)

The problem is that my co

[2022-06-30 15:31] baez90 commented on #425
It appears so far neither of the approaches guarantees a stable API of `docker/compose`. While this isn't ideal I don't think this is a reason to dump the idea completely as it shouldn't be a real problem to hide the `docker/compose` API behind a custom API just like it is done already with the Docker client API. Of course breaking changes would require to adopt the testcontainers-go code a bit bu

[2022-06-30 16:05] mdelapenya commented on #425
I like deprecations, so if we go that way, I'm in 🙋

[2022-06-30 16:08] mdelapenya commented on #212
Hey @dtest sorry of you found the lack of debugging examples disturbing :) If you are able to help us with the docs/examples, that would be awesome!!

[2022-07-01 16:07] baez90 commented on #425
To improve further discussions I created a WIP PR containing the API based implementation I've been working on. I also duplicated the old test suite and adopted it for the API based one (including some additional tests).

I also added some options to showcase how it can be done in an `docker/compose` independent way which should make sure we can maintain a stable API even with breaking changes in

[2022-07-05 04:07] #423 closed

[2022-07-05 13:39] #439 closed

[2022-07-08 18:35] mozarik commented on #427
Yep same as me using docker exec and exec directly when in '-it' mode work. But testcontainers dont.

The thing that i want to run is pubsub emulator.

So the last thing that i do to satisfy my need is to used custom docker image.

[2022-07-09 07:09] purpleclay opened #482 "Testcontainers fails DependencyReview GitHub action due to detected vulnerabilities"
I have just started using `testcontainers-go` and while integrating it with my CI, the https://github.com/actions/dependency-review-action detects both `high` and `medium` vulnerabilities.

[code]

I am wondering whether this could be resolved by simply updating some of the dependencies within your `go.mod` file. For example:

github.com/containerd/containerd v1.5.9 is behind v1.6.6 which is the c

[2022-07-12 05:42] mdelapenya commented on #482
Hi @purpleclay, thanks for bringing this issue. Much appreciated! How would you see sending us a PR with the fix? If not possible, I can look for bandwidth nearly short to fix it myself

[2022-07-12 06:58] purpleclay commented on #482
@mdelapenya I will raise a PR with a fix

[2022-07-12 08:28] #482 closed

[2022-07-13 08:29] pulkitent opened #485 "Context deadline exceeded, host port waiting failed: failed to start container"
**Describe the bug**
Apologies if it is not a bug but kind of a blocker for me. I'm trying to start a Postgres container for my service isolation tests (or integration tests) in a GoLang service but I am getting the below error at line `testcontainers.GenericContainer()`

[code]

**To Reproduce**
I am sharing the code snippet that I am using to start my Postgres test container

[code]

**Expected

[2022-07-13 08:31] pulkitent commented on #485
Please let me know what I am missing here? Apologies for being a noob to Docker world

[2022-07-13 09:04] pulkitent commented on #485
One more thing I saw when I was debugging it in my GoLand IDE is that the Postgres variable on line 32 has data

<img width="1122" alt="Screenshot 2022-07-13 at 2 31 55 PM" src="https://user-images.githubusercontent.com/9362179/178695182-8bc1a9f2-e436-4f3c-89c5-7e498ab86154.png">

[2022-07-13 09:20] pulkitent commented on #485
I think the port should be default which is 5432 not 5433

`
ExposedPorts: []string{"5433/tcp"},
WaitingFor:   wait.ForListeningPort("5433/tcp"),
`

[2022-07-13 09:34] mdelapenya commented on #485
Yeah, I was confused about using that port instead of the default `5432`. Could you give it a try?

[2022-07-19 16:29] nikneroz opened #488 "Using FromDockerfile causing Runtime error"
**Describe the bug**
I'm testing ElasticSearch and need to load some plugins before the process starts. So I've decided to build it from Dockerfile When I switch configuration from `Image` to `FromDockerfile` it fails.

**To Reproduce**
[code]

Output
[code]

[code]

**Expected behavior**
It should build an image from a Dockerfile I provided

** docker info **
[code]

**Additional context**
This i

[2022-07-27 11:17] rohithm-angelone opened #489 "Unable to use redis cluster on test containers"
**Describe the bug**
Create a redis cluster using https://github.com/Grokzen/docker-redis-cluster. Then when we try to connect to the cluster using go-redis, the cluster redirects to a different moved ip with default port of 7001, 7002 etc. But test containers doesn't allow to expose static ports so the request gets rejected and we cant use cluster redis in test containers

**To Reproduce**
req :=

[2022-07-27 14:58] frozenbonito opened #490 "Why doesn't `url` function for `wait.ForSQL()` have a `host` parameter?"
I think `host` parameter is required for building a DSN string.

e.g.

[code]

[2022-08-01 11:50] deepakyadav commented on #169
Seems to be implemented in https://github.com/testcontainers/testcontainers-go/pull/464
Can we get a release?

[2022-08-01 12:37] mdelapenya commented on #169
Hopefully the release will be made soon, I need to step back for a few days on vacations, and after that will work a great release. Sorry for the inconvenience

In the meantime, do you think you can add a replace entry in your go.mod file pointing to the main branch?

[2022-08-01 12:38] mdelapenya commented on #169
Closing as #464 is merged, thanks!

[2022-08-01 12:38] #169 closed

[2022-08-02 06:57] mdelapenya opened #492 "Retire Go 1.14 and 1.15 from CI checks"
I'd deprecate both versions because both are not supported anymore: https://endoflife.date/go

<img width="761" alt="Screenshot 2022-08-02 at 08 55 51" src="https://user-images.githubusercontent.com/951580/182311343-4c43ced2-db07-4116-b570-ca996ea45c22.png">

_Originally posted by @mdelapenya in https://github.com/testcontainers/testcontainers-go/issues/444#issuecomment-1202092673_

[2022-08-02 14:59] #492 closed

[2022-08-08 16:23] sneko commented on #399
In my case I try to use `testcontainers` in my CI/CD and to not mess with DinD (docker in docker) I try to use https://github.com/joyrex2001/kubedock (emulating Docker API to create the container on Kubernetes) but for this it requires disabling RYUK (since no real docker available).

As @austince I'm looking for a way to disable Ryuk through `TESTCONTAINERS_RYUK_DISABLED=true`.

Any published Doc

[2022-08-11 14:00] baez90 opened #496 "Improve experience when using testcontainers-go nested in a container"
Currently the experience of using testcontainers-go within a container isn't that great because when accessing mapped ports via `Container.Host(context.Context) (string, error)` it only checks if the Docker host is a local or a remote host but when running e.g. in a containerized CI process this will fail because the ports obviosly aren't mapped to the container but to the host.

[testcontainers-d

[2022-08-12 21:43] altosys commented on #336
Any progress on this?

[2022-08-12 21:43] altosys commented on #336
Any progress on this?

[2022-08-12 22:14] mdelapenya commented on #336
Hey @altosys it was merged in #414. Not released yet though, although it will come soon

[2022-08-13 08:46] altosys commented on #336
Yeah I was looking for documentation on how to use testcontainers-go with podman an didn't find any, so I assumed it wasn't quite ready. Do you have a time frame that is more specific than "soon"? It's very hard for me to tell what that means since the discussion here has been quiet since April.

[2022-08-13 10:14] mdelapenya commented on #336
I'm currently on summer PTO, end of month could be an accurate estimation

[2022-08-13 14:17] baez90 commented on #336
I'll try to also add some docs till then - end of August sounds reasonable to write at least some hints/examples

[2022-08-24 17:03] mdelapenya opened #502 "Replicate Java's issue templates in Go"
We want:
- Feature
- Enhancement
- Bug
- Question -> redirect to Discussions
- Need Help -> redirect to Slack

[2022-08-24 19:20] #502 closed

[2022-08-25 05:58] #472 closed, assigned to nobody

[2022-08-25 06:01] mdelapenya commented on #441
Because the podman issue seems closed, what are we missing to resolve this issue?

[2022-08-25 06:02] mdelapenya commented on #425
How do you feel if I convert this thread to a Discussion?

[2022-08-25 06:24] mdelapenya commented on #399
@mniak I think your initial issue with the variable was resolved in #407 and refactored in #414.

[2022-08-25 06:26] mdelapenya commented on #399
@sneko what do you think if we start a discussion on how to redesign this part of the code, supporting a property/env-var to disable Ryuk at the configuration level (probably overridden at the containerRequest level)?

[2022-08-25 07:39] mdelapenya commented on #21
There is a team effort where, in the long term, we'd like to create an homogeneous experience using any of the supported languages.

I'm closing this issue, but @mraerino please reopen it if you have any other concern or question. Thanks!

[2022-08-25 07:39] #21 closed

[2022-08-25 07:59] mdelapenya commented on #112
I think this thread belongs to the Discussions section much better than here. I'll move it there

[2022-08-25 08:04] mdelapenya commented on #260
@shashank-g172 I'm still not able to reproduce this is issue, so I'm closing it now.

Please feel free to reopen it if you are still seeing what's described here

Thanks!

[2022-08-25 08:04] #260 closed

[2022-08-25 09:04] baez90 commented on #441
I'll have a look for the corresponding `t.Skip()` in the tests and remove it in the upcoming week

[2022-08-25 09:06] baez90 commented on #425
Fine for me if there's more to discuss?

[2022-08-25 09:22] mdelapenya commented on #425
I'd like to give a bit of traction leveraging GH discussions, therefore I'm moving issues that are actually discussions to there, and this one seemed a great candidate

[2022-08-25 10:28] mdelapenya commented on #22
I think it makes sense to move this thread to Discussions

[2022-08-29 02:44] anuraaga opened #511 "[Enhancement]: Release docs from release tag"
### Proposal

I noticed this page in the docs that mentions the `Files:` pattern of precopying files

https://golang.testcontainers.org/features/copy_file/

But this isn't in the latest release tag v0.13.0 so it's confusing that the API can't be used. I think the docs are tagged together with the code in this repo, so perhaps they could be released from the tag as well.

[2022-08-29 07:42] mdelapenya commented on #511
Hi @anuraaga thanks for proposing this change, which I can share with you is a topic of high interest to us internally.

I agree with you it could lead to confusion and eventual disappointment, but there are reasons nowadays that impede us to do it in a different manner.

First, having the docs living in the same repository makes it difficult (although not impossible) to sync releases and docs. Di

[2022-08-29 14:14] anuraaga commented on #511
Thanks for the context @mdelapenya - I had just noticed that the `docs` folder is in this repository together with the code, which I believe is the website. Given that, isn't the versioning issue quite easy since a new feature can add docs in the exact same PR, and the code and docs would be tagged with a release together when ready? It looks fairly easy to keep in sync unless I'm missing somethin

[2022-08-29 21:10] marcpfuller opened #512 "[Enhancement]: add withLogConsumer() method to dockerComposeContainer similar to testcontainer-java"
### Proposal

This feature has already been added to testcontainers-java. Can this also be added to testcontainers-go. I have added the PR for the feature in testcontainter-java

https://github.com/testcontainers/testcontainers-java/pull/629

[2022-08-31 06:09] mdelapenya opened #513 "Support returning all IP addresses of a container instead of just one"
_Originally posted by @leszko in https://github.com/testcontainers/testcontainers-go/pull/491#discussion_r932962603_

[2022-09-01 06:20] Malinskiy commented on #374
Unfortunately, this is not the full fix for the issue: short-running containers e.g. initialisation of some sort and wait strategy like `wait.ForExit()` in general might not have a container running during the wait strategy execution so the search for the container will fail unless an option for [All](https://github.com/moby/moby/blob/e60bddcc603f876e58021e69b81acba5b15305e7/api/types/client.go#L6

[2022-09-02 06:49] mdelapenya opened #516 "[Feature]: support copying directories and files in the CopyToContainer method"
### Problem

It could be the case the test needs an entire directory to be copied into the container, even before the container is created. With current code, it only checks that the path is a file (we try to simply read it), failing with an error if that path represents a directory

### Solution

We could detect if the file is directory, and tar the entire directory, passing the buffer after it

[2022-09-07 22:41] Chrisss93 opened #519 "Podman logs don't recover from closed network connection"
### Proposal

I'm testing out running testcontainers-go HEAD with podman 4.2.0 using the latest changes from #414 . I am running podman on MacOS through qemu virtualization using podman machine. I'm not sure if its in this project's power to fix this it but its worth mentioning that when testcontainers-go is reading logs from a podman container, it  can no longer recover from closed network errors

[2022-09-08 18:57] rvichery commented on #389
@mdelapenya running into a similar issue on simple pull images from ECR (despite being logged in already). Looks like the go implementation for testcontainer does not handle loading the docker config.json when no RegistryCred are passed. The java implementation for testcontainer seems to handle this by default. Are you open for a contribution to implement a similar behavior in the go implementatio

[2022-09-09 07:45] mdelapenya commented on #389
@rvichery thanks for pinging us about this issue, your contributions are super welcomed!! So feel free to elaborate a PR describing the use case it solves. Having Java code as a reference is a good thing to follow, so please reference it whenever you need it.

[2022-09-09 07:49] mdelapenya commented on #389
@matdehaast sorry for the radio silence, for some reason this message felt out of my radar, my bad 😞

I know @rvichery is willing to contribute a fix, but if you want to participate too, I wonder if you both would be interested in opening a [discussion](https://github.com/testcontainers/testcontainers-go/discussions) to collaborate in the fix. wdyt?

[2022-09-09 07:52] #516 closed

[2022-09-10 02:42] #512 closed

[2022-09-12 12:02] mdelapenya commented on #490
Hi @frozenbonito, thanks for opening this question. Did you check the existing test cases that we have on that? Both https://github.com/testcontainers/testcontainers-go/blob/main/e2e/container_test.go and https://github.com/testcontainers/testcontainers-go/blob/main/wait/sql_test.go could help you, as they demonstrate its usage.

Could you please elaborate a bit more your use case and why you need

[2022-09-12 15:34] #234 closed

[2022-09-12 16:32] frozenbonito commented on #490
@mdelapenya
Thank you for comment.

I think that the host of the container may not be `localhost`, for example if `TC_HOST` env variable is required.
HTTPStragety supports this case because `target.Host()` is used in `WaitUntilReady()`.

https://github.com/testcontainers/testcontainers-go/blob/a99f30793e285b89d898f6c1ad511cee1ad7d306/wait/http.go#L124

https://pkg.go.dev/github.com/testcontainers/

[2022-09-13 07:29] mdelapenya commented on #490
Thanks for marking it as a breaking change, we do care about them, and we appreciate your effort looking for the usages.

Because the library is not in v1 yet, which is something we plan in the short/medium term, a well-documented breaking change would be something to accept, so feel free to send a contribution, we'll be more than happy for reviewing it!

[2022-09-15 07:43] #490 closed

[2022-09-15 10:56] mdelapenya commented on #126
I think we can close this issue, as it was implemented in #435 and released in [`v0.14.0`](https://github.com/testcontainers/testcontainers-go/releases/tag/v0.14.0): it returns the output reader instead of its string representation, so the consumers will handle it in whatever manner they want.

Please consider that it represents a breaking change

Thanks everybody here for your support!

[2022-09-15 10:56] #126 closed

[2022-09-15 11:01] mdelapenya commented on #136
Hi @nikolayk812 I'm triaging this repository and found this outdated issue, sorry for the late response 😞.

Is it still of your interest adding logs to the pull-image step? If so, would you be willing to send a contribution?

Thanks for your time here

[2022-09-15 11:12] mdelapenya commented on #142
Let's close this one, as there are tests demonstrating its usage: https://github.com/testcontainers/testcontainers-go/blob/769d576b0b7768e30b27a43aac71dadac95a8452/e2e/container_test.go#L16

Please feel free to reopen if you need anything else from this issue.

Thanks!

[2022-09-15 11:12] #142 closed

[2022-09-15 11:19] mdelapenya commented on #152
Since we do run `go build` in Linux, Windows and Mac, I'd say this issue is no longer reproducible at least since [`v0.10.0`](https://github.com/testcontainers/testcontainers-go/releases/tag/v0.10.0).

Could you please double check with the latest version of tc-go? If still seeing the issue, please reopen so we can dig into the root cause. Thanks in advance!!

[2022-09-15 11:19] #152 closed

[2022-09-15 11:32] mdelapenya commented on #156
@ClaytonNorthey92 I'm closing this issue because I think it's been resolved in https://github.com/testcontainers/testcontainers-go/pull/407, supporting the `TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE` environment variable, and released with the latest [`v0.14.0`](https://github.com/testcontainers/testcontainers-go/releases/tag/v0.14.0) release.

Could you please double check if the latest release resol

[2022-09-15 11:32] #156 closed

[2022-09-15 15:46] mdelapenya opened #525 "[Enhancement]: improve the experience using log producers"
### Proposal

When needing to check logs for a container, we have to:
- define a log producer
- implement the accept function

This is fairly simple, but not very developer friendly.

We could provide a default log producer that outputs container logs to console, which is enabled/disabled in the container request, default true.

Then we would be able to see container logs at the moment they are pr

[2022-09-15 16:26] mdelapenya commented on #228
Hi @chambodn I think this issue can be closed, as since https://github.com/testcontainers/testcontainers-go/pull/461 it's possible to set the `shmSize` of a container.

On the other hand, it would be great that, instead of setting the `shmSize` attribute, we define a consistent manner of building a HostConfig struct. We currently do this, building it from several sources:

[code]

wdyt? Would you

[2022-09-15 16:29] mdelapenya commented on #246
@franklinlindemberg we would like to start the discussion on module (formerly called `canned`) containers: https://github.com/testcontainers/testcontainers-go/discussions/509 (we converted the issue into a Discussion).

Would you be willing to participate in there? If so, can we close this issue and continue in the discussion thread? Thanks!

[2022-09-15 16:45] mdelapenya commented on #285
@normanjaeckel I added a comment in https://github.com/testcontainers/testcontainers-go/pull/457, which asks for delaying the review of #457 after the revamp of the docker-compose module in #476 takes place

[2022-09-15 17:33] #312 closed

[2022-09-15 17:50] mdelapenya commented on #313
@jackzampolin I'm closing this issue as stale. Feel free to reopen it if you see the interest in it.

Thanks for participating in the community 😊

![image](https://media.giphy.com/media/42YlR8u9gV5Cw/giphy.gif)

[2022-09-15 17:50] #313 closed

[2022-09-15 17:57] mdelapenya commented on #317
@baez90 I'm closing this issue in favor of https://github.com/testcontainers/testcontainers-go/discussions/510, as a discussion. Do you mind if I copy your comment in there before that?

[2022-09-15 18:15] mdelapenya commented on #321
Hi @Eun I'm not able to reproduce this bug yet, using the same repro code shared here.

Could you please double check if it's still happening on your side? 🙏

[2022-09-15 18:24] mdelapenya commented on #321
OTOH let me rephrase it myself: do you think all the usages of the `provider.client` should automatically `Close` the connection? 🤔

[2022-09-15 18:25] mdelapenya commented on #324
@naveenchlsn does https://github.com/testcontainers/testcontainers-go/issues/324#issuecomment-849426711 resolve your use case?

[2022-09-15 18:26] mdelapenya commented on #325
@smanierre @spinningarrow @Bablzz I think we can close this issue as stale.

Do you mind if I do it? Thanks!